<div class="container mx-auto relative">
  <app-iutube-search id="iutubeFilter" />
  <div class="grid grid-cols-12 my-4">
    <div class="col-span-12">
      <div class="grid grid-cols-12 min-h-[300px] shadow-xl rounded-xl relative bg-black-violet-orange-180">
        <div class="col-span-12 lg:col-span-6 flex items-center relative overflow-hidden text-white">
            <div class="z-10 p-4 lg:pl-5">
              <p class="text-xl lg:text-2xl font-bold">
                {{"IUTUBE_TITLE"|translate}}
              </p>
              <p class="text-sm mt-5">
                {{"IUTUBE_SUB_TITLE"|translate}}
              </p>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-6 flex justify-center items-end">
          <img src="/assets/images/bear-iutube.webp" class="max-w-[300px] md:max-w-[500px]"/>
        </div>
        </div>
    </div>
  </div>
  <div class="grid grid-cols-12" *ngIf="subjects">
    <div class="col-span-12" id="iutubeSubject">
      <owl-carousel-o [options]="customOptions" class="py-2 px-3">
        <ng-template carouselSlide *ngFor="let subject of subjects">
          <div (click)="redirectTo(subject.id)" class="cursor-pointer">
            <div class="w-full flex justify-center items-center">
              <img
                style="width: 50px!important; height: 50px!important;"
                class="rounded-full border-2 border-[#ff914d]" src="{{ImageHelper.getImage(subject.image?.url)}}" />
            </div>
            <p class="text-xs text-center my-2 main-orange-color">
              {{subject | globalTranslate:"title":translate.currentLang}}
            </p>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-5 my-5" *ngIf="iutubeVideos">
    <div class="col-span-12 my-5" *ngIf="iutubeVideos.recommended.length > 0">
      <p class="text-lg lg:text-xl xl:text-3xl text-white font-bold">
       {{"RECOMENDED_VIDEOS"|translate}}
      </p>
    </div>
    <div
      id="iutubeVideo"
      *ngFor="let recommendedVideo of iutubeVideos.recommended"
      class="col-span-12 sm:col-span-6 lg:col-span-4 2xl:col-span-3 border-red-500 cursor-pointer min-h-[280px] mt-2 h-full w-full rounded-xl shadow-xl">
      <app-iutube-card-vertical [iutube-video]="recommendedVideo"/>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-5 my-5" *ngIf="iutubeVideos">
    <div class="col-span-12 my-5" *ngIf="iutubeVideos.public_videos.length > 0">
      <p class="text-lg lg:text-xl xl:text-3xl text-white font-bold">
        {{"INTERESED_VIDEOS"|translate}}
      </p>
    </div>
    <div
      *ngFor="let recommendedVideo of iutubeVideos.public_videos"
      class="col-span-12 sm:col-span-6 lg:col-span-4 2xl:col-span-3 border-red-500 cursor-pointer min-h-[280px] mt-2 h-full w-full rounded-xl shadow-xl">
      <app-iutube-card-vertical [iutube-video]="recommendedVideo"/>
    </div>
  </div>

  <app-information-bear [pageName]="'iutube_'"/>
</div>

