<div class="container mx-auto">
  <div class="grid grid-cols-12">
    <div class="col-span-12 bg-green-500 flex justify-center items-center h-full">
      <div class="rocket-league">
        <div class="planet">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="rocket relative">
            <img src="assets/images/single_subject.webp" class="absolute max-h-[50px] sm:max-h-[75px] md:max-h-[100px] xl:max-h-[150px] bottom-[5%] sm:bottom-[10%] md:bottom-[15%] left-[5%] sm:left-[10%] rotate-[270deg]"/>
        </div>
      </div>
    </div>
  </div>
</div>

