<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-3" *ngIf="subjects">
    <div class="col-span-12">
      <select [ngModel]="activeSubjectId" (ngModelChange)="selectSubject($event)" id="large" class="block w-full px-4 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option class="font-bold text-lg" selected value="{{null}}">{{"ALL"|translate}}</option>
        <option class="font-bold text-lg" value="{{subjectItem.id}}" *ngFor="let subjectItem of subjects" [ngStyle]="{'color':colors[subjectItem.id.toString()]}">
          {{subjectItem | globalTranslate:"title": translate.currentLang}}
        </option>
      </select>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-3 my-3" *ngIf="activeSubject">
    <div class="col-span-12 flex items-center justify-center">
      <div class="shadow-lg bg-white rounded-lg h-full cursor-pointer w-full max-w-[372px]">
        <div class="header-card rounded-tr-lg rounded-tl-lg text-center h-[220px] py-3"
             [ngStyle]="{'background':colors[activeSubject.tag]}"
        >
          <div class="flex justify-center items-center">
            <div class="h-24 w-24 rounded-full bg-cover bg-no-repeat my-2 border-white border-2" [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(getSubjectByPlan(activeSubject.tag)?.image?.url) +')'}"></div>
          </div>
          <div class="my-3">
            <p class="text-md lg:text-lg xl:text-xl 2xl:text-2xl text-white font-bold">
              {{getSubjectByPlan(activeSubject.tag) | globalTranslate:"title": translate.currentLang}}
            </p>
          </div>
        </div>
        <div class="header-body p-3 rounded-br-lg rounded-bl-lg">
          <div class="text-center my-3 flex justify-center items-end">
            <p class="text-lg md:text-xl lg:text-2xl xl:text-4xl  font-bold"  [ngStyle]="{'color':colors[activeSubject.tag]}">
              {{activeSubject.price}} {{activeSubject.currency}}
            </p><p class="text-md md:text-lg  font-bold">/ 1 {{"MONTH"|translate}}</p>
          </div>
          <div class="header-content px-3">
            <div class="relative overflow-x-auto">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <tbody>
                <tr class="bg-white rounded-2xl">
                  <td class="py-3">
                    <div class="flex" [ngStyle]="{'color':colors[activeSubject.tag]}">
                      <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                      <p class="text-sm md:text-lg ml-2" [ngStyle]="{'color':colors[activeSubject.tag]}">
                        {{getStatByPlan(activeSubject.tag)?.steps}} {{"STEPS_INFO"|translate}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="bg-white rounded-2xl">
                  <td class="py-3">
                    <div class="flex" [ngStyle]="{'color':colors[activeSubject.tag]}">
                      <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                      <p class="text-sm md:text-lg ml-2">
                        {{getStatByPlan(activeSubject.tag)?.sub_steps}} {{"SUB_STEPS_INFO"|translate}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="bg-white rounded-2xl">
                  <td class="py-3">
                    <div class="flex" [ngStyle]="{'color':colors[activeSubject.tag]}">
                      <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                      <p class="text-sm md:text-lg ml-2">
                        {{getStatByPlan(activeSubject.tag)?.videos}} {{"VIDEO_LESSON"|translate}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="bg-white rounded-2xl">
                  <td class="py-3">
                    <div class="flex" [ngStyle]="{'color':colors[activeSubject.tag]}">
                      <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                      <p class="text-sm md:text-lg ml-2">
                        {{getStatByPlan(activeSubject.tag)?.contents}} {{"UNIQUE_MATERIALS"|translate}}
                      </p>
                    </div>
                  </td>
                </tr>
                <tr class="bg-white rounded-2xl">
                  <td class="py-3">
                    <div class="flex" [ngStyle]="{'color':colors[activeSubject.tag]}">
                      <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                      <p class="text-sm md:text-lg ml-2">
                        {{getStatByPlan(activeSubject.tag)?.questions}} {{"TASKS_FOR_SELF"|translate}}
                      </p>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="header-action text-center py-3">
            <a
              [ngStyle]="{'background':colors[activeSubject.tag]}"
              class="w-[130px]  cursor-pointer text-white focus:outline-none focus:ring-4 font-bold rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
              <fa-icon [icon]="faCoins" class="mr-2"></fa-icon>
              {{"BUY"|translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-3 my-3" *ngIf="plans && !activeSubject">
    <div class="col-span-12 my-5" >
      <owl-carousel-o [options]="customOptions" class="py-2">
        <ng-template carouselSlide *ngFor="let plan of plans.plans">
          <div class="shadow-lg bg-white rounded-lg h-full cursor-pointer">
            <div class="header-card rounded-tr-lg rounded-tl-lg text-center h-[220px] py-3"
                 [ngStyle]="{'background':colors[plan.tag]}"
            >
              <div class="flex justify-center items-center">
                <div class="h-24 w-24 rounded-full bg-cover bg-no-repeat my-2 border-white border-2" [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(getSubjectByPlan(plan.tag)?.image?.url) +')'}"></div>
              </div>
              <div class="my-3">
                <p class="text-md lg:text-lg xl:text-xl 2xl:text-2xl text-white font-bold">
                  {{getSubjectByPlan(plan.tag) | globalTranslate:"title": translate.currentLang}}
                </p>
              </div>
            </div>
            <div class="header-body p-3 rounded-br-lg rounded-bl-lg">
              <div class="text-center my-3 flex justify-center items-end">
                <p class="text-lg md:text-xl lg:text-2xl xl:text-4xl  font-bold"  [ngStyle]="{'color':colors[plan.tag]}">
                  {{plan.price}} {{plan.currency}}
                </p><p class="text-md md:text-lg  font-bold">/ 1 {{"MONTH"|translate}}</p>
              </div>
              <div class="header-content px-3">
                <div class="relative overflow-x-auto">
                  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <tbody>
                    <tr class="bg-white rounded-2xl">
                      <td class="py-3">
                        <div class="flex" [ngStyle]="{'color':colors[plan.tag]}">
                          <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                          <p class="text-sm md:text-lg ml-2" [ngStyle]="{'color':colors[plan.tag]}">
                            {{getStatByPlan(plan.tag)?.steps}} {{"STEPS_INFO"|translate}}
                          </p>
                        </div>
                      </td>
                    </tr>
                    <tr class="bg-white rounded-2xl">
                      <td class="py-3">
                        <div class="flex" [ngStyle]="{'color':colors[plan.tag]}">
                          <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                          <p class="text-sm md:text-lg ml-2">
                            {{getStatByPlan(plan.tag)?.sub_steps}} {{"SUB_STEPS_INFO"|translate}}
                          </p>
                        </div>
                      </td>
                    </tr>
                    <tr class="bg-white rounded-2xl">
                      <td class="py-3">
                        <div class="flex" [ngStyle]="{'color':colors[plan.tag]}">
                          <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                          <p class="text-sm md:text-lg ml-2">
                            {{getStatByPlan(plan.tag)?.videos}} {{"VIDEO_LESSON"|translate}}
                          </p>
                        </div>
                      </td>
                    </tr>
                    <tr class="bg-white rounded-2xl">
                      <td class="py-3">
                        <div class="flex" [ngStyle]="{'color':colors[plan.tag]}">
                          <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                          <p class="text-sm md:text-lg ml-2">
                            {{getStatByPlan(plan.tag)?.contents}} {{"UNIQUE_MATERIALS"|translate}}
                          </p>
                        </div>
                      </td>
                    </tr>
                    <tr class="bg-white rounded-2xl">
                      <td class="py-3">
                        <div class="flex" [ngStyle]="{'color':colors[plan.tag]}">
                          <fa-icon [icon]="faCheckCircle" class=" text-sm md:text-lg"></fa-icon>
                          <p class="text-sm md:text-lg ml-2">
                            {{getStatByPlan(plan.tag)?.questions}} {{"TASKS_FOR_SELF"|translate}}
                          </p>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="header-action text-center py-3">
                <a
                  [ngStyle]="{'background':colors[plan.tag]}"
                  class="w-[130px]  cursor-pointer text-white focus:outline-none focus:ring-4 font-bold rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                  <fa-icon [icon]="faCoins" class="mr-2"></fa-icon>
                  {{"BUY"|translate}}
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
