<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-12 xl:col-span-5 mx-3 p-4 order-2 xl:order-1" *ngIf="stats">
      <div class="grid grid-cols-12 my-4 gap-3">
        <div class="col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-6">
          <div class="main-violet-first-rounded bg-black-violet-orange-180-05 p-4 md:flex items-center shadow-lg rounded-2xl h-full">
            <div class="md:w-4/12 p-2 text-center grid justify-center">
              <div class="rounded-full main-orange-bg h-16 w-16 flex justify-center items-center self-center">
                <fa-icon [icon]="faBook" class="text-2xl text-white" />
              </div>
            </div>
            <div class="md:w-8/12 p-4 break-words">
              <p class="text-md md:text-lg text-center md:text-left font-bold text-white">
                {{stats.attempt_count}}
              </p>
              <p class="text-sm md:text-md text-center md:text-left text-white">
                {{"TOTAL"|translate}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-6">
          <div class="main-violet-first-rounded bg-black-violet-orange-180-05 p-4 md:flex items-center shadow-lg rounded-2xl h-full">
            <div class="md:w-4/12 p-2 text-center grid justify-center">
              <div class="rounded-full main-orange-bg h-16 w-16 flex justify-center items-center self-center">
                <fa-icon [icon]="faSquarePollVertical" class="text-2xl text-white" />
              </div>
            </div>
            <div class="md:w-8/12 p-4 break-words">
              <p class="text-md md:text-lg text-center md:text-left font-bold text-white">
                {{stats.attempt_question_count}}
              </p>
              <p class="text-sm md:text-md text-center md:text-left text-white">
                {{"TOTAL_QUESTION_PASSED"|translate}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-6">
          <div class="main-violet-first-rounded bg-black-violet-orange-180-05 p-4 md:flex items-center shadow-lg rounded-2xl h-full">
            <div class="md:w-4/12 p-2 text-center grid justify-center">
              <div class="rounded-full main-orange-bg h-16 w-16 flex justify-center items-center self-center">
                <fa-icon [icon]="faFlagCheckered" class="text-2xl text-white" />
              </div>
            </div>
            <div class="md:w-8/12 p-4 break-words">
              <p class="text-md md:text-lg text-center md:text-left font-bold text-white">
                {{stats.attempt_count_unfinished}}
              </p>
              <p class="text-sm md:text-md text-center md:text-left text-white">
                {{"UNFINISHED"|translate}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-6">
          <div class="main-violet-first-rounded bg-black-violet-orange-180-05 p-4 md:flex items-center shadow-lg rounded-2xl h-full">
            <div class="md:w-4/12 p-2 text-center grid justify-center">
              <div class="rounded-full main-orange-bg h-16 w-16 flex justify-center items-center self-center">
                <fa-icon [icon]="faUserGraduate" class="text-2xl text-white" />
              </div>
            </div>
            <div class="md:w-8/12 p-4 break-words">
              <p class="text-md md:text-lg text-center md:text-left font-bold text-white">
                {{stats.average}}
              </p>
              <p class="text-sm md:text-md text-center md:text-left text-white">
                {{"AVERAGE_RATING"|translate}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 main-violet-first-rounded bg-black-violet-orange-180-05 rounded-2xl p-4 shadow-lg md:flex items-center">
          <canvas
            baseChart
            class="chart"
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType"
          >
          </canvas>
        </div>
      </div>


    </div>

    <div class="col-span-12 xl:col-span-7 mx-3 p-4 order-1 xl:order-2" *ngIf="stats">
      <div class="main-violet-first-rounded bg-black-violet-orange-180-05 mx-3 p-4 rounded-2xl shadow-2xl">
        <div class="relative overflow-x-auto" *ngIf="stats.results.data">
          <table class="w-full text-sm text-left text-white">
            <thead class="text-xs text-white capitalize">
            <tr>
              <th scope="col" class="px-6 py-3">
                #
              </th>
              <th scope="col" class="px-6 py-3">
                {{"SUBJECTS"|translate}}
              </th>
              <th scope="col" class="px-6 py-3">
                {{"RESULT"|translate}}
              </th>
              <th scope="col" class="px-6 py-3">
                {{"END_AT"|translate}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="rounded-2xl my-2 border-b border-gray-300" *ngFor="let attempt of stats.results.data | paginate: { itemsPerPage: stats.results.per_page, currentPage: stats.results.current_page,totalItems:stats.results.total }">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex justify-center items-center">
                <div class="w-12 h-12 rounded-full bg-[url('assets/images/many-mode.webp')] bg-cover bg-no-repeat my-2"></div>
                <p class="font-bold text-white ml-2 inline-block">#{{attempt.id}}</p>
              </th>
              <td class="px-6 py-4">
                <ul class="text-white ml-2" *ngIf="attempt.subjects">
                  <li class="text-sm list-item list-decimal" *ngFor="let subject of attempt.subjects">
                    {{subject | globalTranslate:"title": translate.currentLang}}
                  </li>
                </ul>
              </td>
              <td class="px-6 py-4">
                <p class="text-white ml-2 font-bold">{{attempt.points}} из {{attempt.max_points}}</p>
              </td>
              <td class="px-6 py-4">
                <p *ngIf="attempt.end_at;else countdownTimer" class="text-white ml-2">{{moment(attempt.end_at).format('DD/MM/YYYY HH:mm')}}</p>
                <ng-template #countdownTimer>
                  <countdown class="main-orange-color" [config]="{leftTime:attempt.time_left/1000}"></countdown>
                </ng-template>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="my-2 flex justify-center" *ngIf="stats.results.last_page > 1">
            <pagination-controls [previousLabel]="'PREVIOUS_PAGINATION' | translate"
                                 [nextLabel]="'NEXT_PAGINATION' | translate"
                                 [responsive]="true" class="rounded-full" (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
