<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-12 md:col-span-12 lg:col-span-6 xl:col-span-5 p-3 m-2  rounded-lg shadow-2xl border-[#9BA1FF] border-2">
      <div class="my-2 py-3 px-4 rounded-full main-secondary-bg text-center">
        <p class="text-md md:text-sm md:text-lg lg:text-xl xl:text-2xl text-white font-bold">Купить доступ к тренажеру ЕНТ</p>
      </div>
      <div class="mt-5 mb-2 p-3">
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <tbody>
            <tr class="bg-white rounded-2xl my-3">
              <td class="py-3">
                <p class="text-black text-sm md:text-lg ml-2 font-bold">Безлимитная сдача ЕНТ</p>
              </td>
              <td class="py-3">
                <fa-icon [icon]="faCheckCircle" class="main-secondary-color text-sm md:text-lg"></fa-icon>
              </td>
            </tr>
            <tr class="bg-white rounded-2xl my-3">
              <td class="py-3">
                <p class="text-black text-sm md:text-lg ml-2 font-bold">Выбор из более чем 16 предметов</p>
              </td>
              <td class="py-3">
                <fa-icon [icon]="faCheckCircle" class="main-secondary-color text-sm md:text-lg"></fa-icon>
              </td>
            </tr>
            <tr class="bg-white rounded-2xl my-3">
              <td class="py-3">
                <p class="text-black text-sm md:text-lg ml-2 font-bold">Мультиязычная поддержка</p>
              </td>
              <td class="py-3">
                <fa-icon [icon]="faCheckCircle" class="main-secondary-color text-sm md:text-lg"></fa-icon>
              </td>
            </tr>
            <tr class="bg-white rounded-2xl my-3">
              <td class="py-3">
                <p class="text-black text-sm md:text-lg ml-2 font-bold">Самые актуальные вопросы</p>
              </td>
              <td class="py-3">
                <fa-icon [icon]="faCheckCircle" class="main-secondary-color text-sm md:text-lg"></fa-icon>
              </td>
            </tr>
            <tr class="bg-white rounded-2xl my-3">
              <td class="py-3">
                <p class="text-black text-sm md:text-lg ml-2 font-bold">Более 1.000.000 вопросов</p>
              </td>
              <td class="py-3">
                <fa-icon [icon]="faCheckCircle" class="main-secondary-color text-sm md:text-lg"></fa-icon>
              </td>
            </tr>
            <tr class="bg-white rounded-2xl my-3">
              <td class="py-3">
                <p class="text-black text-sm md:text-lg ml-2 font-bold">Различные режимы тренировок</p>
              </td>
              <td class="py-3">
                <fa-icon [icon]="faCheckCircle" class="main-secondary-color text-sm md:text-lg"></fa-icon>
              </td>
            </tr>
            <tr class="bg-white rounded-2xl my-3">
              <td class="py-3">
                <p class="text-black text-sm md:text-lg ml-2 font-bold">Полная статистика по предмету</p>
              </td>
              <td class="py-3">
                <fa-icon [icon]="faCheckCircle" class="main-secondary-color text-sm md:text-lg"></fa-icon>
              </td>
            </tr>
            <tr class="bg-white rounded-2xl my-3">
              <td class="py-3">
                <p class="text-black text-sm md:text-lg ml-2 font-bold">Подарки и ценные призы</p>
              </td>
              <td class="py-3">
                <fa-icon [icon]="faCheckCircle" class="main-secondary-color text-sm md:text-lg"></fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
