<div class="container mx-auto relative" *ngIf="careerQuizList">
  <div class="grid grid-cols-12 gap-3 mb-4">
    <div class="col-span-12 md:col-span-6 lg:col-span-7 my-2" id="careerBuy">
      <div class="w-full bg-black-violet-orange-180-05 main-violet-first-rounded rounded-xl">
        <div class="grid grid-cols-12 gap-3 min-h-[400px]">
          <div class="col-span-12 md:col-span-6 w-full h-full flex justify-center md:justify-start items-center p-3">
            <div class="px-3">
              <div class="text-white">
                <p class="text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-bold">
                  {{"OPEN_YOUR_CAREER"|translate}}
                </p>
                <p class="text-sm md:text-md my-2">
                  {{"OPEN_YOUR_CAREER_TITLE"|translate}}
                </p>
              </div>
              <a routerLink="/{{RoutesName.careerQuizPlan}}"
                 class="inline-block mt-4 bg-violet-first main-violet-first-rounded cursor-pointer text-white text-sm px-5 py-3 rounded-full  font-bold uppercase">
                {{"BUY"|translate}} <fa-icon [icon]="faChevronRight" class="ml-2"></fa-icon>
              </a>
            </div>
          </div>
          <div class="col-span-12 md:col-span-6 w-full h-full flex justify-center  items-end">
              <img class="max-w-[200px] lg:max-w-[300px]" src="assets/images/prof.webp"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-5 my-2" id="careerHistory">
      <div class="w-full bg-black-violet-orange-180-05 main-violet-first-rounded rounded-xl">
        <div class="grid grid-cols-12 gap-3 min-h-[400px]">
          <div class="col-span-12 md:col-span-6 w-full h-full flex justify-center md:justify-start items-center p-3">
            <div class="px-3">
              <div class="text-white">
                <p class="text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-bold">
                  {{"CAREER_STAT"|translate}}
                </p>
                <p class="text-sm md:text-md my-2">
                  {{"CAREER_STAT_TITLE"|translate}}
                </p>
              </div>
              <a routerLink="/{{RoutesName.myCareerQuizAttempts}}"
                 class="inline-block mt-4 bg-violet-first main-violet-first-rounded cursor-pointer text-white text-sm px-5 py-3 rounded-full  font-bold uppercase">
                {{"MY_CAREER_STAT"|translate}} <fa-icon [icon]="faBarChart" class="ml-2"></fa-icon>
              </a>
            </div>
          </div>
          <div class="col-span-12 md:col-span-6 w-full h-full flex justify-center  items-end">
              <img class="max-w-[200px] lg:max-w-[300px]" src="assets/images/prof2.webp"/>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="grid grid-cols-12 gap-3" *ngIf="careerQuizList.data">
      <div class="col-span-12 xl:col-span-6 my-3"
           id="careerQuiz"
           *ngFor="let careerQuiz of careerQuizList.data|paginate: { itemsPerPage: careerQuizList.per_page, currentPage: careerQuizList.current_page,totalItems:careerQuizList.total }">
        <div
          class="bg-black-violet-orange-180-05 main-violet-first-rounded relative rounded-2xl shadow-xl flex min-h-[305px] h-full overflow-x-hidden">
          <div>
            <div class="absolute sm:block right-0 top-0 h-16 w-16" *ngIf="careerQuiz.price == 0;else notFree">
              <div
                class="text-xs absolute transform rotate-45 bg-green-500 text-center text-white font-semibold py-1 right-[-35px] top-[32px] w-[170px]">
                {{"FREE"|translate}}!
              </div>
            </div>
            <ng-template #notFree>
              <div class="absolute sm:block right-0 top-0 h-16 w-16">
                <div
                  *ngIf="purchasedList.includes(careerQuiz.id);else notPurchased"
                  class="text-xs absolute transform rotate-45 bg-green-500 text-center text-white font-semibold py-1 right-[-35px] top-[32px] w-[170px]">
                  {{"CAREER_ACCESS"|translate}}
                </div>
                <ng-template #notPurchased>
                  <div
                    class="text-xs absolute transform rotate-45 bg-[#c46a31] text-center text-white font-semibold py-1 right-[-35px] top-[32px] w-[170px]">
                    {{"CAREER_NO_ACCESS"|translate}}
                  </div>
                </ng-template>
              </div>
            </ng-template>
          </div>
          <div class="grid grid-cols-3 p-3 align-middle relative mb-[40px]">
            <div class="col-span-3 md:col-span-2 order-2 sm:order-1 px-3 flex justify-center items-center z-20">
              <div>
                <p class="text-md md:text-lg font-bold text-white">
                  {{careerQuiz | globalTranslate:"title": translate.currentLang}}
                </p>
                <a class="text-white text-xs font-bold my-2" *ngIf="careerQuiz.career_quiz_group">
                  # {{careerQuiz.career_quiz_group | globalTranslate:"title": translate.currentLang}}
                </a>
                <div
                  class="my-3 text-sm md:text-md text-white"
                  [innerHTML]="careerQuiz | globalTranslate:'description': translate.currentLang | truncate:90"
                >
                </div>
                <div class="mt-4 text-md text-white">
                  <a [routerLink]="'/' + RoutesName.careerQuizDetail + '/' + careerQuiz.id"
                     class="bg-violet-first main-violet-first-rounded cursor-pointer text-white text-sm px-4 py-2 rounded-full  font-bold">
                    {{"MORE_INFO"|translate}}
                    <fa-icon class="ml-2" [icon]="faChevronRight"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-span-3 md:col-span-1 order-1 sm:order-2 flex justify-center items-center">
              <div>
                <img class="max-w-[90%]" src="{{ImageHelper.getImage(careerQuiz.file?.url)}}"/>
              </div>
            </div>
          </div>
          <div class="absolute w-full bottom-0 z-10">
            <svg class="rounded-br-2xl rounded-bl-2xl" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
              <path fill="#c46a31" fill-opacity="0.7"
                    d="M0,64L60,101.3C120,139,240,213,360,218.7C480,224,600,160,720,160C840,160,960,224,1080,213.3C1200,203,1320,117,1380,74.7L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-3 py-5">
      <div class="col-span-12 flex justify-center" *ngIf="careerQuizList.last_page > 1">
        <pagination-controls [previousLabel]="'PREVIOUS_PAGINATION' | translate"
                             [nextLabel]="'NEXT_PAGINATION' | translate"
                             [responsive]="true" class="rounded-full" (pageChange)="changePage($event)"></pagination-controls>
      </div>
    </div>

  <app-information-bear [pageName]="'career_list_'"/>
  </div>
