.career-discount-card{
  background: hsla(218, 94%, 86%, 1);
  background: linear-gradient(90deg, hsla(218, 94%, 86%, 1) 0%, hsla(182, 89%, 72%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(218, 94%, 86%, 1) 0%, hsla(182, 89%, 72%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(218, 94%, 86%, 1) 0%, hsla(182, 89%, 72%, 1) 100%);
}
.career-stat-card{
  background: hsla(218, 94%, 86%, 1);
  background: linear-gradient(90deg, hsla(218, 94%, 86%, 1) 0%, hsla(219, 89%, 72%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(218, 94%, 86%, 1) 0%, hsla(219, 89%, 72%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(218, 94%, 86%, 1) 0%, hsla(219, 89%, 72%, 1) 100%);
}
