<div class="grid grid-cols-12 my-4">
  <div class="col-span-12 flex justify-center items-center mb-5 p-5">
    <div class="flex items-center justify-center w-full">
      <div class="md:w-9/12 lg:w-11/12">
        <input type="text"
               [(ngModel)]="search"
               class="bg-violet-first main-violet-first-rounded placeholder-white focus:outline-[#ad5118] text-sm rounded-lg text-white block w-full p-2.5 "
               placeholder="Поиск"/>
      </div>
      <div class="md:w-3/12 lg:w-1/12 flex mx-2">
        <button (click)="onSearch()" class="text-white g-violet-first main-violet-first-rounded px-3 py-2 rounded-xl h-full">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <button (click)="openDialog()" class="text-white g-violet-first main-violet-first-rounded px-3 py-2 rounded-xl h-full ml-1">
          <fa-icon [icon]="faList"></fa-icon>
        </button>
      </div>
    </div>

  </div>

  <div  class="[direction:ltr] w-full no-scroll">
    <ngx-smart-modal class="modalSearchVideo" identifier="create-search-video">
      <div class="py-5 px-2">
        <div class="my-3">
          <label for="subjects" class="block mb-2 text-sm font-medium md:text-md lg:text-lg xl:text-xl main-violet-second-color">Предмет</label>
          <select  [(ngModel)]="subject_id" id="subjects"
                   class="main-violet-first-rounded main-violet-second-bg text-white text-sm rounded-xl block w-full p-2.5 font-bold text-md lg:text-lg">
            <option value="{{null}}" selected>Выберите дисциплину</option>
            <option
              *ngFor="let subject of subjects"
              value="{{subject.id}}">
              {{subject | globalTranslate:"title":translate.currentLang}}
            </option>
          </select>
        </div>
        <div class="my-3">
          <label for="locales" class="block mb-2 text-sm font-medium md:text-md lg:text-lg xl:text-xl main-violet-second-color">Язык</label>
          <select [(ngModel)]="locale_id" id="locales"
                  class="main-violet-first-rounded main-violet-second-bg text-white text-sm rounded-xl block w-full p-2.5 font-bold text-md lg:text-lg">
            <option value="{{null}}" selected>Выберите язык</option>
            <option
              *ngFor="let locale of locales"
              value="{{locale.id}}">
              {{locale.title}}
            </option>
          </select>
        </div>
        <div class="my-3 flex justify-center items-center">
          <button (click)="onSearch()" class="text-white bg-violet-first main-violet-first-rounded px-3 py-2 rounded-full h-full font-bold text-md lg:text-lg">
            Поиск <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>

      </div>
    </ngx-smart-modal>
  </div>
</div>
