<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-12 p-4 my-3">
      <tw-select
        class="w-full flex"
        [ngModel]="params.type"
        (ngModelChange)="setForumType($event)"
        [placeholder]="'SELECT_TYPE' | translate"
      >
        <tw-option class="cursor-pointer" value="newest">
          Newest
        </tw-option>
        <tw-option class="cursor-pointer" value="popular">
          Popular
        </tw-option>
        <tw-option class="cursor-pointer" value="discussed">
          Discussed
        </tw-option>
      </tw-select>
    </div>

    <div class="col-span-12 md:col-span-12 lg:col-span-9" *ngIf="forumData">
      <div class="p-3 border-2 border-green-500 shadow-lg rounded-2xl md:flex my-5 cursor-pointer" *ngFor="let forum of forumData.data | paginate: { itemsPerPage: forumData.per_page, currentPage: forumData.current_page,totalItems:forumData.total }">
          <div class="md:w-3/12 text-center flex justify-center items-center">
            <div>
              <div class="w-16 h-16 rounded-full inline-block border-2 border-green-300 bg-cover bg-no-repeat mr-2"
                   [ngStyle]="{'background-image':'url(' + ImageHelper.getImage(forum.user?.file?.url)+ ')'}"
              ></div>
              <p class="text-xl font-bold">
                {{forum.discuss_rating_count ?? 0}}
              </p>
            </div>
          </div>
        <div class="md:w-6/12 text-left flex items-center">
          <div>
            <p class="text-lg md:text-xl lg:text-2xl font-bold main-darken-blue-color">
              {{forum.text}}
            </p>
            <p class="inline-block mt-3 text-md main-text main-green-color">
              {{forum.subject?.title_ru}}
            </p>
          </div>
        </div>
        <div class="md:w-3/12 text-center flex justify-center items-center">
          <div>
            <fa-icon class="text-lg md:text-xl lg:text-2xl xl:text-4xl font-bold main-secondary-color" [icon]="faMessage"></fa-icon>
            <p class="text-xl font-bold main-secondary-color">
              {{forum.discusses_count ?? 0}}
            </p>
          </div>
        </div>
      </div>
      <div class="my-2 flex justify-center">
        <pagination-controls class="rounded-full" (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
    <div class="col-span-12 md:col-span-12 lg:col-span-3">
      <div class="p-3">
        <a  routerLink="/dashboard/create-forum"
          class="
            cursor-pointer
            w-full
            font-bold
            inline-block
            main-secondary-bg
            text-white
            focus:outline-none focus:ring-4
            rounded-lg text-sm p-3
            text-center"
        >
          Создать
          <fa-icon [icon]="faPencil" class="mx-2 text-lg"></fa-icon>
        </a>
      </div>
      <hr/>
      <div class="p-3" *ngIf="subjects">
        <ul class="w-full">
          <li class="w-full rounded-lg p-4 cursor-pointer"
              *ngFor="let subject of subjects"
              (click)="setActiveSubject(subject.id)"
              [ngClass]="{'main-secondary-bg':params.subject_id == subject.id, 'text-white':params.subject_id == subject.id}">
            <div class="flex items-center">
              <div class="w-8 h-8 rounded-full border-2 border-green-300 bg-cover bg-no-repeat mr-2"
                   [ngStyle]="{'background-image':'url(' + ImageHelper.getImage(subject.image?.url)+ ')'}"
              ></div>
              {{subject.title_ru}}
            </div>
          </li>
        </ul>

      </div>

    </div>

  </div>
</div>
