<div class="container mx-auto py-8 px-3 bg-[rgba(255,255,255,0.7)] my-5 rounded-[20px] main-violet-first-rounded" *ngIf="translate.currentLang == 'ru'">
  <h1 class="mb-4 text-xl font-extrabold text-black text-center leading-none tracking-tight md:text-2xl lg:text-3xl">
    Политика проведения платежей.
  </h1>
  <p class="my-4 text-lg font-extrabold text-black text-center leading-none tracking-tight md:text-xl lg:text-2xl">
    Оплата банковской картой онлайн.
  </p>
  <div class="mt-[30px] text-black">
    <p class="indent-1.5 text-justify">
      Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить заказ банковской картой Visa или Mastercard прямо
      на сайте. После подтверждения выбранного заказа откроется защищенное окно с платежной страницей платёжного сервиса
      Freedom Pay Box, где Вам необходимо ввести данные Вашей банковской карты и адрес электронной почты для квитанции
      или фискального чека. Мы используем протокол 3D Secure для подтверждения оплаты. Если Ваш Банк поддерживает данный
      протокол, Вы будете перенаправлены на сервер банка для дополнительной идентификации c помощью SMS кода. Информацию
      о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту. </p>
    <p class="indent-1.5 text-justify">
      В поля на платежной странице требуется ввести номер карты, адрес электронной почты, срок действия карты,
      трёхзначный код безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные отображены на
      поверхности банковской карты. </p>
    <p class="indent-1.5 text-justify">
      CVV2/ CVC2 — это трёхзначный код безопасности, находящийся на оборотной стороне карты.
    </p>
    <p class="indent-1.5 text-justify">
      Далее в том же окне откроется страница Вашего банка-эмитента для ввода 3-D Secure кода. В случае, если у вас не
      настроен статичный 3-D Secure, он будет отправлен на ваш номер телефона посредством SMS. Если 3-D Secure код к Вам
      не пришел, то следует обратится в ваш банк-эмитент.
    </p>
    <p class="indent-1.5 text-justify">
      3-D Secure — это самая современная технология обеспечения безопасности платежей по картам в сети интернет.
      Позволяет однозначно идентифицировать подлинность держателя карты, осуществляющего операцию, и максимально снизить
      риск мошеннических операций по карте.
    </p>

    <p class="text-center text-lg my-3 font-bold">
      Случаи отказа в совершении платежа:
    </p>
    <p class="indent-1.5 text-justify">
      В случае, если ваш платёж не прошёл или операция была отменена, проверьте: правильно ли были введены реквизиты?
      Обратите внимание на срок действия вашей карты и номер; достаточно ли средств на вашей карте? Подробнее о наличии
      средств на платежной карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
    </p>
    <p class="indent-2 text-justify">
      - открыта ли возможность проведения оплат в интернете? Подробнее о возможностях вашей карты карты Вы можете
      узнать, обратившись в банк-эмитент;
    </p>
    <p class="indent-2 text-justify">
      - хватает ли вам ежедневного лимита на платежи в интернете? Подробнее о лимитах вашей карты карты Вы можете
      узнать, обратившись в банк-эмитент.
    </p>
    <p class="indent-1.5 text-justify">
      По вопросам непрошедшей оплаты, пожалуйста обратитесь в службу поддержки банка-эмитента, выпустившего вашу
      банковскую карту, или в службу поддержки сайта, на котором была произведена оплата.
    </p>

    <p class="text-center text-lg my-3 font-bold">
      Гарантии безопасности
    </p>
    <p class="indent-1.5 text-justify">
      Платёжный сервис Freedom Pay Box защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности
      PCI DSS. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая
      передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Freedom не
      передает данные Вашей карты интернет магазину или третьим лицам. Для дополнительной аутентификации держателя карты
      используется протокол 3D Secure.
    </p>
    <p class="indent-1.5 text-justify">
      В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов по
      электронной почте iuniontech2023@gmail.com
    </p>

    <p class="text-center text-lg my-3 font-bold">
      Безопасность онлайн платежей
    </p>
    <p class="indent-1.5 text-justify">
      Предоставляемая Вами персональная информация (e-mail, номер банковской карты) является конфиденциальной и не
      подлежит разглашению. Данные Вашей банковской карты передаются только в зашифрованном виде и не сохраняются на
      нашем сервере.
    </p>
    <p class="indent-1.5 text-justify">
      Безопасность обработки Интернет-платежей гарантирует платёжный сервис Freedom Pay Box. Все операции с платежными
      картами происходят в соответствии с требованиями VISA International, MasterCard Worldwide и других платежных
      систем. При передаче информации используется специальные технологии безопасности карточных онлайн-платежей,
      обработка данных ведется на безопасном высокотехнологичном сервере платёжного сервиса.
    </p>

    <p class="text-center text-lg my-3 font-bold">
      Оплата платежными картами безопасна, потому что:
    </p>
    <p class="indent-1.5 text-justify">
      Система авторизации гарантирует покупателю, что платежные реквизиты его платежной карты (номер, срок действия,
      CVV2/CVC2) не попадут в руки мошенников, так как эти данные не хранятся на сервере в зашифрованном виде и не могут
      быть похищены.
    </p>
    <p class="indent-1.5 text-justify">
      Покупатель вводит свои платежные данные непосредственно в системе авторизации Freedom Pay Box, а не на сайте
      образовательного портала, следовательно, платежные реквизиты карточки покупателя не будут доступны третьим лицам.
    </p>
  </div>
</div>
<div class="container mx-auto py-8 px-3" *ngIf="translate.currentLang == 'kk'">
  <h1 class="mb-4 text-xl font-extrabold text-black text-center leading-none tracking-tight md:text-2xl lg:text-3xl">
    Төлем саясаты.
  </h1>
  <p class="my-4 text-lg font-extra bold text-block text-center leading-none tracking-tight md:test-xl lg:text-2xl">
    Банктік картамен онлайн төлеу.
  </p>
  <div class="mt-[30px] text-black">
    <p class="indent-1.5 text-justify">
      Біздің сайт интернет-эквайрингке қосылған және сіз тапсырысты Visa немесе MasterCard банк картасымен тікелей
      сайтта төлей аласыз. Таңдалған Тапсырыс расталғаннан кейін Freedom Pay Box төлем қызметінің төлем беті бар
      қорғалған терезе ашылады, онда Сізге банктік картаңыздың деректерін және түбіртек немесе фискалдық чек үшін
      электрондық пошта мекенжайын енгізу қажет. Біз төлемді растау үшін 3D Secure протоколын қолданамыз. Егер сіздің
      банкіңіз осы Хаттаманы қолдаса, Сіз SMS кодты пайдаланып қосымша сәйкестендіру үшін банк серверіне бағытталасыз.
      Қосымша сәйкестендіру ережелері мен әдістері туралы ақпаратты Сізге Банк картасын берген Банктен тексеріңіз. </p>
    <p class="indent-1.5 text-justify">
      Төлем бетіндегі өрістерге карта нөмірін, электрондық пошта мекенжайын, картаның жарамдылық мерзімін, үш таңбалы
      қауіпсіздік кодын (Visa үшін CVV2 немесе MasterCard үшін CVC2) енгізу қажет. Барлық қажетті деректер банк
      картасының бетінде көрсетіледі. </p>
    <p class="indent-1.5 text-justify">
      CVV2 / CVC2 — картаның артқы жағында орналасқан үш таңбалы қауіпсіздік коды.
    </p>
    <p class="indent-1.5 text-justify">
      Содан кейін сол терезеде 3-D Secure кодын енгізу үшін эмитент банктің беті ашылады. Егер Сізде статикалық 3-D
      Secure орнатылмаған болса, ол сіздің телефон нөміріңізге SMS арқылы жіберіледі. Егер 3-D Secure коды сізге
      келмесе, онда сіз Эмитент банкіңізге хабарласуыңыз керек.
    </p>
    <p class="indent-1.5 text-justify">
      3 — D Secure-бұл интернет желісіндегі карталар бойынша төлемдердің қауіпсіздігін қамтамасыз етудің ең заманауи
      технологиясы. Операцияны жүзеге асыратын карта ұстаушының түпнұсқалығын біржақты анықтауға және алаяқтық карта
      операцияларының қаупін барынша азайтуға мүмкіндік береді.
    </p>

    <p class="text-center text-lg my-3 font-bold">
      Төлем жасаудан бас тарту жағдайлары:
    </p>
    <p class="indent-1.5 text-justify">
      Егер сіздің төлеміңіз өтпеген болса немесе операция тоқтатылған болса, тексеріңіз: деректемелер дұрыс енгізілді
      ме? Картаңыздың жарамдылық мерзімі мен нөміріне назар аударыңыз; сіздің картаңызда қаражат жеткілікті ме? Төлем
      картасында қаражаттың болуы туралы толығырақ банк картасын шығарған банкке хабарласу арқылы біле аласыз;
    </p>
    <p class="indent-2 text-justify">
      - интернетте төлем жасау мүмкіндігі ашық па? Карта Картасының мүмкіндіктері туралы толығырақ эмитент банкке
      хабарласу арқылы біле аласыз;
    </p>
    <p class="indent-2 text-justify">
      - интернеттегі төлемдерге күнделікті лимит жеткілікті ме? Картаңыздың лимиттері туралы толығырақ эмитент банкке
      хабарласу арқылы біле аласыз.
    </p>
    <p class="indent-1.5 text-justify">
      Өтпеген төлем мәселелері бойынша Сіздің банктік картаңызды шығарған эмитент банктің қолдау қызметіне немесе төлем
      жасалған сайттың қолдау қызметіне хабарласыңыз.
    </p>

    <p class="text-center text-lg my-3 font-bold">
      Қауіпсіздік кепілдіктері
    </p>
    <p class="indent-1.5 text-justify">
      Freedom Pay box төлем қызметі Сіздің банктік картаңыздың деректерін PCI DSS қауіпсіздік стандарты бойынша қорғайды
      және өңдейді. Ақпаратты төлем шлюзіне беру SSL шифрлау технологиясын қолдану арқылы жүзеге асырылады. Ақпаратты
      одан әрі беру Сенімділіктің ең жоғары деңгейіне ие жабық банктік желілер арқылы жүзеге асырылады. Freedom сіздің
      картаңыздың мәліметтерін интернет-дүкенге немесе үшінші тұлғаларға бермейді. Карта ұстаушысының қосымша
      аутентификациясы үшін 3D Secure протоколы қолданылады.
    </p>
    <p class="indent-1.5 text-justify">
      Егер Сізде жасалған төлем туралы сұрақтарыңыз болса, клиенттерге қызмет көрсету орталығына электрондық пошта
      арқылы хабарласа аласыз iuniontech2023@gmail.com
    </p>

    <p class="text-center text-lg my-3 font-bold">
      Онлайн төлем қауіпсіздігі
    </p>
    <p class="indent-1.5 text-justify">
      Сіз ұсынатын жеке ақпарат (e-mail, банк картасының нөмірі) құпия болып табылады және жария етілмейді. Сіздің банк
      картаңыздың деректері тек шифрланған түрде беріледі және біздің серверде сақталмайды.
    </p>
    <p class="indent-1.5 text-justify">
      Интернет төлемдерін өңдеу қауіпсіздігі Freedom Pay Box төлем қызметіне кепілдік береді. Төлем карталарының барлық
      операциялары VISA International, MasterCard Worldwide және басқа төлем жүйелерінің талаптарына сәйкес жүзеге
      асырылады. Ақпаратты беру кезінде карточкалық онлайн-төлемдердің арнайы қауіпсіздік технологиялары пайдаланылады,
      деректерді өңдеу төлем сервисінің қауіпсіз жоғары технологиялық серверінде жүргізіледі.
    </p>

    <p class="text-center text-lg my-3 font-bold">
      Төлем карталарымен төлеу қауіпсіз, себебі:
    </p>
    <p class="indent-1.5 text-justify">
      Авторизация жүйесі сатып алушыға оның төлем картасының төлем деректемелері (нөмірі, жарамдылық мерзімі, CVV2/CVC2)
      алаяқтардың қолына түспеуін қамтамасыз етеді, өйткені бұл деректер серверде шифрланған түрде сақталмайды және
      ұрланбайды.
    </p>
    <p class="indent-1.5 text-justify">
      Сатып алушы Төлем деректерін білім беру порталының сайтында емес, Freedom Pay Box авторизациялау жүйесінде тікелей
      енгізеді, сондықтан сатып алушы карточкасының төлем деректемелері үшінші тұлғаларға қолжетімді болмайды.
    </p>
  </div>
</div>
