<div *ngIf="me">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-3 my-4  p-3 bg-white shadow-2xl rounded-lg">
      <div class="flex justify-center items-center my-2 relative">
        <div class="rounded-full w-[130px] h-[130px] md:w-[260px] md:h-[260px] bg-center bg-no-repeat bg-cover"
             [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(me.file?.url) +')'}">
        </div>
        <div class="absolute bottom-0 right-0">
          <form>
            <input id="img-update" type="file" class="invisible w-0" accept="image/*"/>
          </form>
          <label for="img-update">
            <fa-icon class="mr-2 main-green-color" [icon]="faPencilAlt"></fa-icon>
          </label>
        </div>
      </div>
      <hr>
      <div *ngIf="me" class="px-3 py-4">
        <p class="block mb-2 text-xl md:text-2xl lg:text-3xl font-bold">{{me.name}}</p>
        <span class="flex mb-2 text-sm md:text-md lg:text-lg font-normal">
          <fa-icon class="mr-2 main-green-color" [icon]="faCrown"></fa-icon>
          <p>{{me.role}}</p>
        </span>
        <span class="flex mb-2 text-sm md:text-md lg:text-lg font-normal" *ngIf="me.birth_date">
          <fa-icon class="mr-2 main-green-color" [icon]="faCalendar"></fa-icon>
          <p>
            {{moment(Date.now()).diff(me.birth_date,"years")}} {{"OLD_YEARS"|translate}}
            ({{moment(me.birth_date).format("DD/MM/yyyy")}})
          </p>
        </span>
        <span class="flex mb-2 text-sm md:text-md lg:text-lg font-normal">
          <fa-icon class="mr-2 main-green-color" [icon]="faEnvelope"></fa-icon>
          <p>{{me.email}}</p>
        </span>
        <span class="flex mb-2 text-sm md:text-md lg:text-lg font-normal">
          <fa-icon class="mr-2 main-green-color" [icon]="faPhone"></fa-icon>
          <p>{{me.phone}}</p>
        </span>
        <span class="flex mb-2 text-sm md:text-md lg:text-lg font-normal" *ngIf="me.gender">
          <fa-icon class="mr-2 main-green-color" [icon]="faVenusMars"></fa-icon>
          <p>{{me.gender | globalTranslate:"title": translate.currentLang}}</p>
        </span>
        <div class="text-right my-2">
          <a (click)="openDialog('change-profile')"
            class="cursor-pointer text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-blue-700">
            <fa-icon class="mr-1 text-white" [icon]="faPencilAlt"></fa-icon>
            {{"EDIT"|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-9 my-4">
      <div class="wrapper" *ngIf="subscriptions.length > 0">
        <div *ngIf="basicSubscriptions.length > 0"
             class="mb-4 w-full flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:flex-row">
          <img
            class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
            src="/assets/images/basic_plan.webp"
            alt="" />
          <div class="flex flex-col justify-start p-6">
            <h5
              class="mb-2 text-xl font-medium text-neutral-800">
              Basic Plan (990 тг)
            </h5>
            <ul>
              <li *ngFor="let sub of basicSubscriptions">
                <span [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.tag), this.translate.currentLang)"></span>
                <span class="mx-3">({{moment(sub.ends_at).format('DD.MM.YYYY')}})</span>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="standardSubscriptions.length > 0"
             class="mb-4 w-full flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:flex-row">
          <img
            class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
            src="/assets/images/standard_plan.webp"
            alt="" />
          <div class="flex flex-col justify-start p-6">
            <h5
              class="mb-2 text-xl font-medium text-neutral-800">
              Standard Plan (2490 тг)
            </h5>
            <ul>
              <li *ngFor="let sub of standardSubscriptions | keys">
                <span [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.value.tag), this.translate.currentLang)"></span>
                <span class="mx-3">({{moment(sub.value.ends_at).format('DD.MM.YYYY')}})</span>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="premiumSubscriptions.length > 0"
             class="mb-4 w-full flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:flex-row">
          <img
            class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
            src="/assets/images/premium_plan.webp"
            alt="" />
          <div class="flex flex-col justify-start p-6">
            <h5
              class="mb-2 text-xl font-medium text-neutral-800">
              Premium Plan (4990 тг)
            </h5>
            <ul>
              <li *ngFor="let sub of premiumSubscriptions | keys">
                <span [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.value.tag), this.translate.currentLang)"></span>
                <span class="mx-3">({{moment(sub.value.ends_at).format('DD.MM.YYYY')}})</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="my-2">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">№</div>
            <div class="col col-2">{{'NAME'|translate}}</div>
            <div class="col col-3">{{'EMAIL'|translate}}</div>
            <div class="col col-4">{{'BALANCE'|translate}}</div>
          </li>
          <li class="table-row"
              *ngFor="let wallet of [{key: 1},{key: 2},{key: 3},{key: 1},{key: 2},{key: 3}]">
            <div class="col col-1" data-label="№">
              {{wallet.key}}
            </div>
            <div class="col col-2 break-all" [attr.data-label]="'NAME'|translate">{{wallet.key}}</div>
            <div class="col col-3 break-all" [attr.data-label]="'EMAIL'|translate">{{wallet.key}}</div>
            <div class="col col-4 break-all" [attr.data-label]="'BALANCE'|translate">{{wallet.key}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal identifier="change-profile">
  <div *ngIf="me" class="px-3 py-4">
    <form [formGroup]="profile_form" (ngSubmit)="update()">
      <span class="flex justify-center items-center mb-2 text-sm md:text-md lg:text-lg font-normal">
          <fa-icon class="mr-2 main-green-color" [icon]="faUser"></fa-icon>
          <app-input-field
            class="w-full"
            [formControlName]="'name'"
            [input_name]="'name'"
            [type]="'text'"
            [placeholder]="''"
            [label]="'NAME' | translate"
            [error_message]="''"
            [backErrors]="errors"
            ngDefaultControl
          />
      </span>
      <span class="flex justify-center items-center mb-2 text-sm md:text-md lg:text-lg font-normal">
        <fa-icon class="mr-2 main-green-color" [icon]="faCalendar"></fa-icon>
        <app-input-field
          class="w-full"
          [formControlName]="'date'"
          [input_name]="'date'"
          [type]="'date'"
          [placeholder]="''"
          [label]="'OLD_YEARS' | translate"
          [error_message]="''"
          [backErrors]="errors"
          ngDefaultControl
        />
        </span>
      <span class="flex justify-center items-center mb-2 text-sm md:text-md lg:text-lg font-normal">
          <fa-icon class="mr-2 main-green-color" [icon]="faPhone"></fa-icon>
          <app-input-field
            class="w-full"
            [formControlName]="'phone'"
            [input_name]="'phone'"
            [type]="'text'"
            [placeholder]="''"
            [label]="'PHONE' | translate"
            [error_message]="'PHONE_VALID_MESSAGE' | translate"
            [backErrors]="errors"
            ngDefaultControl
          />
      </span>
      <span class="flex justify-center items-center mb-2 text-sm md:text-md lg:text-lg font-normal">
          <fa-icon class="mr-2 main-green-color" [icon]="faLock"></fa-icon>
          <app-input-field
            class="w-full"
            [formControlName]="'password'"
            [input_name]="'password'"
            [type]="'password'"
            [placeholder]="''"
            [label]="'PASSWORD' | translate"
            [error_message]="'password_is_not_right'"
            [backErrors]="errors"
            ngDefaultControl
          />
      </span>
      <span class="flex justify-center items-center mb-2 text-sm md:text-md lg:text-lg font-normal" *ngIf="me.gender">
          <fa-icon class="mr-2 main-green-color" [icon]="faVenusMars"></fa-icon>
          <select class="w-full" [formControlName]="'gender'">
            <option value="1">{{'MALE' | translate}}</option>
            <option value="2">{{'FEMALE' | translate}}</option>
          </select>
        </span>
      <div class="text-right my-2">
        <button type="submit"
                [disabled]="!profile_form.valid"
                [ngClass]="profile_form.valid ? 'cursor-pointer' : 'cursor-not-allowed'"
          class="text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-blue-700">
          <fa-icon class="mr-1 text-white" [icon]="faPencilAlt"></fa-icon>
          {{"UPDATE"|translate}}
        </button>
      </div>
    </form>
  </div>
</ngx-smart-modal>
