<div class="relative" *ngIf="me">
  <div class="grid grid-cols-12 gap-4">
    <div id="profile-info-card" class="col-span-12 lg:col-span-12 my-4 p-3 bg-black-violet-orange-180-05 main-violet-first-rounded shadow-2xl rounded-lg max-h-[600px] relative">
      <div class="text-right my-2 absolute top-1 right-2">
        <div id="profile-info-card-pencil" (click)="openDialog('change-profile')" class="flex rounded-full cursor-pointer border-white border-2 h-10 w-10 justify-center items-center bg-violet-first main-violet-first-rounded">
          <a
             class="cursor-pointer text-white  focus:outline-none focus:ring-4  font-medium rounded-full text-sm text-center">
            <fa-icon class="mr-1 text-white" [icon]="faPencilAlt"></fa-icon>
          </a>
        </div>
      </div>
      <div class="md:flex items-center justify-center md:justify-start text-center">
        <div class="flex items-center justify-center md:justify-start my-2">
          <div class="rounded-full w-[130px] h-[130px] md:w-[180px] md:h-[180px] bg-center bg-no-repeat bg-cover relative main-violet-first-rounded"
               [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(me.file?.url) +')'}">
            <div class="absolute bottom-[20px] flex justify-center w-full">
              <form>
                <input id="img-update" (change)="onFileSelected($event)" type="file" class="invisible w-0" accept="image/*"/>
              </form>
              <label for="img-update">
                <fa-icon class="mr-2 text-white text-2xl cursor-pointer hover:" [icon]="faCameraAlt"></fa-icon>
              </label>
            </div>
          </div>
        </div>
        <p class="block mb-2 text-xl md:text-2xl lg:text-3xl font-bold text-white ml-3">{{me.name}}</p>
      </div>

      <div *ngIf="me" class="px-3 py-4 grid grid-cols md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-2">

        <span class="flex justify-center items-center py-3 px-3 mb-2 text-sm md:text-md lg:text-lg font-normal main-violet-first-rounded bg-violet-first text-white text-center rounded-full">
          <p><fa-icon class="mr-2" [icon]="faCrown"></fa-icon>{{me.role | translate}}</p>
        </span>
        <span class="flex justify-center items-center mb-2 py-3 px-3 text-sm md:text-md lg:text-lg font-normal main-violet-first-rounded bg-violet-first text-white text-center rounded-full">
          <p><fa-icon class="mr-2" [icon]="faCalendar"></fa-icon>
            {{moment(Date.now()).diff(me.birth_date,"years")}} {{"OLD_YEARS"|translate}}
            ({{moment(me.birth_date).format("DD/MM/yyyy")}})
          </p>
        </span>
        <span *ngIf="!me.isKundelik" class="flex justify-center items-center mb-2 py-3 px-3 text-sm md:text-md lg:text-lg font-normal main-violet-first-rounded bg-violet-first text-white text-center rounded-full">
          <p><fa-icon class="mr-2" [icon]="faEnvelope"></fa-icon>
            {{me.email}}
          </p>
        </span>
        <span class="flex justify-center items-center mb-2 py-3 px-3 text-sm md:text-md lg:text-lg font-normal main-violet-first-rounded bg-violet-first text-white text-center rounded-full">
          <p><fa-icon class="mr-2" [icon]="faPhone"></fa-icon>
            {{me.phone}}
          </p>
        </span>
        <span class="flex justify-center items-center mb-2 py-3 px-3 text-sm md:text-md lg:text-lg font-normal main-violet-first-rounded bg-violet-first text-white text-center rounded-full" *ngIf="me.gender">
          <p><fa-icon class="mr-2" [icon]="faVenusMars"></fa-icon>
            {{me.gender | globalTranslate:"title": translate.currentLang}}
          </p>
        </span>
      </div>
    </div>

    <div id="profile-info-subscriptions" class="col-span-12 lg:col-span-12 xl:col-span-6 2xl:col-span-6 my-4" *ngIf="subscriptions.length > 0">
      <div class="wrapper" >
        <div *ngIf="basicSubscriptions.length > 0"
             class="mb-4 w-full flex flex-col rounded-lg main-violet-first-rounded bg-black-violet-orange-180-05 md:flex-row">
          <img
            class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
            src="/assets/images/basic_plan.webp"
            alt="" />
          <div class="flex flex-col justify-start p-6">
            <h5
              class="mb-2 text-xl font-medium text-white">
              Basic Plan (990 тг)
            </h5>
            <ul>
              <li *ngFor="let sub of basicSubscriptions">
                <span class="text-white" [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.tag), this.translate.currentLang)"></span>
                <span class="mx-3 text-white">({{moment(sub.ends_at).format('DD.MM.YYYY')}})</span>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="standardSubscriptions.length > 0"
             class="mb-4 w-full flex flex-col rounded-lg main-violet-first-rounded bg-black-violet-orange-180-05 md:flex-row">
          <img
            class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
            src="/assets/images/standard_plan.webp"
            alt="" />
          <div class="flex flex-col justify-start p-6">
            <h5
              class="mb-2 text-xl font-medium text-white">
              Standard Plan (2490 тг)
            </h5>
            <ul>
              <li *ngFor="let sub of standardSubscriptions | keys">
                <span class="text-white" [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.value.tag), this.translate.currentLang)"></span>
                <span class="mx-3 text-white">({{moment(sub.value.ends_at).format('DD.MM.YYYY')}})</span>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="premiumSubscriptions.length > 0"
             class="mb-4 w-full flex flex-col rounded-lg main-violet-first-rounded bg-black-violet-orange-180-05 md:flex-row">
          <img
            class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
            src="/assets/images/premium_plan.webp"
            alt="" />
          <div class="flex flex-col justify-start p-6">
            <h5
              class="mb-2 text-xl font-medium text-white">
              Premium Plan (4990 тг)
            </h5>
            <ul>
              <li *ngFor="let sub of premiumSubscriptions | keys">
                <span class="text-white" [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.value.tag), this.translate.currentLang)"></span>
                <span class="mx-3 text-white">({{moment(sub.value.ends_at).format('DD.MM.YYYY')}})</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="profile-info-transactions" class="col-span-12 lg:col-span-12  my-4" [ngClass]="{'xl:col-span-6 2xl:col-span-6':subscriptions.length > 0}">
      <h1 class="text-white mb-3">{{"MY_ORDERS"|translate}}</h1>
      <div>
        <ul class="responsive-table" *ngIf="myOrders">
          <li class="table-header bg-violet-first main-violet-first-rounded">
            <div class="col col-1 text-white">№</div>
            <div class="col col-2 text-white">{{"ORDER_NUMBER"|translate}}</div>
            <div class="col col-2 text-center text-white">{{"ORDER_AMOUNT"|translate}}</div>
            <div class="col col-2 text-white">{{"ORDER_DESCRIPTION"|translate}}</div>
            <div class="col col-2 text-center text-white">{{"ORDER_DATE"|translate}}</div>
            <div class="col col-2 text-center text-white">{{"ORDER_STATUS"|translate}}</div>
          </li>
          <li class="table-row bg-violet-first main-violet-first-rounded"
              *ngFor="let order of myOrders.data | paginate: {itemsPerPage: myOrders.per_page, currentPage: myOrders.current_page, totalItems: myOrders.total} | keys: requestData.page : myOrders.per_page">
            <div class="col col-1 text-white" data-label="№">
              {{parseInt(order.key) + 1}}
            </div>
            <div class="col col-2 break-all text-white" [attr.data-label]="'NAME'|translate">{{order.value.order_id}}</div>
            <div class="col col-2 text-center break-all text-white" [attr.data-label]="'NAME'|translate">{{order.value.price}}</div>
            <div class="col col-2 break-all text-white" [attr.data-label]="'EMAIL'|translate">{{order.value.description}}</div>
            <div class="col col-2 text-center break-all text-white" [attr.data-label]="'EMAIL'|translate">{{moment(order.value.created_at).format('DD.MM.YYYY')}}</div>
            <div class="col col-2 text-center break-all text-white" [attr.data-label]="'BALANCE'|translate">
              {{order.value.status ? ('ORDER_SUCCESS'|translate) : ('ORDER_ERROR'|translate)}}
            </div>
          </li>
        </ul>
        <div *ngIf="myOrders">
          <div class="col-span-12 my-2 flex justify-center" *ngIf="myOrders.total > myOrders.per_page">
            <pagination-controls [previousLabel]="'PREVIOUS_PAGINATION' | translate"
                                 [nextLabel]="'NEXT_PAGINATION' | translate"
                                 [responsive]="true" class="rounded-full" (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-information-bear [pageName]="'my-profile_'" />
</div>

<ngx-smart-modal identifier="change-profile" class="profile-card-modal">
  <div *ngIf="me" class="px-3 py-4">
    <form [formGroup]="profile_form" (ngSubmit)="update()">
      <core-input>
        <div class="mt-2.5 mr-0 mb-0 ml-0">
          <label class="block text-sm font-medium text-white">{{'NAME' | translate}}</label>
          <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                    <span class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-white">
                      <fa-icon [icon]="faUser"></fa-icon>
                    </span>
            <input showError name="name" [controlName]="'NAME' | translate" [formControlName]="'name'" type="text" placeholder="Jack Sparrow"
                   class="bg-violet-first main-violet-first-rounded text-white placeholder-white
                  sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"/>
          </div>
        </div>
      </core-input>
      <core-input>
        <div class="mt-2.5 mr-0 mb-2.5 ml-0">
          <label class="block text-sm font-medium text-white">{{'PHONE' | translate}}</label>
          <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                    <span class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-white">
                      <fa-icon [icon]="faPhone"></fa-icon>
                    </span>
            <input showError name="phone" [controlName]="'PHONE' | translate" [formControlName]="'phone'" [inputMask]="phone_mask" type="text"
                   placeholder="+7 777 777 7777"
                   class="bg-violet-first main-violet-first-rounded text-white placeholder-white
                  sm:text-sm w-full h-10 block border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"/>
          </div>
        </div>
      </core-input>
      <core-input>
        <div class="mt-2.5 mr-0 mb-2.5 ml-0">
          <label class="block text-sm font-medium text-white">{{'BIRTH_DAY' | translate}}</label>
          <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                    <span class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-white">
                      <fa-icon [icon]="faCalendar"></fa-icon>
                    </span>
            <input showError name="phone" [controlName]="'OLD_YEARS' | translate" [formControlName]="'date'" type="date" [placeholder]="'OLD_YEARS'|translate"
                   class="bg-violet-first main-violet-first-rounded text-white placeholder-white
                  sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"/>
          </div>
        </div>
      </core-input>
      <core-input>
        <div class="mt-2.5 mr-0 mb-2.5 ml-0">
          <label class="block text-sm font-medium text-white">{{'PASSWORD' | translate}}</label>
          <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                    <span class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-white">
                      <fa-icon [icon]="faKey"></fa-icon>
                    </span>
            <input showError name="password" [controlName]="'PASSWORD' | translate" [formControlName]="'password'" type="password"
                   placeholder="********"
                   class="bg-violet-first main-violet-first-rounded text-white placeholder-white
                  sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"/>
          </div>
        </div>
      </core-input>
      <core-input>
        <div class="mt-2.5 mr-0 mb-0 ml-0">
          <label class="block text-sm font-medium text-white">{{'PARENT_NAME' | translate}}</label>
          <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                            <span
                              class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-white">
                              <fa-icon [icon]="faUser"></fa-icon>
                            </span>
            <input showError [controlName]="'PARENT_NAME' | translate" [formControlName]="'parent_name'" type="text"
                   placeholder="Jack Sparrow"
                   class="bg-violet-first main-violet-first-rounded text-white placeholder-white
                          sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"/>
          </div>
        </div>
      </core-input>
      <core-input>
        <div class="mt-2.5 mr-0 mb-2.5 ml-0">
          <label class="block text-sm font-medium text-white">{{'PARENT_PHONE' | translate}}</label>
          <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                            <span
                              class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-white">
                              <fa-icon [icon]="faPhone"></fa-icon>
                            </span>
            <input showError [controlName]="'PARENT_PHONE' | translate" [formControlName]="'parent_phone'"
                   [inputMask]="phone_mask" type="text" placeholder="+7 777 777 7777"
                   class="bg-violet-first main-violet-first-rounded text-white placeholder-white
                          sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"
            />
          </div>
        </div>
      </core-input>
      <div class="mt-2.5 mr-0 mb-2.5 ml-0">
        <label class="block text-sm font-medium text-white">{{'PARENT_PHONE' | translate}}</label>
        <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                            <span
                              class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-gray-400">
                              <fa-icon [icon]="faVenusMars"></fa-icon>
                            </span>
          <select class="main-violet-second-bg main-violet-first-rounded text-white placeholder-white sm:text-sm w-full h-10 block border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md" [formControlName]="'gender'">
            <option value="1">{{'MALE' | translate}}</option>
            <option value="2">{{'FEMALE' | translate}}</option>
          </select>
        </div>
      </div>

      <div class="text-right my-2">
        <button type="submit"
                [disabled]="!profile_form.valid"
                [ngClass]="profile_form.valid ? 'cursor-pointer' : 'cursor-not-allowed'"
          class="text-white main-violet-first-rounded bg-violet-first focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
          <fa-icon class="mr-1 text-white" [icon]="faPencilAlt"></fa-icon>
          {{"UPDATE_BUTTON"|translate}}
        </button>
      </div>
    </form>
  </div>
</ngx-smart-modal>
