.scroll-x-container {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #4DC591 #9BA1FF;
  scroll-behavior: smooth;
  /* postcss-scrollbar will add the -webkit version automatically! */
}
#custom-img {
  width: 50%!important;
}
