<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-3" *ngIf="statByAttempt">
    <div class="col-span-12 my-3 bg-white rounded-lg shadow-lg p-3" *ngFor="let subject of statByAttempt.subjects">
      <div class="md:flex items-center">
        <div class="w-12 h-12 md:w-20 md:h-20 lg:w-28 lg:h-28 rounded-full border-2 bg-cover bg-no-repeat my-2" [ngStyle]="{'background-image':'url(' + ImageHelper.getImage(subject.image?.url)+ ')'}"></div>
        <a
          [routerLink]="'/'+RoutesName.statBySubjectId + '/' + subject.id"
          class="text-md md:text-lg lg:text-xl xl:text-xl uppercase font-bold ml-2 cursor-pointer main-violet-second-color">
          {{subject  | globalTranslate:"title": translate.currentLang}}
        </a>
      </div>
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-black border-2 border-[#8e6a5e]">
          <thead class="text-xs text-black capitalize">
          <tr>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"CATEGORY"|translate}}
            </th>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"TOTAL_QUESTION"|translate}}
            </th>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"RIGHT_TOTAL"|translate}}
            </th>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"WRONG_TOTAL"|translate}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="bg-white rounded-2xl my-2 border-2 border-[#8e6a5e]" *ngFor="let result of getSubjectResult(subject.id)">
            <td class="p-4 border-2 border-[#8e6a5e]">
              <p class="text-black ml-2 font-bold" *ngIf="result.sub_category;else no_category">
                {{result.sub_category  | globalTranslate:"title": translate.currentLang}}
                ({{result.sub_category.category  | globalTranslate:"title": translate.currentLang
                }})
              </p>
              <ng-template #no_category>
                <p class="text-red-500 ml-2 font-bold">
                  {{"NO_CATEGORY_QUESTION"|translate}}
                </p>
              </ng-template>
            </td>
            <td class="p-4 border-2 border-[#8e6a5e]">
              <p class="text-black ml-2 font-bold">
                {{result.total}}
              </p>
            </td>
            <td class="p-4 border-2 border-[#8e6a5e]">
              <p class="text-green-400 ml-2 font-bold">
                {{result.right}}
              </p>
            </td>
            <td class="p-4 border-2 border-[#8e6a5e]">
              <p class="text-red-400 ml-2 font-bold">
                {{result.not_right}}
              </p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
