<div class="container mx-auto relative">
  <div class="grid grid-cols-12 gap-3" id="attemptStat" *ngIf="statByAttempt">
    <div class="col-span-12 my-3 bg-white rounded-lg shadow-lg p-3" *ngFor="let subject of statByAttempt.subjects">
      <div class="md:flex items-center">
        <div class="w-12 h-12 md:w-20 md:h-20 lg:w-28 lg:h-28 rounded-full border-2 bg-cover bg-no-repeat my-2" [ngStyle]="{'background-image':'url(' + ImageHelper.getImage(subject.image?.url)+ ')'}"></div>
        <a
          [routerLink]="'/'+RoutesName.statBySubjectId + '/' + subject.id"
          class="text-md md:text-lg lg:text-xl xl:text-xl uppercase font-bold ml-2 cursor-pointer main-violet-second-color">
          {{subject  | globalTranslate:"title": translate.currentLang}}
        </a>
      </div>
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-black border-2 border-[#8e6a5e]">
          <thead class="text-xs text-black capitalize">
          <tr>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"CATEGORY"|translate}}
            </th>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"TOTAL_QUESTION"|translate}}
            </th>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"RIGHT_TOTAL"|translate}}
            </th>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"WRONG_TOTAL"|translate}}
            </th>
            <th scope="col" class="px-6 py-3 border-2 border-[#8e6a5e]">
              {{"ACTION"|translate}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="bg-white rounded-2xl my-2 border-2 border-[#8e6a5e]" *ngFor="let result of getSubjectResult(subject.id)">
            <td class="p-4 border-2 border-[#8e6a5e]">
              <p class="text-black ml-2 font-bold" *ngIf="result.sub_category;else no_category">
                {{result.sub_category  | globalTranslate:"title": translate.currentLang}}
                ({{result.sub_category.category  | globalTranslate:"title": translate.currentLang
                }})
              </p>
              <ng-template #no_category>
                <p class="text-red-500 ml-2 font-bold">
                  {{"NO_CATEGORY_QUESTION"|translate}}
                </p>
              </ng-template>
            </td>
            <td class="p-4 border-2 border-[#8e6a5e]">
              <p class="text-black ml-2 font-bold">
                {{result.total}}
              </p>
            </td>
            <td class="p-4 border-2 border-[#8e6a5e]">
              <p class="text-green-400 ml-2 font-bold">
                {{result.right}}
              </p>
            </td>
            <td class="p-4 border-2 border-[#8e6a5e]">
              <p class="text-red-400 ml-2 font-bold">
                {{result.not_right}}
              </p>
            </td>
            <td class="p-4 border-2 border-[#8e6a5e]">
              <a (click)="goToSubStep(result.sub_category.id)" class="rounded-full p-2 text-white my-3 main-violet-first-rounded bg-violet-first font-bold cursor-pointer" *ngIf="result.sub_category;else no_category2">
                {{'PASS_STEP'|translate}}
              </a>
              <ng-template #no_category2>
                <p class="text-red-500 ml-2 font-bold">
                  -
                </p>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-information-bear [pageName]="'stat-attempt_'"/>
</div>
<ngx-smart-modal identifier="substeps" [customClass]="'max-w-1100 buySubscriptionModal'">
  <div class=" w-full mobile:px-0 lg:px-4">
    <div class="flex-col flex gap-2 text-white" *ngIf="substeps">
      <div [routerLink]="StrHelper.getDashboardRouteName(RoutesName.subStepRoute) + '/' + substep.id + '/' + 1" class="cursor-pointer items-center rounded-lg px-8 py-3 font-medium text-white flex gap-4 border border-indigo-600" *ngFor="let substep of substeps">
        <span class="rounded-xl bg-blue-100 pt-2 pb-2 pr-2 pl-2">
          <span class="items-center justify-center flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 48 48" fill="none" class="w-full
                h-full"><g clip-path="url(#clip0_3213_20952)"><path d="M48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0
                10.7452 0 24C0 35.9789 8.77641 45.908 20.25 47.7084V30.9375H14.1562V24H20.25V18.7125C20.25 12.6975
                23.8331 9.375 29.3152 9.375C31.9402 9.375 34.6875 9.84375 34.6875 9.84375V15.75H31.6613C28.68 15.75
                27.75 17.6002 27.75 19.5V24H34.4062L33.3422 30.9375H27.75V47.7084C39.2236 45.908 48 35.9789 48 24Z"
                                                                    fill="#1877F2"/><path d="M33.3422 30.9375L34.4062 24H27.75V19.5C27.75 17.602 28.68 15.75 31.6613
                15.75H34.6875V9.84375C34.6875 9.84375 31.9411 9.375 29.3152 9.375C23.8331 9.375 20.25 12.6975 20.25
                18.7125V24H14.1562V30.9375H20.25V47.7084C22.7349 48.0972 25.2651 48.0972 27.75 47.7084V30.9375H33.3422Z"
                                                                                          fill="white"/></g><defs><clippath><rect width="48" height="48" fill="white"/></clippath></defs></svg>
          </span>
        </span>
        <span class="flex-1 flex-shrink-0">{{substep | globalTranslate: 'title': this.translate.currentLang}}</span>
        <span class="items-center flex gap-3">
          <span>{{substep.level}} {{'LEVEL'|translate}}</span>
        </span>
      </div>
    </div>
  </div>

</ngx-smart-modal>
<app-modal-content-offer #modalBuyContent/>
