<div class="w-full flex">
  <div class="w-full lg:p-4 sm:pl-2 mobile:p-1.5">
    <div class="w-full flex">

      <div class="st mobile:w-full sm:w-full md:w-full lg:w-full xl:w-[70%]">
        <div class="stepper" id="scrollableDiv">
<!--          <div class="step-button flex justify-start bg-pos-bottom" >-->
<!--            <button class="step-first">-->
<!--              &lt;!&ndash;            <div class="st-content"></div>&ndash;&gt;-->
<!--            </button>-->
<!--          </div>-->
          <div class="my-5"></div>
          <div *ngIf="steps">
            <div *ngFor="let step of steps">
              <div *ngIf="step.level % 2 === 0" class="step-button flex justify-start bg-pos-bottom">
                <button class="step-button-left" (click)="openDialog(step.id.toString())">
                  <div *ngIf="step.is_free" class="circle-multiple w-[90px] h-[90px] bg-no-repeat bg-bottom bg-contain"
                       [ngStyle]="{'background-image': 'url('+ImageHelper.getImage(step.image?.url)+')'}">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                  </div>
                  <div *ngIf="!step.is_free" class="circle bg-no-repeat bg-bottom bg-contain"
                       [ngStyle]="{'background-image': 'url('+ImageHelper.getImage(step.image?.url)+')'}"></div>
                  <div class="st-content">
                    {{step.title_kk}}
                  </div>
                  <div class="mt-4 flex justify-between items-center px-5 w-full [direction:ltr]">
                    <div class="w-full bg-neutral-200 text-black">
                      <div
                        class="bg-primary p-0.5 text-center text-xs font-medium leading-none italic"
                        [ngStyle]="{'width': step.progress_kk + '%', 'background-color': ColorConstants.primaryColor}">
                        {{step.progress_kk}}%
                      </div>
                    </div>
                  </div>
                </button>
              </div>
              <div *ngIf="step.level % 2 !== 0" class="step-button flex justify-end bg-pos-top">
                <button class="step-button-right" (click)="openDialog(step.id.toString())">
                  <div *ngIf="step.is_free" class="circle-multiple w-[90px] h-[90px] bg-no-repeat bg-bottom bg-contain"
                       [ngStyle]="{'background-image': 'url('+ImageHelper.getImage(step.image?.url)+')'}">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                  </div>
                  <div *ngIf="!step.is_free" class="circle bg-no-repeat bg-bottom bg-contain"
                       [ngStyle]="{'background-image': 'url('+ImageHelper.getImage(step.image?.url)+')'}"></div>
                  <div class="st-content">
                    {{ step.title_kk }}
                  </div>

                  <div class="mt-4 flex justify-between items-center px-5 w-full [direction:ltr]">
                    <div class="w-full bg-neutral-200 text-black">
                      <div
                        class="bg-primary p-0.5 text-center text-xs font-medium leading-none italic"
                        [ngStyle]="{'width': StrHelper.getProgressByCurrentLang(step, translate.currentLang) + '%', 'background-color': ColorConstants.primaryColor}">
                        {{ step.progress_kk }}%
                      </div>
                    </div>
                  </div>
                </button>
              </div>
              <div  class="[direction:ltr] w-full">
                <ngx-smart-modal identifier="{{step.id}}">
                  <div class="my-3" *ngFor="let subStep of subSteps">
                    <a [routerLink]="StrHelper.getDashboardRouteName(RoutesName.subStepRoute) + '/' + subStep.id" *ngIf="subStep.is_free">
                      <div
                        class="flex mobile:pl-2 sm:pl-2 mobile:items-center sm:items-center rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-xl">
                        <img
                          class="mobile:hidden mobile:h-auto sm:hidden sm:h-auto md:block h-96 w-1/4 rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg"
                          [src]="ImageHelper.getImage(null)"
                          alt="" />
                        <div class="md:hidden sm:block mobile:block border sm:w-[80px] sm:h-[80px] w-[50px] h-[50px] rounded-full bg-no-repeat bg-center bg-cover" [ngStyle]="{'background-image': 'url('+ImageHelper.getImage(null)+')'}"></div>
                        <div class="flex flex-col justify-start p-6 mobile:p-2 w-3/4">
                          <h5
                            class="mb-2 mobile:text-xs sm:text-xl font-medium text-neutral-800">
                            {{subStep.title_kk}}
                          </h5>
                          <div class="flex justify-between items-center">
                            <div class="w-full pr-3">
                              <div class="h-1 w-full bg-neutral-200">
                                <div class="h-1" [ngStyle]="{'width': subStep.progress_kk + '%', 'background-color': ColorConstants.primaryColor}"></div>
                              </div>
                            </div>
                            <p class="text-sm mobile:text-xs font-medium">{{subStep.progress_kk}}%</p>
                          </div>
                          <!--                      <p class="text-xs text-neutral-500">-->
                          <!--                        Last updated 3 mins ago-->
                          <!--                      </p>-->
                        </div>
                      </div>
                    </a>
                    <a href="javascript:void (0)" *ngIf="!subStep.is_free">
                      <div
                        class="flex mobile:pl-2 sm:pl-2 mobile:items-center sm:items-center rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-xl">
                        <img
                          class="mobile:hidden mobile:h-auto sm:hidden sm:h-auto md:block h-96 w-1/4 rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg"
                          [src]="ImageHelper.getImage(null)"
                          alt="" />
                        <div class="md:hidden sm:block mobile:block border sm:w-[80px] sm:h-[80px] w-[50px] h-[50px] rounded-full bg-no-repeat bg-center bg-cover" [ngStyle]="{'background-image': 'url('+ImageHelper.getImage(null)+')'}"></div>
                        <div class="flex justify-between items-center p-6 mobile:p-2 w-3/4">
                          <h5
                            class="mb-2 mobile:text-xs sm:text-xl font-medium text-gray-500">
                            {{subStep.title_kk}}
                          </h5>
                          <i class="fa fa-lock ml-2 fa-xl text-gray-500" aria-hidden="true"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </ngx-smart-modal>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="xl:w-[30%] container px-2 mobile:hidden sm:hidden md:hidden lg:hidden xl:block">
        <div *ngIf="fact">
          <div class="ml-5 w-full 2xl:w-3/4 2xl:ml-20 h-[130px]">
            <div class="bubble-2 bubble-bottom-left-2 text-white font-bold italic w-8/12 md:w-3/4 text-sm" [innerHTML]="fact.text_kk"></div>
          </div>
          <div
            style="height: calc(100vh - 430px); background-image: url('assets/images/facts_bg.png')" class="bg-bottom bg-no-repeat bg-contain">
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto my-3 py-2">
<!--      <ngx-slick-carousel class="carousel"-->
<!--                          [config]="slideConfig">-->
<!--        <div ngxSlickItem *ngFor="let subject of subjects" class="slide card rounded-2xl shadow-lg cursor-pointer relative" routerLink="/dashboard/step/{{subject.id}}">-->
<!--          <div class=" min-h-[250px]  bg-cover bg-center rounded-2xl" [ngStyle]="{'background-image': 'url(' + ImageHelper.getImage(subject.image?.url) + ')'}"></div>-->
<!--          <p class="text-center text-md font-bold py-4">-->
<!--            {{subject | globalTranslate: 'title': translate.currentLang}}-->
<!--          </p>-->
<!--        </div>-->
<!--      </ngx-slick-carousel>-->
      <div class="flex overflow-x-auto overscroll-none scroll-smooth will-change-scroll scrollbar-color py-3" id="scroll-x">
        <div *ngFor="let subject of subjects" class="slide card rounded-2xl shadow-lg cursor-pointer flex-shrink-0" (click)="getStepDetailBySubjectID(subject.id)">
          <div class=" min-h-[250px]  bg-cover bg-center rounded-2xl" [ngStyle]="{'background-image': 'url(' + ImageHelper.getImage(subject.image?.url) + ')'}"></div>
          <p class="text-center text-md font-bold py-4">
            {{subject.title_kk}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--        <div-->
  <!--          class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">-->
  <!--          <a href="#!">-->
  <!--            <img-->
  <!--              class="rounded-t-lg"-->
  <!--              src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg"-->
  <!--              alt="" />-->
  <!--          </a>-->
  <!--          <div class="p-6">-->
  <!--            <h5-->
  <!--              class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">-->
  <!--              Card title-->
  <!--            </h5>-->
  <!--            <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">-->
  <!--              Some quick example text to build on the card title and make up the-->
  <!--              bulk of the card's content.-->
  <!--            </p>-->
  <!--            <button-->
  <!--              type="button"-->
  <!--              class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"-->
  <!--              data-te-ripple-init-->
  <!--              data-te-ripple-color="light">-->
  <!--              Button-->
  <!--            </button>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--  </div>-->
</div>


