.st {
  background-image: url("/assets/images/3.webp"),url("/assets/images/4.webp");
  background-repeat: no-repeat,no-repeat;
  background-size: 150px;
  @media screen and (max-width: 900px){
    background-size: 0;
  }
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: calc(80vh);
  justify-content: center;
  position: relative;
  background-position: 0 100%,100% 100%;
}
.pre-st{
  background-image: linear-gradient(
      90deg,
      hsl(23deg 59% 48%) 0%,
      hsl(17deg 47% 40%) 4%,
      hsl(341deg 32% 26%) 11%,
      hsl(288deg 45% 16%) 21%,
      hsl(287deg 46% 17%) 42%,
      hsl(332deg 33% 24%) 86%,
      hsl(14deg 44% 37%) 97%,
      hsl(23deg 59% 43%) 100%
  );
}
.stepper {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  overflow-y: auto;
  //direction: rtl;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-color: #7a5585 #ffffff;
  //scrollbar-width: none;
  width: 100%;
}
.bg-pos-top {
  background-position: top;
}
.bg-pos-bottom {
  background-position: bottom;
}
.step-button {
  box-sizing: border-box;
  border: none;
  width: 420px;
  height: 240px;
  cursor: pointer;
  background-image: url("https://lingualeo.com/_next/static/media/path.e8e7a9752d8995c3cf61146fd67da28c.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  flex-shrink: 0;
  position: relative;
}
.step-first {
  left: 0;
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 156px;
}
.step-button-left {
  left: -50px;
  position: absolute;
  top: 16px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 156px;
}

.step-button-right {
  right: -60px;
  position: absolute;
  top: 16px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 156px;
}
.st-content {
  background-color: #fff;
  border-radius: 12px;
  color: #37383c;
  font-size: 12px;
  font-stretch: normal;
  font-style: italic;
  font-weight: 500;
  letter-spacing: normal;
  line-height: normal;
  margin: 20px 0 0;
  //max-width: 156px;
  padding: 4px 10px;
  text-align: center;
  z-index: 999;
}

.st-img {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.circle {
  height: 140px;
  width: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 0 0 rgba(255, 192, 0, 0.25), 0 -1px 0 0 rgba(255, 64, 0, 0.25), 1px 0 0 0 rgba(255, 192, 0, 0.25), -1px 0 0 0 rgba(255, 64, 0, 0.25), 1px -1px 0 0 rgba(255, 128, 0, 0.5), -1px 1px 0 0 rgba(255, 128, 0, 0.5), 1px 1px 0 0 rgba(255, 255, 0, 0.75), -1px -1px 0 0 rgba(255, 0, 0, 0.75);
}

.circle:nth-of-type(2) {
  box-shadow: 0 1px 0 0 rgba(225, 131, 194, 0.25), 0 -1px 0 0 rgba(165, 181, 222, 0.25), 1px 0 0 0 rgba(225, 131, 194, 0.25), -1px 0 0 0 rgba(165, 181, 222, 0.25), 1px -1px 0 0 rgba(195, 156, 208, 0.5), -1px 1px 0 0 rgba(195, 156, 208, 0.5), 1px 1px 0 0 rgba(255, 105, 180, 0.75), -1px -1px 0 0 rgba(135, 206, 235, 0.75);
  animation: rotateThis 1s linear infinite;
}
.circle:nth-of-type(3) {
  box-shadow: 0 1px 0 0 rgba(192, 63, 153, 0.25), 0 -1px 0 0 rgba(214, 69, 99, 0.25), 1px 0 0 0 rgba(192, 63, 153, 0.25), -1px 0 0 0 rgba(214, 69, 99, 0.25), 1px -1px 0 0 rgba(203, 66, 126, 0.5), -1px 1px 0 0 rgba(203, 66, 126, 0.5), 1px 1px 0 0 rgba(181, 59, 180, 0.75), -1px -1px 0 0 rgba(225, 72, 71, 0.75);
}
.circle-multiple {
  height: 140px;
  width: 140px;
}
.circle-multiple .circle {
  position: absolute;
  top: 0;
  right: 0;
  //bottom: 20;
  left: 0;
  margin: auto;
}
.circle-multiple .circle:nth-of-type(1) {
  animation: psycho 2s linear infinite;
}
.circle-multiple .circle:nth-of-type(2) {
  animation: psycho 2s linear 0.1s infinite;
}
.circle-multiple .circle:nth-of-type(3) {
  animation: psycho 2s linear 0.25s infinite;
}

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes psycho {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  33% {
    transform: rotate(360deg) scale(1) translate(5px, 5px);
  }
  66% {
    transform: rotate(720deg) scale(1) translate(-5px, -5px);
  }
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}

.scrollbar-color {
  scrollbar-color: #4DC591 #ffffff;
  scroll-padding: 1em 0.5em 1em 1em;
}
.bubble {
  position: relative;
  font-family: sans-serif;
  line-height: 24px;
  background: rgb(255, 145, 77,0.5);
  border-radius: 40px;
  padding: 24px;
  text-align: center;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 14px solid #FF7648;
  border-right: 12px solid transparent;
  border-top: 12px solid #FF7648;
  border-bottom: 20px solid transparent;
  left: 34px;
  bottom: -32px;



}

.bubble-2 {
  position: relative;
  font-family: sans-serif;
  line-height: 24px;
  background: rgb(255, 145, 77,0.5);
  border-radius: 40px;
  padding: 24px;
  text-align: center;
}

.bubble-bottom-left-2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 14px solid rgb(255, 145, 77,0.5);
  border-right: 12px solid transparent;
  border-top: 12px solid rgb(255, 145, 77,0.5);
  border-bottom: 20px solid transparent;
  right: 0;
  bottom: -32px;
  @media screen and (max-width: 1540px) {
    right: 35px;
    bottom: -32px;
  }
}




@media only screen and (min-width: 1280px) and (max-width: 1535px) {
  .bubble-2 {
    width: 100%;
    position: relative;
    font-family: sans-serif;
    line-height: 14px;
    background: rgb(255, 145, 77,0.5);
    border-radius: 40px;
    padding: 14px;
    text-align: center;
  }
}
@media only screen and (min-width: 1536px) {
  .bubble-bottom-left-2::before {
    left: 216px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .st-content {
    font-size: 10px;
  }
  .step-button-left {
    left: 7px;
    top: -26px;
  }
  .step-button {
    width: 320px;
    height: 185px;
  }
  .step-button-right {
    right: 8px;
    top: -14px;
  }
  .circle {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 900px) {
  .st {background-image: linear-gradient(
      90deg,
      hsl(23deg 59% 48%) 0%,
      hsl(17deg 47% 40%) 4%,
      hsl(341deg 32% 26%) 11%,
      hsl(288deg 45% 16%) 21%,
      hsl(287deg 46% 17%) 42%,
      hsl(332deg 33% 24%) 86%,
      hsl(14deg 44% 37%) 97%,
      hsl(23deg 59% 43%) 100%
  );}
}
/* the slides */
.slick-slide {
  margin: 10px 10px;
}
/* the parent */
.slick-list {
  margin: 10px -10px;
}
.slick-dots{
  bottom: -60px!important;
}

