<footer class="bg-orange-400 w-full z-[100] bottom-0">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4">
      <a routerLink="/" class="flex items-center mobile:mx-auto sm:mx-auto md:mx-auto lg:m-0">
        <img src="assets/images/logo-white.webp" class="h-12 mr-3" alt="IUnion" />
      </a>
      <div class="w-full md:block md:w-auto">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0">
          <li class="flex justify-center items-center">
            <img class="w-[100px]" src="assets/images/mastercard.png" alt="mastercard">
          </li>
          <li class="flex justify-center items-center">
            <img class="w-[100px]" src="assets/images/visa.png" alt="mastercard">
          </li>
          <li class="flex justify-center items-center">
            <a routerLink="private-policy" class="block py-2 pl-3 pr-4 rounded text-center md:hover:bg-transparent text-white">Политика конфиденциальности</a>
          </li>
          <li class="flex justify-center items-center">
            <a routerLink="contract-offer" class="block py-2 pl-3 pr-4 rounded text-center md:hover:bg-transparent text-white">Договор оферты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
