<footer class="bg-orange-400 w-full z-[100] bottom-0">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 py-3 md:py-5 lg:py-8">
      <div class="col-span-12 lg:col-span-3 py-3">
        <a routerLink="/" class="flex justify-center lg:justify-start  items-center">
          <img src="assets/images/logo-white-tr.png" class="max-w-[250px]" alt="IUnion" />
        </a>
        <li class="flex justify-center lg:justify-start items-center mb-4">
          <p class="text-white font-bold text-xl lg:text-2xl">
            ТОО "I-UNION"
          </p>
        </li>
      </div>
      <div class="col-span-12 lg:col-span-3 py-3">
        <ul class="font-medium md:p-0">
          <li class="flex justify-center lg:justify-start items-center mb-4">
            <p class="text-white font-bold text-xl lg:text-2xl">
             Принимаем оплату:
           </p>
          </li>
          <li class="flex justify-center lg:justify-start  items-center">
            <img class="w-[150px]" src="assets/images/mastercard.png" alt="mastercard">
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <img class="w-[150px]" src="assets/images/visa.png" alt="mastercard">
          </li>
        </ul>
      </div>
      <div class="col-span-12 lg:col-span-3 py-3">
        <ul class="font-medium md:p-0">
          <li class="flex justify-center lg:justify-start items-center mb-4">
            <p class="text-white font-bold text-xl lg:text-2xl">
             Ссылки:
           </p>
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <a routerLink="private-policy" class="block py-2 rounded md:hover:bg-transparent text-white">
              <fa-icon [icon]="faHandshake" class="ml-1"></fa-icon>
              Политика конфиденциальности
            </a>
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <a routerLink="contract-offer" class="block py-2  rounded md:hover:bg-transparent text-white">
              <fa-icon [icon]="faFileSignature" class="ml-1"></fa-icon>
              Договор оферты
            </a>
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <a routerLink="pay-offer" class="block py-2 rounded md:hover:bg-transparent text-white">
              <fa-icon [icon]="faCreditCard" class="ml-1"></fa-icon>
              Политика проведение платежей
            </a>
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <a routerLink="money-back" class="block py-2  rounded md:hover:bg-transparent text-white">
              <fa-icon [icon]="faMoneyCheck" class="ml-1"></fa-icon>
              Правила порядка возврата средств
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-12 lg:col-span-3 py-3">
        <ul class="font-medium md:p-0">
          <li class="flex justify-center lg:justify-start items-center mb-4">
           <p class="text-white font-bold text-xl lg:text-2xl">
             Контактные данные:
           </p>
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <p class="block py-2 rounded md:hover:bg-transparent text-white">
              <fa-icon [icon]="faLocationDot" class="ml-1"></fa-icon>
              Республика Казахстан, г. Шымкент, ул. Байтурсынова дом 15, кв. 3
            </p>
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <a href="tel:+77001234030" class="block py-2  rounded text-center md:hover:bg-transparent text-white">
              <fa-icon [icon]="faPhoneAlt" class="ml-1"></fa-icon>
              +7 700 123 40 30
            </a>
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <a href="https://wa.me/77001234030" class="block py-2  rounded text-center md:hover:bg-transparent text-white">
              <fa-icon [icon]="faWhatsapp" class="ml-1"></fa-icon>
              +7 700 123 40 30
            </a>
          </li>
          <li class="flex justify-center lg:justify-start items-center">
            <a href="mailto:iuniontech2023@gmail.com" class="block py-2  rounded text-center md:hover:bg-transparent text-white">
              <fa-icon [icon]="faGoogle" class="ml-1"></fa-icon>
              iuniontech2023@gmail.com
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid grid-cols-12 py-3 border-t-[1px] border-white">
      <div class="col-span-12">
        <li class="flex justify-center lg:justify-start items-center mb-4">
          <p class="text-white font-normal text-md">
            © 2024 ТОО "I-UNION" - все права защищены
          </p>
        </li>
      </div>

    </div>
  </div>
</footer>
