<div class="w-full flex justify-end items-center" *ngIf="checkedList.length > 0">
  <button
    class="mr-5 bg-amber-400"
    tw-button
    layout="flat"
    (click)="submit()"
  >
    <ngx-smart-modal identifier="0" customClass="large-modal">
      <div class="my-3 text-black">

      </div>
    </ngx-smart-modal>
    {{'CREATE_SINGLE_TEST' | translate}}
    <i class="fa fa-cube ml-3" aria-hidden="true"></i>
  </button>
  <button
    class="bg-amber-400"
    tw-button
    layout="flat"
  >
    {{'CREATE_UNT' | translate}}
    <i class="fa fa-cubes ml-3" aria-hidden="true"></i>
  </button>
</div>
<div class="flex">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 w-full">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <form [formGroup]="checkbox_form">
          <table class="min-w-full text-center text-sm font-light table-auto">
            <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              <th scope="col" class="px-6 py-4">
                <div class="flex items-center">
                  <input  (change)="changeCheckbox($event, true)" id="default-checkbox" type="checkbox" value="0" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-2">
                </div>
              </th>
              <th scope="col" class="px-6 py-4">#</th>
              <th scope="col" class="px-6 py-4">{{'NAME' | translate}}</th>
              <th scope="col" class="px-6 py-4">{{'GENDER' | translate}}</th>
              <th scope="col" class="px-6 py-4">{{'PHONE' | translate}}</th>
              <th scope="col" class="px-6 py-4">{{'EMAIL' | translate}}</th>
              <th scope="col" class="px-6 py-4">{{'ACTION' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of data | keys"
                class="border-b transition duration-300 ease-in-out hover:bg-green-500 dark:border-neutral-500 dark:hover:bg-green-500 dark:hover:text-white">
              <td class="whitespace-nowrap px-6 py-4 font-medium">
                <div class="flex items-center mb-4">
                  <input type="checkbox" [checked]="isAllChecked" [value]="item.value.user.email" (change)="changeCheckbox($event, false)" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-2">
                </div>
              </td>
              <td class="whitespace-nowrap px-6 py-4 font-medium">{{parseInt(item.key) + 1}}</td>
              <td class="whitespace-nowrap px-6 py-4">{{item.value.user.name}}</td>
              <td class="whitespace-nowrap px-6 py-4">{{item.value.user.gender != null ? (item.value.user.gender | globalTranslate: 'title': this.translate.currentLang) : 'NOT_SPECIFIED_MESSAGE' | translate}}</td>
              <td class="whitespace-nowrap px-6 py-4">{{item.value.user.phone != null ? item.value.user.phone : 'NOT_SPECIFIED_MESSAGE' | translate}}</td>
              <td class="whitespace-nowrap px-6 py-4">{{item.value.user.email != null ? item.value.user.email : 'NOT_SPECIFIED_MESSAGE' | translate}}</td>
              <td class="whitespace-nowrap px-6 py-4">
                <div class="flex justify-center">
                  <button
                    class="mx-2 text-black"
                    tw-button
                    layout="flat"
                  >
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button
                    class="mx-2 text-black"
                    tw-button
                    layout="flat"
                  >
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button
                    class="mx-2 text-red-600"
                    tw-button
                    layout="flat"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="py-4" *ngIf="isSingleTest">
  <div class="my-2 flex justify-between items-center">
    <select data-te-select-init>
      <option (click)="getCategories(0)">{{'SELECT_SUBJECT' | translate}}</option>
      <option (click)="getCategories(subject.id)" [value]="subject.id" *ngFor="let subject of subjects">{{subject | globalTranslate: 'title': translate.currentLang}}</option>
    </select>
    <div class="flex">
      <span>
        {{basket.singleQ}} / {{basket.contextQ}} / {{basket.multiQ}}
        <i class="fa fa-basket-shopping ml-3"></i>
      </span>
    </div>
  </div>
  <div class="my-2" *ngIf="isShowCategoryContent">
    <div class="flex">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 w-full">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <form>
              <div *ngFor="let cat of categories"
                class="block w-full rounded-lg bg-[#FF7648] text-left shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                <div class="p-6 my-2 flex justify-between">
                  <div class="flex items-center justify-between">
                    <p class="text-base text-white">
                      {{cat | globalTranslate: 'title': translate.currentLang}}
                    </p>
                  </div>
                  <button (click)="getSubCategories(cat.id)" class="rounded-full border ml-auto w-[20px] h-[20px] flex justify-center items-center text-white hover:border-[#3b71ca] hover:text-[#3b71ca]">
                    <i class="fa fa-arrow-down" *ngIf="subCategoryContentID != cat.id"></i>
                    <i class="fa fa-arrow-up" *ngIf="subCategoryContentID == cat.id"></i>
                  </button>

                </div>
                <div *ngIf="subCategoryContentID == cat.id">
                  <div class="flex justify-between p-3">
                    <button [ngClass]="isSelectAllCategoryID == cat.id ? 'border-[#3b71ca] text-[#3b71ca]' : ''" (click)="selectAllCategoryByID(cat.id)" class="px-2 border flex justify-center items-center text-white hover:border-[#3b71ca] hover:text-[#3b71ca]">
                      {{isSelectAllCategoryID != cat.id ? ('SELECT_ALL' | translate) : 'CANCEL_BUTTON' | translate}}
                      <i class="fa fa-check ml-3" *ngIf="isSelectAllCategoryID != cat.id"></i>
                      <i class="fa fa-ban ml-3" *ngIf="isSelectAllCategoryID == cat.id"></i>
                    </button>
                    <form [formGroup]="category_form" (ngSubmit)="categoryFormSubmit(cat)">
                      <div class="ml-2 flex justify-between" *ngIf="isSelectAllCategoryID == cat.id">
                        <div *ngIf="cat.s_questions_count != 0">
                          <input [formControlName]="'s_questions_count'" [placeholder]="'SINGLE_QUESTIONS' | translate" class="range-slider__range">
                          <span class="range-slider__value">{{cat.s_questions_count}}</span>
                        </div>
                        <div *ngIf="cat.c_questions_count != 0">
                          <input [formControlName]="'c_questions_count'" [placeholder]="'CONTEXT_QUESTIONS' | translate" class="range-slider__range">
                          <span class="range-slider__value">{{cat.c_questions_count}}</span>
                        </div>
                        <div *ngIf="cat.m_questions_count != 0">
                          <input [formControlName]="'m_questions_count'" [placeholder]="'MULTI_QUESTIONS' | translate" class="range-slider__range">
                          <span class="range-slider__value">{{cat.m_questions_count}}</span>
                        </div>
                        <button [disabled]="!category_form.valid" [ngClass]="category_form.valid ? 'cursor-pointer' : 'cursor-not-allowed'" type="submit" class="px-2 border flex justify-center items-center text-white hover:border-[#3b71ca] hover:text-[#3b71ca]">
                          {{'SAVE_BUTTON' | translate}}
                          <i class="fa fa-check ml-3"></i>
                        </button>
                      </div>
                    </form>

                  </div>
                  <div class="px-3 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 2xl:grid-cols-4 xl:gap-x-8 py-3" *ngIf="isSelectAllCategoryID != cat.id">
                    <div *ngFor="let subCat of subCategories"
                         class="group relative shadow cursor-pointer bg-white">
                      <div class="p-6 my-2 flex justify-between">
                        <div class="flex items-center">
                          <p class="text-base text-black">
                            {{subCat | globalTranslate: 'title': translate.currentLang: 40}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
