<div>
  <div class="" *ngIf="dashboardStat">
    <div class="container mx-auto">

      <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 2xl:grid-cols-4 xl:gap-x-8 py-3">
        <div class="group relative shadow rounded-[10px] bg-white">
          <div class="p-5 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 lg:h-36">
            <div class="w-full h-full flex justify-start items-center">
              <div class="text-white flex justify-center items-center w-[50px] h-[50px] rounded-full border-[#3b71ca] bg-[#FF5374]">
                <i class="fa fa-user"></i>
              </div>
              <div class="p-3 flex justify-start items-center">
                <div>
                  <h1 class="font-bold text-[20px]">{{dashboardStat.users}}</h1>
                  <div>
                    <span class="text-gray-400 italic">Студентов</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="group relative shadow rounded-[10px] bg-white">
          <div class="p-5 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 lg:h-36">
            <div class="w-full h-full flex justify-start items-center">
              <div class="text-white flex justify-center items-center w-[50px] h-[50px] rounded-full border-[#3b71ca] bg-[#4DC591]">
                <i class="fa fa-cube"></i>
              </div>
              <div class="p-3 flex justify-start items-center">
                <div>
                  <h1 class="font-bold text-[20px]">{{dashboardStat.single_tests}}</h1>
                  <div>
                    <span class="text-gray-400 italic">Одинарных тестов</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="group relative shadow rounded-[10px] bg-white">
          <div class="p-5 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 lg:h-36">
            <div class="w-full h-full flex justify-start items-center">
              <div class="text-white flex justify-center items-center w-[50px] h-[50px] rounded-full border-[#3b71ca] bg-[#FFBB44 ]">
                <i class="fa fa-cubes"></i>
              </div>
              <div class="p-3 flex justify-start items-center">
                <div>
                  <h1 class="font-bold text-[20px]">{{dashboardStat.unt_tests}}</h1>
                  <div>
                    <span class="text-gray-400 italic">ЕНТ тестов</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="group relative shadow rounded-[10px] bg-white">
          <div class="p-5 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 lg:h-36">
            <div class="w-full h-full flex justify-start items-center">
              <div class="text-white flex justify-center items-center w-[50px] h-[50px] rounded-full border-[#3b71ca] bg-[#9BA1FF]">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="p-3 flex justify-start items-center">
                <div>
                  <h1 class="font-bold text-[20px]">{{dashboardStat.classrooms}}</h1>
                  <div>
                    <span class="text-gray-400 italic">групп</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- More products... -->
      </div>

      <div class="rounded-[10px] bg-white w-full">
        <div class="w-full 2xl:flex mobile:block sm:block md:block lg:block xl:block">
          <div class="2xl:w-[60%] p-3">
            <div class="col-span-12 bg-white rounded-2xl p-4 shadow-lg md:flex items-center text-red-500">
              <canvas
                baseChart
                class="chart"
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType"
              >
              </canvas>
            </div>
          </div>
          <div class="2xl:w-[40%] p-3">
            <h1>{{'TOP_SINGLE_TEST' | translate}}</h1>
            <div class="flex items-center shadow bg-white px-5 py-3 rounded-[10px] w-full my-2" *ngFor="let user of dashboardStat.top_single_users | keys">
              <div class="text-white flex justify-center items-center w-[30px] h-[30px] rounded-full border-[#3b71ca] bg-[#FF5374]">
                <i class="fa fa-graduation-cap"></i>
              </div>
              <div class="flex justify-between items-center">
                <div class="px-3">{{user.key}}</div>
                <div class="px-3">{{user.value.points}} / {{user.value.max_points}}</div>
                <div class="px-3">{{user.value.subject}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rounded-[10px] bg-white w-full">
        <div class="w-full 2xl:flex mobile:block sm:block md:block lg:block xl:block">
          <div class="2xl:w-[60%] p-3">
            <div class="col-span-12 bg-white rounded-2xl p-4 shadow-lg md:flex items-center text-red-500">
              <canvas
                baseChart
                class="chart"
                [data]="barUNTChartData"
                [options]="barUNTChartOptions"
                [type]="barUNTChartType"
              >
              </canvas>
            </div>
          </div>
          <div class="2xl:w-[40%] p-3">
            <h1>{{'TOP_UNT_TEST' | translate}}</h1>
            <div class="flex items-center shadow bg-white px-5 py-3 rounded-[10px] w-full my-2" *ngFor="let user of dashboardStat.top_unt_users | keys">
              <div class="text-white flex justify-center items-center w-[30px] h-[30px] rounded-full border-[#3b71ca] bg-[#FF5374]">
                <i class="fa fa-graduation-cap"></i>
              </div>
              <div class="px-3">{{user.key}}</div>
              <div class="px-3">{{user.value.points}} / {{user.value.max_points}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

