<div class="container-fluid w-full flex justify-center">
  <nav class="z-[100] bg-orange-400 rounded-none my-navbar"
       style="transition:0.5s linear;"
        [ngClass]="{
        'fixed w-full shadow-lg w-full-screen rounded-xl md:rounded-full sm:w-[640px] m-2 md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1536px]':fixedNavBar,
        'w-full':fixedNavBar == false,
        }"

  >
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a routerLink="/" class="flex items-center">
        <img src="assets/images/logo-white.png" class="h-[40px] xl:h-[80px] rounded-lg mr-3" alt="IUnion" />
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg  md:flex-row md:mt-0 md:border-0">
          <li class="text-xs  uppercase">
            <a href="/" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"MAIN_PAGE"|translate}}</a>
          </li>
          <li class="text-xs  uppercase">
            <a href="/lifehacks" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">Лайфхаки</a>
          </li>
          <li class="text-xs  uppercase">
            <a href="/#service" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"SERVICE_PAGE"|translate}}</a>
          </li>
          <li class="text-xs  uppercase">
            <a href="/#price" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"PRICE_PAGE"|translate}}</a>
          </li>
          <li class="text-xs  uppercase">
            <a href="/#advantage" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"ADVANTAGE_PAGE"|translate}}</a>
          </li>
          <li class="text-xs  uppercase">
            <a href="/#partners" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"PARTNERS_PAGE"|translate}}</a>
          </li>
          <li class="text-xs  uppercase">
            <a href="/#contact" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"CONTACT_PAGE"|translate}}</a>
          </li>
          <li class="text-xs  uppercase flex items-center text-white">
            <div class="px-1 cursor-pointer">
              <div class="flex justify-center items-center" (click)="clickLocaleDropdown()">
                <p class="mx-3">{{translate.currentLang | titlecase}}</p>
              </div>
              <div *ngIf="localeDropdown" class="absolute w-32 bg-orange-400 rounded-lg shadow-lg py-2 z-[999]">
                <span class="block px-4 py-2 account-link cursor-pointer hover:bg-[#4dc591]/90 hover:text-white" (click)="changeLang('kk')">Kk</span>
                <span class="block px-4 py-2 account-link cursor-pointer hover:bg-[#4dc591]/90 hover:text-white" (click)="changeLang('ru')">Ru</span>
              </div>
            </div>
          </li>
          <li class="text-xs  uppercase hover:text-violet-700 ">
            <div *ngIf="me; else guest">
              <a *ngIf="me.role == 'student'" routerLink="dashboard/my-profile" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"HELLO"|translate}}, {{me.name}}</a>
              <a *ngIf="me.role == 'teacher'" routerLink="teacher/index" class="block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"HELLO"|translate}}, {{me.name}}</a>
            </div>
            <ng-template #guest>
              <a routerLink="auth/login" class="text-xs  uppercase block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent text-white hover:text-violet-700">{{"LOGIN_PAGE"|translate}}</a>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
