<div class="container mx-auto py-4" *ngIf="translate.currentLang == 'ru'">
  <h1 class="mb-4 text-3xl font-extrabold text-black text-center leading-none tracking-tight md:text-4xl lg:text-5xl">
    Политика защиты и обработки персональных данных
  </h1>
  <p class="text-center">(товарищество с ограниченной ответственностью "I-Union")</p>

  <div class="my-2">
    <div class="my-3"><b>Политика Конфиденциальности</b></div>
    <p>Сайт https://iutest.kz принадлежит I-Union, которая является контроллером для ваших личных данных.</p>
    <p>Мы используем эту Политику конфиденциальности, которая определяет, как мы обрабатываем информацию, собранную
      https://iutest.kz, а также причины, по которым мы должны собирать определённые личные данные о вас. Поэтому вы должны
      прочитать данную Политику конфиденциальности перед использованием сайта https://iutest.kz.</p>
    <p>Мы заботимся о ваших личных данных и гарантируем их конфиденциальность и безопасность.</p>
    <div class="my-3"><b>Личная информация, которую мы собираем:</b></div>
    <p>при посещении https://iutest.kz, мы автоматически собираем определённую информацию о вашем устройстве, включая
      информацию
      о вашем веб-браузере, IP-адресе, часовом поясе и т. д. и некоторые из установленных файлов cookies на вашем
      устройстве. Кроме того, когда вы просматриваете Сайт, мы собираем информацию об отдельных страницах или продуктах,
      которые вы просматриваете, о том, какие сайты или условия поиска направили вас на Сайт и как вы взаимодействуете с
      Сайтом. Мы называем эту автоматически собранную информацию «Информация об устройстве». Кроме того, мы можем
      собирать
      личные данные, которые вы нам предоставляете (включая имя, фамилию, адрес, платежную информацию и т. д.) во время
      регистрации, чтобы иметь возможность выполнить соглашение.
      Почему мы обрабатываем ваши данные?</p>
    <p>Нашим главным приоритетом является безопасность клиентов, вот почему мы должны обрабатывать тот минимальный объем
      пользовательских данных: ровно столько, сколько необходимо для обслуживания сайта. Информация, собираемая
      автоматически, используется только для выявления потенциальных нарушений и получения статистической информации об
      использовании Сайта. Эта статистическая информация не собирается таким образом, чтобы можно было идентифицировать
      конкретного пользователя системы.</p>
    <p>Вы можете посещать Сайт, не сообщая нам, кто вы, и не раскрывая никакой информации, с помощью которой кто-либо
      мог бы
      идентифицировать вас как конкретное лицо. Однако, если вы хотите использовать некоторые функции сайта, хотите
      получать
      нашу рассылку новостей или другие сведения, заполнив форму, — вы можете предоставить нам личные данные, такие как
      ваш
      адрес электронной почты, имя, фамилия, место жительства, организации, телефона. Вы можете не предоставлять нам
      свои
      личные данные, но в этом случае вы не сможете воспользоваться определёнными функциями Сайта. Например, вы не
      сможете
      получать нашу рассылку новостей или связываться с нами напрямую через Сайт. Пользователи, которые не уверены,
      какая
      информация является обязательной, могут связаться с нами через iuniontech2023@gmail.com.</p>
    <div class="my-3"><b>Ваши права:</b></div>
    <p>Если вы являетесь резидентом Европы, у вас есть следующие права, связанные с вашими личными данными:</p>
    <ul class="list-disc pl-5">
      <li>Право на получение информации.</li>
      <li>Право доступа.</li>
      <li>Право на внесение исправлений.</li>
      <li>Право на уничтожение данных.</li>
      <li>Право ограничивать обработку.</li>
      <li>Право на перенос данных.</li>
      <li>Право на восстановление.</li>
      <li>Права в отношении автоматизированного принятия решений и профилирования.</li>
    </ul>
    <p>Если вы хотите воспользоваться этим правом, свяжитесь с нами, используя указанную ниже контактную информацию.</p>
    <p>Кроме того, если вы являетесь резидентом Европы, мы отмечаем, что мы обрабатываем вашу информацию для выполнения
      контрактов, которые могут быть заключены с вами (например, если вы делаете заказ через Сайт), или иным образом для
      преследования наших законных деловых интересов, перечисленных выше. Кроме того, обратите внимание, что ваша
      информация
      может быть передана за пределы Европы, включая Канаду и США.</p>
    <div class="my-3"><b>Ссылки на другие сайты:</b></div>
    <p>Наш Сайт может содержать ссылки на другие сайты, которые нам не принадлежат и не контролируются нами. Имейте в
      виду,
      что мы не несем ответственности за политику конфиденциальности подобных сайтов или третьих лиц. Мы рекомендуем вам
      проверять, когда вы покидаете наш Сайт и читаете заявления о конфиденциальности каждого сайта, который может
      собирать
      личную информацию.</p>
    <div class="my-3"><b>Информационная безопасность:</b></div>
    <p>Мы защищаем информацию, которую вы предоставляете на компьютерных серверах, в контролируемой безопасной среде,
      защищенной от несанкционированного доступа, использования или раскрытия. Мы принимаем разумные административные,
      технические и физические меры безопасности для защиты от несанкционированного доступа, использования, изменения и
      раскрытия личных данных, находящихся под его контролем и хранением. Однако передача данных через Интернет или
      беспроводную сеть не может быть гарантирована.</p>
    <div class="my-3"><b>Юридическое раскрытие:</b></div>
    <p>Мы будем раскрывать любую информацию, которую мы собираем, используем или получаем, если это требуется или
      разрешено
      законом, например, в соответствии с повесткой в ​​суд или аналогичным судебным процессом, и когда мы добросовестно
      полагаем, что раскрытие информации необходимо для защиты наших прав, вашей безопасности или безопасности других
      лиц,
      расследования мошенничества или ответа на запрос правительства.</p>
    <div class="my-3"><b>Контактная информация:</b></div>
    <p>Если вы хотите связаться с нами, чтобы узнать больше об этой Политике, или хотите связаться с нами по любому
      вопросу,
      касающемуся индивидуальных прав и вашей Личной информации, вы можете отправить письмо на адрес
      iuniontech2023@gmail.com.</p>
  </div>
</div>
<div class="container mx-auto py-4" *ngIf="translate.currentLang == 'kk'">
  <h1 class="mb-4 text-3xl font-extrabold text-black text-center leading-none tracking-tight md:text-4xl lg:text-5xl">
    Дербес деректерді қорғау және өңдеу саясаты
  </h1>
  <p class="text-center">("I-Union"жауапкершілігі шектеулі серіктестігі)</p>

  <div class="my-2">
    <div class="my-3"><b>құпиялылық саясаты </b></div>
    <p> Сайт https://iutest.kz I-Union тиесілі, ол сіздің жеке деректеріңіз үшін контроллер болып табылады.</p>
    <p>біз жиналған ақпаратты қалай өңдейтінімізді анықтайтын осы құпиялылық саясатын қолданамыз
      https://iutest.kz, сондай-ақ сіз туралы белгілі бір жеке деректерді жинауымыздың себептері. Сондықтан сізге керек
      сайтты қолданар алдында осы құпиялылық саясатын оқып шығыңыз https://iutest.kz.</p>
    <p>біз сіздің жеке деректеріңізге қамқорлық жасаймыз және олардың құпиялылығы мен қауіпсіздігіне кепілдік
      береміз.</p>
    <div class="my-3"><b> біз жинайтын жеке ақпарат:</b></div>
    <p>барған кезде https://iutest.kz. біз сіздің құрылғыңыз туралы белгілі бір ақпаратты, соның ішінде ақпаратты автоматты
      түрде жинаймыз
      веб-шолғыш, IP мекенжайы, уақыт белдеуі және т. б. туралы және сіздің веб-сайтыңызға орнатылған кейбір cookies
      файлдары
      құрылғы. Сонымен қатар, сіз сайтты қараған кезде біз жеке беттер немесе өнімдер туралы ақпарат жинаймыз,
      сіз қандай сайттар немесе іздеу шарттары сізді Сайтқа бағыттағаны және сіз қалай қарым-қатынас жасайтыныңыз туралы
      Сайт. Біз бұл автоматты түрде жиналған ақпаратты "Құрылғы туралы ақпарат"деп атаймыз. Сонымен қатар, біз жинай
      аламыз
      сіз бізге берген жеке деректер (оның ішінде аты, тегі, мекен-жайы, төлем туралы ақпарат және т. б.)
      Келісімді орындау үшін тіркелу.
      Неліктен біз сіздің деректеріңізді өңдейміз?</p>
    <p>біздің басты басымдығымыз-клиенттердің қауіпсіздігі, сондықтан біз ең төменгі көлемді өңдеуіміз керек
      пайдаланушы деректері: Сайтқа қызмет көрсету үшін қанша қажет болса, сонша. Жиналатын ақпарат
      автоматты түрде, тек ықтимал бұзушылықтарды анықтау және статистикалық ақпаратты алу үшін қолданылады
      сайтты пайдалану. Бұл статистикалық ақпарат анықталатын жолмен жиналмайды
      жүйенің нақты пайдаланушысы.</p>
    <p>сіз сайтқа өзіңіздің кім екеніңізді айтпай-ақ кіре аласыз және кез-келген адам жасай алатын ақпаратты ашпай-ақ
      кіре аласыз
      сізді белгілі бір тұлға ретінде анықтаңыз. Алайда, егер сіз сайттың кейбір мүмкіндіктерін пайдаланғыңыз келсе,
      мынаны алғыңыз келеді
      форманы толтыру арқылы біздің ақпараттық бюллетень немесе басқа мәліметтер - сіз бізге сіз сияқты жеке деректерді
      бере аласыз
      электрондық пошта мекенжайы, аты, тегі, тұрғылықты жері, ұйымы, телефоны. Сіз бізге өзіңіздікін бермеуіңіз мүмкін
      жеке деректер, бірақ бұл жағдайда сіз сайттың белгілі бір мүмкіндіктерін пайдалана алмайсыз. Мысалы, сіз жасай
      алмайсыз
      біздің ақпараттық бюллетеньді алыңыз немесе Сайт арқылы бізге тікелей хабарласыңыз. Қайсысы екеніне сенімді емес
      пайдаланушылар
      ақпарат міндетті болып табылады, бізбен байланыса алады iuniontech2023@gmail.com.</p>
    <div class="my-3"><b>Сіздің құқықтарыңыз:</b></div>
    <p>Егер сіз Еуропаның тұрғыны болсаңыз, сіздің жеке деректеріңізге қатысты келесі құқықтарыңыз бар:</p>
    <ul class="list-disc pl-5">
      <li>ақпарат алу құқығы.</li>
      <li>кіру құқығы.</li>
      <li>түзету құқығы.</li>
      <li>деректерді жою құқығы.</li>
      <li>өңдеуді шектеу құқығы.</li>
      <li> деректерді тасымалдау құқығы.</li>
      <li>қалпына келтіру құқығы.</li>
      <li>автоматтандырылған шешім қабылдау және профильдеу құқықтары.</li>
    </ul>
    <p>егер сіз осы құқықты пайдаланғыңыз келсе, төмендегі байланыс ақпаратын пайдаланып бізге хабарласыңыз.</p>
    <p>сонымен қатар, егер сіз Еуропаның тұрғыны болсаңыз, біз сіздің ақпаратыңызды орындау үшін өңдейтінімізді атап
      өтеміз
      сізбен жасалуы мүмкін келісімшарттар (Мысалы, егер сіз Сайт арқылы тапсырыс берсеңіз) немесе басқа жолмен
      жоғарыда аталған заңды іскерлік мүдделерімізді қудалау. Сонымен қатар, сіздің ақпаратыңыз
      Еуропадан тыс жерлерге, соның ішінде Канада мен АҚШ-қа берілуі мүмкін.</p>
    <div class="my-3"><b>басқа сайттарға сілтемелер:</b></div>
    <p>біздің сайтта бізге тиесілі емес және Біз бақыламайтын басқа сайттарға сілтемелер болуы мүмкін. Есіңізде болсын,
      біз мұндай сайттардың немесе үшінші тұлғалардың құпиялылық саясатына жауапты емеспіз.
      біздің сайттан шыққан кезде және жинай алатын әрбір сайттың құпиялылық туралы мәлімдемелерін оқығаныңызды
      тексеріңіз
      жеке ақпарат.</p>
    <div class="my-3"><b>ақпараттық қауіпсіздік:</b></div>
    <p>біз сіз басқарылатын қауіпсіз ортада компьютерлік серверлерде беретін ақпаратты қорғаймыз,
      рұқсатсыз кіруден, пайдаланудан немесе ашудан қорғалған. Біз ақылға қонымды әкімшілік қабылдаймыз,
      рұқсатсыз кіруден, пайдаланудан, өзгертуден және т. б. қорғау үшін техникалық және физикалық қауіпсіздік шаралары
      оның бақылауындағы және сақтауындағы жеке деректерді ашу. Дегенмен, Интернет арқылы деректерді беру немесе
      сымсыз желіге кепілдік берілмейді.</p>
    <div class="my-3"><b>заңды ашу:</b></div>
    <p>біз қажет немесе рұқсат етілген жағдайда жинайтын, пайдаланатын немесе алатын кез келген ақпаратты ашамыз
      заңмен, мысалы, шақыру қағазына немесе ұқсас сот процесіне сәйкес және Біз адал болған кезде
      ақпаратты ашу біздің құқықтарымызды, сіздің қауіпсіздігіңізді немесе басқа адамдардың қауіпсіздігін қорғау үшін
      қажет деп санаймыз,
      алаяқтықты тергеу немесе Үкіметтің сұрауына жауап беру.</p>
    <div class="my-3"><b>Байланыс ақпараты:</b></div>
    <p>Егер сіз осы Саясат туралы көбірек білу үшін бізбен байланысқыңыз келсе немесе кез-келген мәселе бойынша бізбен
      байланысқыңыз келсе,
      жеке құқықтар мен жеке ақпаратқа қатысты сіз мекен-жайға хат жібере аласыз
      iuniontech2023@gmail.com.</p>
  </div>
</div>


