<div class="container mx-auto">
  <div class="grid grid-col-12 gap-3 my-5">
    <div class="col-span-12" *ngIf="news" >
      <div [routerLink]="['/'+ RoutesName.newsDetail + '/' + news.id]" class="cursor-pointer min-h-[350px] lg:min-h-[550px] py-5 px-3 rounded-lg flex items-center bg-cover bg-no-repeat"
           [ngStyle]="{'background':'linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(' + ImageHelper.getImage(news.poster!.url) + ')','background-repeat':'no-repeat','background-size':'cover'}">
        <div class="z-20 px-10 w-full lg:w-8/12 xl:w-6/12 text-center lg:text-left">
          <span class="block my-3 text-md lg:text-lg text-white font-bold">
            <fa-icon [icon]="faClock" class="mr-2"></fa-icon>{{moment(news.published_at).format("HH:mm DD/MM/YYYY")}}
          </span>
          <p class="inline-block my-3 text-lg lg:text-xl xl:text-3xl 2xl:text-5xl text-white font-bold">
            {{news.title}}
          </p>
          <p class="inline-block my-3 text-md md:text-lg lg:text-xl text-white">
            {{news.subtitle}}
          </p>
          <a [routerLink]="['/'+ RoutesName.newsDetail + '/' + news.id]" class="inline-block my-3 cursor-pointer text-white hover:text-black border border-white hover:bg-white focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
            {{"MORE_INFO"|translate}}
          </a>
          <span class="block my-3 text-md lg:text-lg text-white font-bold" *ngIf="news.user">
            <fa-icon [icon]="faUser" class="mr-2"></fa-icon>{{news.user.name}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-col-12 gap-3 my-5" *ngIf="allNews">
    <div class="col-span-12 cursor-pointer" [routerLink]="['/'+ RoutesName.newsDetail + '/' + newsItem.id]" *ngFor="let newsItem of allNews.data | paginate: { itemsPerPage: allNews.per_page, currentPage: allNews.current_page,totalItems:allNews.total }">
      <div class="lg:flex items-center p-3 rounded-lg bg-black-violet-orange-180-05 main-violet-first-rounded shadow-2xl">
        <div class="w-full min-h-[300px] h-full lg:w-4/12 rounded-lg bg-center bg-no-repeat bg-cover"
             [ngStyle]="{'background-image':'url(' + ImageHelper.getImage(newsItem.poster!.url) + ')'}">
        </div>
        <div class="w-full min-h-[300px] h-full lg:w-8/12 py-3 px-6 rounded-lg text-center lg:text-left">
          <p class="inline-block my-3 text-md lg:text-lg text-white font-bold">
            {{newsItem.title}}
          </p>
          <span class="block my-3 text-sm text-white">
            <fa-icon [icon]="faClock" class="mr-2"></fa-icon>{{moment(newsItem.published_at).format("HH:mm DD/MM/YYYY")}}
          </span>
          <span class="block my-3 text-sm text-white" *ngIf="newsItem.user">
            <fa-icon [icon]="faUser" class="mr-2"></fa-icon>{{newsItem.user.name}}
          </span>
          <p class="inline-block my-3 text-white text-md">
            {{newsItem.subtitle}}
          </p>
          <div class="text-center lg:text-right">
            <a [routerLink]="['/'+ RoutesName.newsDetail + '/' + newsItem.id]" class="inline-block my-3 cursor-pointer border main-violet-first-rounded bg-violet-first text-white focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
              {{"MORE_INFO"|translate}} <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 my-2 flex justify-center" *ngIf="allNews.last_page > 1">
      <pagination-controls class="rounded-full" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>
