<div class="h-full flex items-center justify-centers">
  <div class="wrapper">
    <div class="table basic">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="price">990</span>
            <span class="text">&#932;</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
               <fa-icon [icon]="faGraduationCap"></fa-icon>
             </span>
          <span class="list-name">{{"WORK_OVER_FAILURE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faLanguage"></fa-icon>
          </span>
          <span class="list-name">{{"SUPPORT_MULTI_LANGUAGE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faStar"></fa-icon>
          </span>
          <span class="list-name">{{"ANALYZE_WEAK_POSITION"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </span>
          <span class="list-name">{{"FULL_STATS"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_MAT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_HISTORY"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_PROFS"|translate}}</span>
        </li>
      </ul>
      <div class="btn" (click)="openDialog('open', 1)"><button>{{'BUY_BUTTON'|translate}}</button></div>
    </div>
    <div class="table premium">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="price">2490</span>
            <span class="text">&#932;</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
               <fa-icon [icon]="faGraduationCap"></fa-icon>
             </span>
          <span class="list-name">{{"WORK_OVER_FAILURE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faLanguage"></fa-icon>
          </span>
          <span class="list-name">{{"SUPPORT_MULTI_LANGUAGE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faStar"></fa-icon>
          </span>
          <span class="list-name">{{"ANALYZE_WEAK_POSITION"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </span>
          <span class="list-name">{{"FULL_STATS"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_MAT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_HISTORY"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_PROFS"|translate}}</span>
        </li>
      </ul>
      <div class="btn" (click)="openDialog('open', 3)"><button>{{'BUY_BUTTON'|translate}}</button></div>
    </div>
    <div class="table ultimate">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="price">4990</span>
            <span class="text">&#932;</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
               <fa-icon [icon]="faGraduationCap"></fa-icon>
             </span>
          <span class="list-name">{{"WORK_OVER_FAILURE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faLanguage"></fa-icon>
          </span>
          <span class="list-name">{{"SUPPORT_MULTI_LANGUAGE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faStar"></fa-icon>
          </span>
          <span class="list-name">{{"ANALYZE_WEAK_POSITION"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </span>
          <span class="list-name">{{"FULL_STATS"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_MAT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_HISTORY"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_PROFS"|translate}}</span>
        </li>
      </ul>
      <div class="btn" (click)="openDialog('open', 6)"><button>{{'BUY_BUTTON'|translate}}</button></div>
    </div>
  </div>
</div>

<ngx-smart-modal identifier="open">
  <form (ngSubmit)="onSubmit()" [formGroup]="subjects_form">
    <div class="my-2">
      {{'SELECT_PROFILE_SUBJECTS' | translate}}
    </div>
    <div class="grid mobile:grid-cols-1 mobile:gap-1 sm:grid-cols-2 sm:gap-2 my-2">
      <div class="mt-2.5 mr-0 mb-2.5 ml-0">
        <label class="block text-sm font-medium text-gray-700">{{'SELECT_SUBJECT' | translate}}</label>
        <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                            <span
                              class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-gray-400">
                              <fa-icon [icon]="faVenusMars"></fa-icon>
                            </span>
          <select [formControlName]="'subject_first'" class="focus:ring-indigo-500 focus:border-indigo-500
                          sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md">
            <option [value]="subject.id" *ngFor="let subject of subjects">{{subject | globalTranslate: 'title': translate.currentLang}}</option>
          </select>
        </div>
      </div>
      <div class="mt-2.5 mr-0 mb-2.5 ml-0">
        <label class="block text-sm font-medium text-gray-700">{{'SELECT_SUBJECT' | translate}}</label>
        <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                            <span
                              class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-gray-400">
                              <fa-icon [icon]="faVenusMars"></fa-icon>
                            </span>
          <select [formControlName]="'subject_second'" class="focus:ring-indigo-500 focus:border-indigo-500
                          sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md">
            <option [value]="subject.id" *ngFor="let subject of subjects">{{subject | globalTranslate: 'title': translate.currentLang}}</option>
          </select>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="gradient-violet-button px-10 py-2 rounded-lg text-white my-2 inline-block"
      [ngClass]="!subjects_form.valid ? 'cursor-not-allowed' : 'cursor-pointer'"
      [disabled]="!subjects_form.valid"
    >
      {{'SEND_BUTTON' | translate}}
      <fa-icon [icon]="faRocket"></fa-icon>
    </button>
  </form>
</ngx-smart-modal>
