<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<div class="wrapper" *ngIf="subscriptions.length > 0">
  <div *ngIf="basicSubscriptions.length > 0"
    class="mb-4 w-full flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:flex-row">
    <img
      class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
      src="/assets/images/basic_plan.webp"
      alt="" />
    <div class="flex flex-col justify-start p-6">
      <h5
        class="mb-2 text-xl font-medium text-neutral-800">
        Basic Plan (990 тг)
      </h5>
      <ul>
        <li *ngFor="let sub of basicSubscriptions | keys">
          <span [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.value.tag))"></span>
          <span class="mx-3">({{moment(sub.value.ends_at).format('DD.MM.YYYY')}})</span>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="standardSubscriptions.length > 0"
    class="mb-4 w-full flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:flex-row">
    <img
      class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
      src="/assets/images/standard_plan.webp"
      alt="" />
    <div class="flex flex-col justify-start p-6">
      <h5
        class="mb-2 text-xl font-medium text-neutral-800">
        Standard Plan (2490 тг)
      </h5>
      <ul>
        <li *ngFor="let sub of standardSubscriptions | keys">
          <span [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.value.tag))"></span>
          <span class="mx-3">({{moment(sub.value.ends_at).format('DD.MM.YYYY')}})</span>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="premiumSubscriptions.length > 0"
    class="mb-4 w-full flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:flex-row">
    <img
      class="mobile:mx-auto sm:mx-auto md:mx-0 h-[150px] w-[150px] rounded-t-lg object-cover md:!rounded-none md:!rounded-l-lg"
      src="/assets/images/premium_plan.webp"
      alt="" />
    <div class="flex flex-col justify-start p-6">
      <h5
        class="mb-2 text-xl font-medium text-neutral-800">
        Premium Plan (4990 тг)
      </h5>
      <ul>
        <li *ngFor="let sub of premiumSubscriptions | keys">
          <span [innerHTML]="getSubjectName(getSubjectIDFromTag(sub.value.tag))"></span>
          <span class="mx-3">({{moment(sub.value.ends_at).format('DD.MM.YYYY')}})</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="h-full flex items-center justify-centers">
  <div class="wrapper">
    <div class="table basic">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="price">990</span>
            <span class="text">&#932;</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
               <fa-icon [icon]="faGraduationCap"></fa-icon>
             </span>
          <span class="list-name">{{"WORK_OVER_FAILURE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faLanguage"></fa-icon>
          </span>
          <span class="list-name">{{"SUPPORT_MULTI_LANGUAGE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faStar"></fa-icon>
          </span>
          <span class="list-name">{{"ANALYZE_WEAK_POSITION"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </span>
          <span class="list-name">{{"FULL_STATS"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_MAT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_HISTORY"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#ffd861] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_PROFS"|translate}}</span>
        </li>
      </ul>
      <div class="btn" (click)="openDialog('open', 1)"><button>{{'BUY_BUTTON'|translate}}</button></div>
    </div>
    <div class="table premium">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="price">2490</span>
            <span class="text">&#932;</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
               <fa-icon [icon]="faGraduationCap"></fa-icon>
             </span>
          <span class="list-name">{{"WORK_OVER_FAILURE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faLanguage"></fa-icon>
          </span>
          <span class="list-name">{{"SUPPORT_MULTI_LANGUAGE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faStar"></fa-icon>
          </span>
          <span class="list-name">{{"ANALYZE_WEAK_POSITION"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </span>
          <span class="list-name">{{"FULL_STATS"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_MAT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_HISTORY"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#a26bfa] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_PROFS"|translate}}</span>
        </li>
      </ul>
      <div class="btn" (click)="openDialog('open', 3)"><button>{{'BUY_BUTTON'|translate}}</button></div>
    </div>
    <div class="table ultimate">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="price">4990</span>
            <span class="text">&#932;</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
               <fa-icon [icon]="faGraduationCap"></fa-icon>
             </span>
          <span class="list-name">{{"WORK_OVER_FAILURE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faLanguage"></fa-icon>
          </span>
          <span class="list-name">{{"SUPPORT_MULTI_LANGUAGE"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faStar"></fa-icon>
          </span>
          <span class="list-name">{{"ANALYZE_WEAK_POSITION"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </span>
          <span class="list-name">{{"FULL_STATS"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_MAT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_GRAM"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_HISTORY"|translate}}</span>
        </li>
        <li>
          <span class="h-8 w-8 min-w-[32px] rounded-full bg-[#43ef8b] text-white flex justify-center items-center text-sm mr-2">
            <fa-icon [icon]="faBook"></fa-icon>
          </span>
          <span class="list-name">{{"SUBJECT_PROFS"|translate}}</span>
        </li>
      </ul>
      <div class="btn" (click)="openDialog('open', 6)"><button>{{'BUY_BUTTON'|translate}}</button></div>
    </div>
  </div>
</div>

<ngx-smart-modal identifier="open">
  <form (ngSubmit)="onSubmit()" [formGroup]="subjects_form">
    <div class="my-2">
      {{'SELECT_PROFILE_SUBJECTS' | translate}}
    </div>
    <div class="lg:flex my-2">
      <select [formControlName]="'subject_first'" data-te-select-init class="mr-2 mobile:my-1 w-full">
        <option selected [value]="0">{{'SELECT_SUBJECT' | translate}}</option>
        <option [value]="subject.id" *ngFor="let subject of subjects">{{subject | globalTranslate: 'title': translate.currentLang}}</option>
      </select>
      <select [formControlName]="'subject_second'" data-te-select-init class="ml-2 mobile:my-1 w-full">
        <option selected [value]="0">{{'SELECT_SUBJECT' | translate}}</option>
        <option [value]="subject.id" *ngFor="let subject of subjects">{{subject | globalTranslate: 'title': translate.currentLang}}</option>
      </select>
    </div>
    <button
      tw-button
      layout="raised"
      color="primary"
      type="submit"
      [ngClass]="!subjects_form.valid ? 'cursor-not-allowed' : 'cursor-pointer'"
      [disabled]="!subjects_form.valid"
    >
      {{'SEND_BUTTON' | translate}}
    </button>
  </form>
</ngx-smart-modal>
