<div class="w-full flex flex-col lg:pl-0 md:my-5">
  <!-- Desktop Header -->
  <header class="w-full items-center bg-transparent main-violet-first-rounded py-2 px-6 sm:flex rounded-[10px]">
    <div class="w-1/2 mobile:hidden sm:hidden md:hidden lg:block text-white">
      {{"DASHBOARD"|translate}}
    </div>

    <div class="relative w-1/2 sm:w-full sm:justify-between mobile:w-full flex mobile:justify-between md:justify-between items-center lg:justify-end">
      <div class="lg:hidden mobile:block">
        <i class="fa fa-bars cursor-pointer text-white" aria-hidden="true" (click)="openSideNav()"></i>
      </div>
      <div class="flex items-center text-white">
        <div class="px-1 cursor-pointer" *ngIf="countMessage">
          <div class="flex justify-center">
            <fa-icon class="main-violet-second-color text-xl" [icon]="faBell"> </fa-icon>
            <div class="mx-1 h-4 w-4 main-violet-second-bg rounded-full text-center text-xs text-white">{{countMessage}}</div>
          </div>
        </div>
        <div class="px-1 cursor-pointer">
          <div class="flex justify-center" [routerLink]="'/'+RoutesName.walletRating">
            {{user?.balance}} IU
          </div>
        </div>
        <div class="px-1 cursor-pointer">
          <div class="flex justify-center items-center" (click)="clickLocaleDropdown()">
            <p class="mx-3">{{translate.currentLang | titlecase}}</p>
          </div>
          <div *ngIf="localeDropdown" class="absolute w-32 main-violet-first-bg rounded-lg shadow-lg py-2 z-[999]">
            <span class="block px-4 py-2 account-link cursor-pointer hover:bg-violet-700 text-white" (click)="changeLang('kk')">Kk</span>
            <span class="block px-4 py-2 account-link cursor-pointer hover:bg-violet-700 text-white" (click)="changeLang('ru')">Ru</span>
          </div>
        </div>
        <div class="flex justify-center items-center" (click)="clickProfileDropdown()">
          <p class="mx-3 mobile:hidden">{{user?.name}}</p>
          <button class="relative z-10 mobile:w-8 mobile:h-8 sm:w-12 sm:h-12 rounded-full overflow-hidden mobile:border-2 md:border-4 border-white focus:outline-none">
            <img src="{{ImageHelper.getImage(user?.file?.url)}}" class="max-w-[100%]" alt="">
          </button>

          <div *ngIf="profileDropdown" class="absolute lg:w-48 w-32 main-violet-first-bg rounded-lg shadow-lg py-2 md:mt-44 mobile:mt-48 sm:mt-48 z-[999] mobile:right-0 sm:right-0">
            <a [routerLink]="StrHelper.getRouteByRole(user?.role, RoutesName.myProfile)" class="block px-4 py-2 account-link cursor-pointer  hover:bg-violet-700 text-white">
              <i class="fa fa-user mr-3" aria-hidden="true"></i>
              {{'PROFILE' | translate}}
            </a>
            <a (click)="logout()" class="block px-4 py-2 account-link cursor-pointer  hover:bg-violet-700 text-white">
              <i class="fa fa-sign-out mr-3" aria-hidden="true"></i>
              {{'LOGOUT' | translate}}
            </a>
          </div>
        </div>
      </div>

    </div>
  </header>

  <div *ngIf="user?.role == 'student'" class="transition delay-150 ease-in-out lg:hidden mobile:block">
    <app-sidebar/>
  </div>
  <div *ngIf="user?.role == 'teacher'" class="transition delay-150 ease-in-out lg:hidden mobile:block">
    <app-teacher-sidebar />
  </div>

</div>
