<div class="container mx-auto min-h-[100vh] py-5 flex justify-center items-center">
  <div class="w-full md:w-10/12 grid grid-cols-12 bg-white card mx-5 py-12 min-h-[640px]">
    <div class="visible:none md:d-block md:col-span-6 bg-[#C4C4C4] rounded-l-lg">

    </div>
    <div class="col-span-12 md:col-span-6 visible:none md:d-block bg-red-50 py-4 px-5 md:px-12 py-5 md:py-12  rounded-r-lg">
      <p class="text-sm md:text-2xl md:text-4xl capitalize text-dark ">{{ 'reset_password' | translate }}</p>
      <div class="mt-8 mb-4">
        <span class="text-xl text-dark">

        </span>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="reset_form">


        <!--Email input-->
        <app-input-field
          [formControlName]="'email'"
          [input_name]="'email'"
          [type]="'email'"
          [placeholder]="'email'"
          [label]="'email'"
          [error_message]="'email_is_not_right'"
          [backErrors]="errors"
          ngDefaultControl
        />
        <!--Terms and condition-->
        <div class="my-4 block min-h-[1.5rem]">
          <span
            class="inline-block hover:cursor-pointer text-md body-text"
            for="terms_condition">
            <a class="main-tertiary-color" href="">Send a code?</a>
          </span>
        </div>
        <!--Verification Code-->
        <app-input-field
          [formControlName]="'code'"
          [input_name]="'code'"
          [type]="'text'"
          [placeholder]="'code'"
          [label]="'code'"
          [error_message]="'code_is_not_right'"
          [backErrors]="errors"
          ngDefaultControl
        />

        <!--Password input-->
        <app-input-field
          [formControlName]="'password'"
          [input_name]="'password'"
          [type]="'password'"
          [placeholder]="'password'"
          [label]="'password'"
          [error_message]="'password_is_not_right'"
          [backErrors]="errors"
          ngDefaultControl
        />

        <!--Send Button -->
        <div class="flex my-4">
          <button
            type="button"
            class="cursor-pointer w-full inline-block rounded main-green-bg px-6 py-4 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-success-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
            {{"reset"|translate}}
          </button>
        </div>
        <!-- Login -->
      </form>
    </div>
  </div>
</div>
