<div class="container mx-auto">

  <div class="grid grid-cols-12 gap-3 py-5 my-3 rounded-2xl">

    <div class="col-span-12 bg-violet-orange-first-50 main-violet-first-rounded rounded-xl shadow-lg">
      <div class="p-4">
        <!--Tabs navigation-->
        <ul
          class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0"
          role="tablist"
          data-te-nav-ref>
          <li role="presentation">
            <a
              class="cursor-pointer my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight hover:isolate focus:isolate focus:border-transparent text-white data-[te-nav-active]:border-[#b37cc4]"
              data-te-toggle="pill"
              data-te-target="#tabs-current"
              data-te-nav-active
              role="tab"
              aria-controls="tabs-current"
              aria-selected="true"
            >{{ "SAVED_QUESTIONS"|translate}}</a
            >
          </li>
          <li role="presentation">
            <a
              href="#tabs-profile"
              class="cursor-pointer my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight hover:isolate focus:isolate focus:border-transparent text-white data-[te-nav-active]:border-[#b37cc4]"
              data-te-toggle="pill"
              data-te-target="#tabs-participated"
              role="tab"
              aria-controls="tabs-participated"
              aria-selected="false"
            >  {{ "APPEAL_QUESTIONS"|translate}}</a
            >
          </li>
        </ul>

        <!--Tabs content-->
        <div class="mb-6">
          <div
            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-current"
            role="tabpanel"
            aria-labelledby="tabs-home-tab"
            data-te-tab-active>
            <div class="grid grid-cols-12 p-3" >
              <div class="col-span-12" >
                <div class="bg-violet-orange-first mx-3 p-4 rounded-2xl shadow-2xl">
                  <div class="relative overflow-x-auto" *ngIf="questionsPagination">
                    <table class="w-full text-sm text-left text-white" *ngIf="questionsPagination.data">
                      <thead class="text-xs text-white capitalize">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-center">
                          #
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"SUBJECT"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"QUESTION"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"CREATED_AT"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"ACTION"|translate}}
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="rounded-2xl my-2 text-white" *ngFor="let question of questionsPagination.data | paginate: { itemsPerPage: questionsPagination.per_page, currentPage: questionsPagination.current_page,totalItems:questionsPagination.total }">
                        <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap flex" *ngIf="question.subject">
                          <div class="w-12 h-12 rounded-full bg-cover bg-no-repeat my-2" [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(question.subject.image?.url) +')'}"></div>
                        </th>
                        <td class="px-6 py-4">
                          <ul *ngIf="question.subject">
                            <p class="text-white font-bold">{{question.subject |globalTranslate:'title':translate.currentLang}}</p>
                          </ul>
                        </td>
                        <td class="px-6 py-4">
                          <div *ngIf="question.text">
                            <div class="text-white font-bold" [mathjax]="question.text | mathjaxTransform | truncate:30"></div>
                          </div>
                        </td>
                        <td class="px-6 py-4">
                          <div *ngIf="question.created_at">
                            <div class="text-white font-bold">
                              {{moment(question.created_at).format("HH:mm DD/MM/YYYY")}}
                            </div>
                          </div>
                        </td>
                        <td class="px-6 py-4">
                          <div class="text-white">
                            <div class="font-bold">
                              <a [routerLink]="'/' + RoutesName.savedQuestions + '/' + question.id.toString()" type="button"
                                 class="cursor-pointer text-white bg-violet-first main-violet-first-rounded focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                <fa-icon [icon]="faEye"></fa-icon>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="my-2 flex justify-center" *ngIf="questionsPagination.last_page > 1">
                      <pagination-controls class="rounded-full" (pageChange)="changeSavedQuestion($event)"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-participated"
            role="tabpanel"
            aria-labelledby="tabs-profile-participated">
            <div class="grid grid-cols-12 p-3" >
              <div class="col-span-12" >
                <div class="bg-violet-orange-first mx-3 p-4 rounded-2xl shadow-2xl">
                  <div class="relative overflow-x-auto" *ngIf="appealPagination">
                    <table class="w-full text-sm text-left text-white" *ngIf="appealPagination.data">
                      <thead class="text-xs text-white capitalize">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-center">
                          #
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"SUBJECT"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"APPEAL_TYPE"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"QUESTION"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"CREATED_AT"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"ACTION"|translate}}
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="rounded-2xl my-2" *ngFor="let appeal of appealPagination.data | paginate: { itemsPerPage: appealPagination.per_page, currentPage: appealPagination.current_page,totalItems:appealPagination.total }">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white flex" *ngIf="appeal.question">
                          <section *ngIf="appeal.question.subject">
                            <div class="w-12 h-12 rounded-full bg-cover bg-no-repeat my-2" [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(appeal.question.subject.image?.url) +')'}"></div>
                          </section>
                        </th>
                        <td class="px-6 py-4">
                          <section *ngIf="appeal.question">
                            <ul *ngIf="appeal.question.subject">
                              <p class="text-white font-bold">{{appeal.question.subject |globalTranslate:'title':translate.currentLang}}</p>
                            </ul>
                          </section>
                        </td>
                        <td class="px-6 py-4">
                          <section *ngIf="appeal.appeal_type">
                            <ul *ngIf="appeal.appeal_type">
                              <p class="text-white font-bold">{{appeal.appeal_type |globalTranslate:'title':translate.currentLang}}</p>
                            </ul>
                          </section>
                        </td>
                        <td class="px-6 py-4">
                          <section *ngIf="appeal.question">
                            <div *ngIf="appeal.question.text">
                              <div class="text-white font-bold" [mathjax]="appeal.question.text | mathjaxTransform | truncate:30"></div>
                            </div>
                          </section>
                        </td>
                        <td class="px-6 py-4">
                          <div *ngIf="appeal.question">
                            <div class="text-white font-bold" *ngIf="appeal.question.created_at">
                              {{moment(appeal.question.created_at).format("HH:mm DD/MM/YYYY")}}
                            </div>
                          </div>
                        </td>
                        <td class="px-6 py-4">
                          <div>
                            <div class="text-white font-bold">
                              <a [routerLink]="'/' + RoutesName.appealedQuestions + '/' + appeal.id.toString()" type="button"
                                 class="cursor-pointer text-white bg-violet-first main-violet-first-rounded focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                <fa-icon [icon]="faEye"></fa-icon>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="my-2 flex justify-center" *ngIf="appealPagination.last_page > 1">
                      <pagination-controls class="rounded-full" (pageChange)="changeAppealQuestion($event)"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>


</div>
