<div class="max-w-full m-1 p-3"  *ngIf="announcements">
  <ngx-slick-carousel class="carousel announcement-carousel"
                      [config]="slideConfig">
    <div ngxSlickItem *ngFor="let announcement of announcements" class="slide cursor-pointer relative">
      <div class="w-full flex py-3">
        <div class="text-center w-full">
          <div
            (click)="openDialog(announcement.id.toString())"
            class="inline-block rounded-full my-2 h-20 w-20 md:h-18 md:w-18 lg:h-24 lg:w-24 xl:w-28 xl:h-28 bg-center bg-cover bg-no-repeat neon-border"
            [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(announcement.file?.url) +')'}"
          ></div>
          <p class="inline-block w-full my-3 text-xs font-bold neon-border-text">
            {{announcement | globalTranslate:"title": translate.currentLang}}
          </p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
<section *ngIf="announcements">
  <div  class="[direction:ltr] w-full no-scroll" *ngFor="let announcement of announcements">
    <ngx-smart-modal class="storyModal" identifier="announcement-model-{{announcement.id}}">
      <div class="flex justify-center">
        <div class="flex w-[90%] h-2 top-[2%] absolute z-30">
          <div class="rounded-xl h-2 mx-1 my-4"
               *ngFor="let items of Object.keys(announcement.announcements)"
               [ngStyle]="{'width':100/announcement.announcements.length + '%'}"
               [ngClass]="{
                       'bg-white':items != active_slider.toString(),
                       'main-green-bg':items == active_slider.toString(),
                       }"
          ></div>
        </div>
      </div>
      <ngx-slick-carousel (afterChange)="afterChange($event)" #slickModal="slick-carousel"
                            class="carousel"
                            (afterChange)="changeSlider($event)"
                            [config]="slideModalConfig">
          <div ngxSlickItem *ngFor="let announcementItem of announcement.announcements;trackBy: trackById" class="slide">
            <div class="h-[100vh] w-[100vw] md:w-[700px] relative rounded-xl">
              <div
                *ngIf="announcementItem.video_url == null;else videoURL"
                class="w-full bg-cover bg-center bg-no-repeat h-full brightness-50"
                [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(announcementItem.image?.url) +')'}"
              ></div>
              <ng-template #videoURL>
                <div class="w-full h-full">
                  <youtube-player
                    [videoId]="ImageHelper.GetYoutubeID(announcementItem.video_url??'')"
                    suggestedQuality="highres"
                    [height]="videoHeight"
                    [width]="videoWidth"
                  ></youtube-player>
                </div>
              </ng-template>
              <div class="absolute bottom-[10%] z-20 px-3 min-w-">
                <p class="inline-block my-3 text-md lg:text-lg xl:text-2xl font-bold text-white">
                  {{announcementItem.title}}
                </p>
                <p class="text-md lg:text-lg font-bold text-white">
                  {{announcementItem.sub_title}}
                </p>
                <div class="max-h-[200px] my-2 overflow-y-scroll no-scrollbar" *ngIf="announcementItem.description">
                  <small class="text-xs text-white" [innerHTML]="announcementItem.description"></small>
                </div>
                <div class="text-left" *ngIf="announcementItem.url">
                  <a href="{{announcementItem.url}}" class="inline-block my-3 cursor-pointer text-white border-white  border  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    {{announcementItem.url_text ??("MORE_INFO"|translate)}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
    </ngx-smart-modal>
  </div>
</section>





