<div class="my-3">
    <div class="w-full">
      <div class="rounded-[2rem] w-full shadow p-3 sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden mobile:flex justify-center" #mobileElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(mobileElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533265-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden md:hidden lg:hidden xl:hidden 2xl:hidden sm:flex justify-center" #smElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(smElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533265-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden sm:hidden lg:hidden xl:hidden 2xl:hidden md:flex justify-center" #mdElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(mdElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533265-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden md:hidden sm:hidden xl:hidden 2xl:hidden lg:flex justify-center" #lgElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(lgElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533265-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden md:hidden lg:hidden sm:hidden 2xl:hidden xl:flex justify-center" #xlElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(xlElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533265-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden md:hidden lg:hidden xl:hidden sm:hidden 2xl:flex justify-center" #xxlElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(xxlElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533265-iutest.html"></iframe>
      </div>
    </div>
    <div class="w-full">
      <div class="rounded-[2rem] w-full shadow p-3 sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden mobile:flex justify-center" #mobileElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(mobileElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533463-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden md:hidden lg:hidden xl:hidden 2xl:hidden sm:flex justify-center" #smElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(smElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533463-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden sm:hidden lg:hidden xl:hidden 2xl:hidden md:flex justify-center" #mdElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(mdElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533463-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden md:hidden sm:hidden xl:hidden 2xl:hidden lg:flex justify-center" #lgElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(lgElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533463-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden md:hidden lg:hidden sm:hidden 2xl:hidden xl:flex justify-center" #xlElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(xlElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533463-iutest.html"></iframe>
      </div>
      <div class="rounded-[2rem] w-full shadow p-3 mobile:hidden md:hidden lg:hidden xl:hidden sm:hidden 2xl:flex justify-center" #xxlElement>
        <iframe allow="fullscreen; autoplay;" allowfullscreen [width]="getWidth(xxlElement.offsetWidth)" height="690" frameborder="0" src="https://www.educaplay.com/game/18533463-iutest.html"></iframe>
      </div>
    </div>
</div>
