<div class="container mx-auto" *ngIf="careerQuizGroups">
  <div class="grid grid-cols-12 my-5" *ngIf="careerQuizGroups.length > 1">
      <div class="col-span-2" *ngFor="let careerQuizGroup of careerQuizGroups;let index = index">
        <button (click)="setActiveQuizGroup(index)" class="text-md py-3 text-white px-5 rounded-xl bg-violet-700 font-bold">
            {{careerQuizGroup | globalTranslate:'title':translate.currentLang}}
        </button>
      </div>
  </div>
  <div class="grid grid-cols-12" *ngIf="activeQuizGroup">
    <div class="col-span-12 rounded-xl my-5 shadow-lg bg-cover bg-center py-5" style="background-image: url('assets/images/new-bg.webp')">
      <div class="grid grid-cols-12 min-h-[500px]">
        <div class="col-span-12 md:col-span-8 flex justify-center items-center h-full px-3 py-5">
          <div class="px-3 md:px-5 lg:px-8">
            <div>
              <p class="text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-bold">
                {{activeQuizGroup | globalTranslate:'title':translate.currentLang}}
              </p>
              <div class="text-sm md:text-md my-4 text-justify" [innerHTML]="activeQuizGroup | globalTranslate:'description':translate.currentLang"></div>
            </div>
            <div class="my-3" *ngIf="activeQuizGroup.career_quiz_authors">
              <div class="flex mr-2">
                <img
                  *ngFor="let author of activeQuizGroup.career_quiz_authors"
                  class="border-2 border-white rounded-full h-16 w-16 -mr-6"
                  src="{{ImageHelper.getImage(author.file?.url)}}"
                  alt="">
              </div>
            </div>
            <div class="border-t-white  border-b-white py-3">
              <p class="text-md lg:text-lg font-bold mb-2">
                Приобретая группу вы приобретаете следующие тесты:
              </p>
              <div class="grid grid-cols-2" *ngIf="activeQuizGroup.career_quizzes">
                <div class="col-span-2 my-1" *ngFor="let quiz of activeQuizGroup.career_quizzes">
                  <p class="text-violet-700 text-sm">
                    <fa-icon [icon]="faCheck" class="ml-1"></fa-icon>
                    {{quiz | globalTranslate:'title':translate.currentLang}}
                  </p>
                </div>
              </div>
              <div class="text-violet-700 font-bold text-lg xl:text-2xl 2xl:text-4xl">
                {{activeQuizGroup.price}} KZT
              </div>
            </div>
            <a class="inline-block border border-white mt-4 bg-violet-400 hover:bg-violet-700 cursor-pointer text-white text-sm px-5 py-4 rounded-xl  font-bold">
              ПРИОБРЕСТИ <fa-icon [icon]="faCoins"/>
            </a>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4 h-full" *ngIf="activeQuizGroup.career_quizzes">
          <owl-carousel-o [options]="customOptions" class="py-2">
            <ng-template carouselSlide *ngFor="let quizItem of activeQuizGroup.career_quizzes">
              <div class="slide card rounded-2xl relative h-full w-full flex justify-center py-4">
                <div class="card-quiz rounded-xl shadow-lg">
                  <div class="card-img flex justify-center items-center p-3">
                    <img src="{{ImageHelper.getImage(quizItem.file?.url)}}"/>
                  </div>
                  <div class="card-info">
                    <p class="text-title">
                      {{quizItem | globalTranslate:'title':translate.currentLang}}
                    </p>
                    <p class="text-body text-xs max-h-[300px] overflow-y-scroll"
                       [innerHTML]="(quizItem | globalTranslate:'description':translate.currentLang).length > 150 ? (quizItem | globalTranslate:'description':translate.currentLang | slice:0 : 150) + '...' : (quizItem | globalTranslate:'description':translate.currentLang)">
                    </p>
                  </div>
                  <div class="card-footer">
                    <span class="text-title">
                      {{quizItem.price}} KZT
                    </span>
                    <div class="card-button">
                      Приобрести
                      <fa-icon [icon]="faCartShopping" class="mx-2"></fa-icon>
                    </div>
                  </div></div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>
