.card-quiz{
    min-width: 300px;
    max-width: 320px;
    min-height: 500px;
    height: auto;
    padding: .8em;
    background: rgb(107, 57, 32,0.5);
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgb(107, 57, 32);

  .card-img {
    background-color: #ff914d;
    height: 50%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
  }

  .card-info {
    padding-top: 10%;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }

  /*Text*/
  .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
  }

  .text-body {
    font-size: .9em;
    padding-bottom: 10px;
  }

  /*Button*/
  .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
  }

  /*Hover*/
  .card-img:hover {
    transform: translateY(-15%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
  }

  .card-button:hover {
    background-color: #ff914d;
    color: white;
  }
}
