<div class="container mx-auto">
  <div class="grid grid-cols-12">
    <div class="col-span-12 flex justify-center">
      <img src="assets/images/under_construction.png" class="max-h-[500px]"/>
    </div>
    <div class="col-span-12 text-center my-2">
      <p class="text-md lg:text-lg text-red-500 font-bold">{{"PAGE_UNDER_CONSTRUCTION"|translate}}</p>
    </div>
    <iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://www.educaplay.com/game/17152239-nurba_quiz.html"></iframe>

  </div>
</div>
