<div class="relative">
  <div class="container mx-auto" id="main-index-page">
    <main class="grid grid-cols-12 gap-4 bg-black-violet-orange-180-05 main-violet-first-rounded rounded-2xl lg:rounded-[50px]">
      <!--    main content-->
      <div class="col-span-12 lg:col-span-9">
        <div class="block rounded-lg w-full h-full flex items-center">
          <div class="relative flex p-3 items-center overflow-hidden bg-cover bg-no-repeat">
            <div class="p-3 text-white">
              <p class="inline-block my-3  text-md lg:text-xl xl:text-2xl 2xl:text-4xl font-bold">
                {{"HELLO_STUDENT"|translate}}
              </p>
              <p class="inline-block my-3 py-5  text-sm lg:text-lg xl:text-xl 2xl:text-2xl">
                {{"HELLO_STUDENT_SUBTITLE"|translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--    right sidebar  -->
      <div class="col-span-12 lg:col-span-3">
        <div  class="block h-full rounded-lg">
          <div class="relative h-full flex justify-center items-center overflow-hidden bg-cover bg-no-repeat">
            <img
              class="rounded-lg"
              src="assets/images/bear_hello.webp"
              alt=""/>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="container mx-auto">
    <app-announcement-list/>
  </div>
  <div class="container mx-auto">
    <div class="grid grid-cols-12 p-6 gap-4" id="main-index-services">
      <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 2xl:col-span-3"
           *ngFor="let menuItem of menuLists">
        <div class="
          card bg-black-violet-orange-180-05 main-violet-first-rounded p-3 shadow-2xl rounded-2xl lg:rounded-[50px] h-full min-h-[180px] cursor-pointer text-white
        "
             [routerLink]="'/' + menuItem.path">
          <div class="service-card-header flex items-center justify-center">
            <img src="{{menuItem.imageUrl}}" class="max-h-[150px]">
          </div>
          <div class="text-center p-3 text-md lg:text-lg break-words font-bold rounded-full bg-violet-first-50 main-violet-first-rounded">
            {{menuItem.title | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-information-bear [pageName]="'student_index_page_'" />

  <ngx-smart-modal identifier="survey" [customClass]="'buySubscriptionModal'">
    <div class="max-w-md mx-auto rounded p-8">
      <h1 class="text-2xl font-bold mb-4 text-white">Опрос</h1>
      <form *ngIf="surveyQuestions" (ngSubmit)="answerSurvey()" [formGroup]="surveyForm">
        <div formArrayName="questions">
          <div class="mb-4" *ngFor="let question of questions.controls; let i = index">
            <div [formGroupName]="i">
              <input type="hidden" formControlName="survey_question_id" value="{{surveyQuestions[i].id}}">
              <label class="block text-white text-sm font-bold mb-2" for="question{{surveyQuestions[i].id}}">{{surveyQuestions[i].text}}</label>
              <select *ngIf="!checkIsWish(surveyQuestions[i])" id="question{{surveyQuestions[i].id}}" formControlName="answer" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option selected value="answer_a" *ngIf="surveyQuestions[i].answer_a">{{surveyQuestions[i].answer_a}}</option>
                <option value="answer_b" *ngIf="surveyQuestions[i].answer_b">{{surveyQuestions[i].answer_b}}</option>
                <option value="answer_c" *ngIf="surveyQuestions[i].answer_c">{{surveyQuestions[i].answer_c}}</option>
                <option value="answer_d" *ngIf="surveyQuestions[i].answer_d">{{surveyQuestions[i].answer_d}}</option>
                <option value="answer_e" *ngIf="surveyQuestions[i].answer_e">{{surveyQuestions[i].answer_e}}</option>
                <option value="answer_f" *ngIf="surveyQuestions[i].answer_f">{{surveyQuestions[i].answer_f}}</option>
              </select>
              <textarea formControlName="wishes" *ngIf="checkIsWish(surveyQuestions[i])" class="w-full"></textarea>
            </div>

          </div>
        </div>

        <button
          [ngClass]=""
          type="button" (click)="answerSurvey()" class="transition-all duration-200 border-transparent
                      focus:outline-none focus:ring-2 focus:ring-offset-2 text-white
                      rounded-full bg-violet-first main-violet-first-rounded
                      capitalize inline-flex border items-center justify-center w-full text-sm font-bold
                      text-center py-3">{{"SEND"|translate}}</button>
      </form>
    </div>
  </ngx-smart-modal>
</div>


