
<div class="container mx-auto">
    <main class="grid grid-cols-12 p-6 gap-4">
        <!--    main content-->
        <div class="col-span-12 lg:col-span-9">

            <div  [ngStyle]="{'background-color': ColorConstants.primaryColor}"
                    class="block rounded-lg w-full h-full flex items-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                <div class="relative flex p-3 items-center overflow-hidden bg-cover bg-no-repeat">
                  <div class="p-3 text-white">
                    <p class="inline-block my-3  text-md lg:text-xl xl:text-2xl 2xl:text-4xl font-bold">
                     {{"HELLO_STUDENT"|translate}}
                    </p>
                    <p class="inline-block my-3 py-5  text-sm lg:text-lg xl:text-xl 2xl:text-2xl">
                      {{"HELLO_STUDENT_SUBTITLE"|translate}}
                    </p>
                  </div>
                </div>
            </div>

            <div class="flex">

            </div>

        </div>
        <!--    right sidebar  -->
        <div class="col-span-12 lg:col-span-3">
            <div  class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
                <div class="relative h-full flex justify-center items-center overflow-hidden bg-cover bg-no-repeat">
                    <img
                            class="rounded-lg"
                            src="assets/images/bear_hello.png"
                            alt=""/>
                </div>
            </div>
        </div>

    </main>
</div>
<div class="container mx-auto">
  <app-announcement-list/>
</div>

<div class="container mx-auto">
  <div class="grid grid-cols-12 p-6 gap-4">
    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 lg:col-span-3" *ngFor="let menuItem of menuLists">
      <div class="card bg-white p-3 shadow-2xl rounded-lg h-full min-h-[150px]
      border-2 border-[#4DC591] cursor-pointer
      text-black
      hover:bg-[#4DC591] hover:text-white
    "
           [routerLink]="'/' + menuItem.path">
        <div class="service-card-header flex items-center justify-center">
          <img src="{{menuItem.imageUrl}}" class="h-[80px]">
        </div>
        <div class="text-center p-3 text-md lg:text-lg break-words font-bold">
          {{menuItem.title | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 p-6 gap-4">
    <div class="col-span-12 md:col-span-6 lg:col-span-7">
      <div class="p-3 bg-white">
        <div class="flex justify-around main-green-bg text-white font-bold p-3">
          <button
            mwlCalendarPreviousView
            [(viewDate)]="viewDate"
            [view]="view">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
          </button>
          <p>
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
          </p>

          <button
            mwlCalendarNextView
            [(viewDate)]="viewDate"
            [view]="view">
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </button>
        </div>
        <mwl-calendar-month-view [viewDate]="viewDate"></mwl-calendar-month-view>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 p-6 lg:col-span-5">
        <div *ngFor="let item of [1,2,3]" class="rounded-2xl text-center lg:text-left py-3 lg:flex bg-white min-h-[80px] mb-4 w-full border-2 border-[#4DC591]">
          <div class="lg:w-2/12 grid items-center justify-center">
            <div class="rounded-full h-4 w-4 main-green-bg"></div>
          </div>
          <div class="lg:w-2/12 grid items-center justify-center">
            <div>
              <small class="text-gray-500">
                18:00
              </small>
              -
              <br/>
              <small class="text-gray-500">
                19:00
              </small>
            </div>
          </div>
          <div class="lg:w-6/12 p-3 grid items-center justify-center">
            <div>
             <p class="text-md inline-block mb-2">
               Пройти Тренажер ЕНТ по математике
             </p>
              <p class="text-sm">
                С уклоном на тригонометрию
              </p>
            </div>
          </div>
          <div class="lg:w-2/12 grid items-center justify-center">
            <div class="rounded-full h-8 w-8 main-green-bg grid justify-center items-center cursor-pointer">
              <fa-icon class="text-white text-sm" [icon]="faEye"></fa-icon>
            </div>
          </div>

        </div>
        <div class="mt-3 text-center">
          <a class="inline-block my-3 cursor-pointer main-green-color hover:text-white border border-[#4DC591] hover:bg-[#4DC591] focus:ring-4 focus:outline-none focus:ring-[#4DC591] font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
            Смотреть списки дел
          </a>
        </div>
    </div>

    <div class="col-span-12" *ngIf="attempts">
      <div class="bg-white mx-3 p-4 rounded-2xl shadow-2xl">
        <div class="relative overflow-x-auto" *ngIf="attempts.data">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 capitalize">
            <tr>
              <th scope="col" class="px-6 py-3">
                #
              </th>
              <th scope="col" class="px-6 py-3">
                {{"SUBJECTS"|translate}}
              </th>
              <th scope="col" class="px-6 py-3">
                {{"RESULT"|translate}}
              </th>
              <th scope="col" class="px-6 py-3">
                {{"UNT_TYPE"|translate}}
              </th>
              <th scope="col" class="px-6 py-3">
                {{"UNT_LANGUAGE"|translate}}
              </th>
              <th scope="col" class="px-6 py-3">
                {{"START_AT"|translate}}
              </th>
              <th scope="col" class="px-6 py-3">
                {{"END_AT"|translate}}
              </th>
              <th scope="col" class="px-6 py-3">
                {{"ACTION"|translate}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-white rounded-2xl my-2 border-b border-gray-300" *ngFor="let attempt of attempts.data | paginate: { itemsPerPage: attempts.per_page, currentPage: attempts.current_page,totalItems:attempts.total }">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex justify-center items-center">
                <div class="w-12 h-12 rounded-full border-2 border-green-300 bg-[url('assets/images/many-mode.png')] bg-cover bg-no-repeat my-2"></div>
                <p class="font-bold text-black ml-2 inline-block">#{{attempt.id}}</p>
              </th>
              <td class="px-6 py-4">
                <ul class="text-black ml-2" *ngIf="attempt.subjects">
                  <li class="text-sm list-item list-decimal" *ngFor="let subject of attempt.subjects">
                    {{subject | globalTranslate:"title": translate.currentLang}}
                  </li>
                </ul>
              </td>
              <td class="px-6 py-4">
                <p class="text-black ml-2 font-bold">{{attempt.points}} из {{attempt.max_points}}</p>
              </td>
              <td class="px-6 py-4">
                <p class="text-black ml-2">{{attempt.attempt_type != null ? (attempt.attempt_type| globalTranslate:"title": translate.currentLang) : ""}}</p>
              </td>
              <td class="px-6 py-4">
                <p class="text-black ml-2">{{attempt.locale != null ? attempt.locale.title : ""}}</p>
              </td>
              <td class="px-6 py-4">
                <p class="text-black ml-2">{{moment(attempt.start_at).format('DD/MM/YYYY HH:mm')}}</p>
              </td>
              <td class="px-6 py-4">
                <p *ngIf="attempt.end_at;else countdownTimer" class="text-black ml-2">{{moment(attempt.end_at).format('DD/MM/YYYY HH:mm')}}</p>
                <ng-template #countdownTimer>
                  <countdown class="text-red-700" [config]="{leftTime:attempt.time_left/1000}"></countdown>
                </ng-template>
              </td>
              <td class="px-6 py-4">
                <a *ngIf="attempt.end_at;else notEnded" [routerLink]="['/' + RoutesName.resultByAttemptId + '/' + attempt.id.toString()]" type="button" class="cursor-pointer text-white bg-green-300 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-500 dark:hover:bg-green-500 dark:focus:ring-green-500">
                  {{"RESULT"|translate}}
                </a>
                <ng-template #notEnded>
                  <a  [routerLink]="['/' + RoutesName.passUntExam + '/' + attempt.id.toString()]" type="button" class="cursor-pointer text-white bg-red-300 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-500 dark:hover:bg-red-500 dark:focus:ring-red-500">
                    {{"PASS"|translate}}
                  </a>
                </ng-template>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="my-2 flex justify-center">
            <pagination-controls class="rounded-full" (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

