<section *ngIf="attempt && !loading && questions">
  <div class="container mx-auto overflow-x-hidden">
    <div class="grid grid-cols-12 py-5 my-3 card-violet rounded-2xl">
      <div class="col-span-12 md:col-span-12 text-center">
        <p class="md:text-5xl font-bold text-white my-2 px-1">
          {{"TESTING"|translate}}
        </p>
        <div class="md:text-5xl font-bold text-white mb-2 mt-5 px-1 flex justify-center">
          <countdown (event)="handleCountDownEvent($event)" [config]="timeConfig"></countdown>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 my-4">
      <div class="col-span-12 flex justify-center">
        <div class="max-w-[320px] md:max-w-[400px] lg:max-w-[600px]">
          <select
            class="w-full text-lg xl:text-xl 2xl:text-2xl text-center rounded-full px-3 font-bold input-violet text-white fill-white main-violet-first-rounded focus:main-violet-first-rounded"
            (change)="changeSubject($event)">
            <option
                    *ngFor="let subject of attempt.subject_questions"
                    [selected]="subject.attempt_subject_id == active_subject_id"
                    value="{{subject.attempt_subject_id}}">
              {{subject | globalTranslate:"title": translate.currentLang}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!--    Pagination-->
    <div class="grid grid-cols-12 mt-8">
      <div class="col-span-12" *ngIf="answeredResult">
        <ngx-slick-carousel class="carousel"
                            [config]="slidePaginationConfig">
          <div ngxSlickItem *ngFor="let questionNumber of question_pagination" class="slide cursor-pointer relative">
            <button
              (click)="goToSlider(questionNumber)"
              class="rounded-full h-10 w-10 md:w-14 md:h-14 flex justify-center items-center
                not-active-button main-violet-first-rounded
              text-sm md:text-md lg:text-2xl text-white font-bold not-active-button-pagination"
              [ngClass]="{
                  'answered-but-not-replied':(answered_questions.hasOwnProperty(questions[questionNumber].id) && !(answeredResult[questions[questionNumber].id])),
                  'answered-button-pagination': (answeredResult[questions[questionNumber].id]),
                  'active-button-pagination': (active_slider == questionNumber),
              }"
              type="button"
            >
              {{questionNumber + 1}}
            </button>

          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <!--    Pagination-->
    <!--    Prev, Answer, Next-->
    <section class="block my-3 hidden md:block">
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-4 flex justify-center items-center h-full w-full">
          <button class="font-bold
            h-full w-full
            inline
            bg-violet-first
            text-white
            main-violet-first-rounded
            rounded-full text-sm md:text-md px-5 py-3
            text-center m-2"
                  *ngIf="prevSubject"
                  (click)="changeSubject(0,prevSubject.attempt_subject_id)"
          >
            <fa-icon [icon]="faChevronLeft" class="mr-2"></fa-icon> {{prevSubject | globalTranslate:"title": translate.currentLang}}
        </button>
        </div>
        <div class="col-span-4 flex justify-center items-center" *ngIf="active_subject_id">
        <button class="font-bold
            h-full w-full
            inline
            main-orange-second-bg
            text-white
            main-violet-first-rounded
            rounded-full text-sm md:text-md px-5 py-3
            text-center m-2"  *ngIf="unAnsweredQuestion > 0; else finishedSubject">
           Осталось вопросов: {{unAnsweredQuestion}}
        </button>
          <ng-template #finishedSubject>

        <button
          *ngIf="activeSubject"
          class="font-bold
            h-full w-full
            inline
            bg-violet-first
            text-white
            main-violet-first-rounded
            rounded-full text-sm md:text-md px-5 py-3
            text-center m-2" >
           Вы ответили на все вопросы дисциплины: {{activeSubject | globalTranslate:"title" : translate.currentLang}}
        </button>

          </ng-template>
        </div>
        <div class="col-span-4 flex justify-center items-center">
          <button class="font-bold
            h-full w-full
            inline
            bg-violet-first
            text-white
            main-violet-first-rounded
            rounded-full text-sm md:text-md px-5 py-3
            text-center m-2"
                  *ngIf="nextSubject"
                  (click)="changeSubject(0,nextSubject.attempt_subject_id)"

          >
            {{nextSubject | globalTranslate:"title": translate.currentLang}}
            <fa-icon [icon]="faChevronRight" class="ml-2"></fa-icon>
          </button>
        </div>
      </div>
    </section>
    <!--    Question Modal-->
    <div class="grid grid-cols-12 mt-[10px] ">
      <!--    Prompt-->
      <div class="col-span-12 md:col-span-2"></div>
      <div class="col-span-12 md:col-span-8">
        <div class="flex justify-center py-3">
          <div class="col-span-6 sm:col-span-4 md:col-span-3 flex justify-center items-start text-center p-2"
               *ngIf="attempt.type_id < 3">
            <section>
              <button
                (click)="openModal('promptModal')"
                class="inline hover:rotate-0 rotate-180 rounded-full shadow-lg h-10 w-10 md:w-14 md:h-14 mx-4 text-md md:text-2xl text-white font-bold not-active-button-pagination main-violet-first-rounded"
              >
                <fa-icon [icon]="faLightbulb" class="text-white text-md md:text-2xl"></fa-icon>
              </button>
              <br>
              <small class="text-white  font-bold text-xs sm:text-sm md:text-md">
                {{"PROMPT"|translate}}
              </small>
            </section>
          </div>
          <div class="col-span-6 sm:col-span-4 md:col-span-3  flex justify-center items-start text-center p-2">
            <section>
              <button
                (click)="saveQuestion()"
                class="inline hover:rotate-0 rotate-180 rounded-full shadow-lg h-10 w-10 md:w-14 md:h-14 mx-4 text-md md:text-2xl text-white font-bold not-active-button-pagination main-violet-first-rounded"
                type="button">
                <fa-icon [icon]="faStar"></fa-icon>
              </button>
              <br>
              <small class="text-white  font-bold text-xs sm:text-sm md:text-md">
                {{"SAVED"|translate}}
              </small>
            </section>

          </div>
          <div class="col-span-6 sm:col-span-4 md:col-span-3  flex justify-center items-start text-center p-2">
            <section>
              <button
                (click)="openModal('appealModal')"
                class="inline hover:rotate-0 rotate-180 rounded-full shadow-lg h-10 w-10 md:w-14 md:h-14 mx-4 text-md md:text-2xl text-white font-bold not-active-button-pagination main-violet-first-rounded"
                type="button">
                <fa-icon [icon]="faBug"></fa-icon>
              </button>
              <br>
              <small class="text-white font-bold text-xs sm:text-sm md:text-md">
                {{"FIND_ERROR"|translate}}
              </small>
            </section>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-2"></div>
      <!--    Prompt-->
      <!--    Question And Answer-->
      <div class="col-span-12 md:col-span-2"></div>
      <div class="col-span-12 md:col-span-8">
        <div>
          <section *ngFor="let questions_ones of attempt.subject_questions">
            <section *ngIf="questions_ones.attempt_subject_id == active_subject_id">
              <ngx-slick-carousel
                (afterChange)="changeSlider($event)"
                #slickModal="slick-carousel" class="carousel" [config]="questionSlider">
                <div ngxSlickItem *ngFor="let question of questions_ones.question"
                     class="slide cursor-pointer relative  rounded-2xl shadow-2xl answer-slide main-violet-first-rounded">
                  <div class="my-4 text-md md:text-xl text-black p-4 font-bold">
                    {{"QUESTION_NUMBER"|translate}} {{active_slider + 1}} / {{questions_ones.question.length}}
                  </div>
                  <div class="p-4 text-black font-bold content-question">
                    <div class="text-xs md:text-sm lg:text-md xl:text-lg overflow-x-scroll scroll-bg"
                         [mathjax]="question.text | mathjaxTransform"></div>
                  </div>
                  <section *ngIf="question.context" class="p-4">
                    <div
                      class="text-xs md:text-sm lg:text-md xl:text-lg overflow-x-scroll overflow-y-scroll scroll-bg py-2 inline-block"
                      [mathjax]="question.context.context | mathjaxTransform"></div>
                  </section>
                  <!--    Answer Modal-->
                  <div class="w-full p-5" *ngIf="answeredResult">
                    <!-- A Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_a')">
                      <div (click)="answerQuestion(questions[active_slider].id,'a')"
                           [ngClass]="{
                            'bg-[#7a5585]' :is_answered('a')? true : false,
                            'bg-white' :!is_answered('a')? true : false,
                            'text-white': is_answered('a')? true : false,
                           }"
                           class=" text-xs md:text-sm lg:text-md xl:text-lg font-bold p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex border-[1px] main-violet-first-rounded"
                           *ngIf="question.answer_a">
                        <div [mathjax]="question.answer_a | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- A Answer-->
                    <!-- B Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_b')">
                      <div (click)="answerQuestion(question.id,'b')"
                           [ngClass]="{
                                'bg-[#7a5585]' :is_answered('b')? true : false,
                                 'bg-white' :!is_answered('b')? true : false,
                                'text-white': is_answered('b')? true : false,
                             }"
                           class=" text-xs md:text-sm lg:text-md xl:text-lg font-bold p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex border-[1px] main-violet-first-rounded"
                           *ngIf="question.answer_b">
                        <div [mathjax]="question.answer_b | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- B Answer-->
                    <!-- C Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_c')">
                      <div (click)="answerQuestion(questions[active_slider].id,'c')"
                           [ngClass]="{
                              'bg-[#7a5585]' :is_answered('c')? true : false,
                               'bg-white' :!is_answered('c')? true : false,
                              'text-white': is_answered('c')? true : false,
                           }"
                           class=" text-xs md:text-sm lg:text-md xl:text-lg font-bold p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex border-[1px] main-violet-first-rounded"
                           *ngIf="question.answer_c">
                        <div [mathjax]="question.answer_c | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- C Answer-->
                    <!-- D Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_d')">
                      <div (click)="answerQuestion(questions[active_slider].id,'d')"
                           [ngClass]="{
                              'bg-[#7a5585]' :is_answered('d')? true : false,
                                'bg-white' :!is_answered('d')? true : false,
                              'text-white': is_answered('d')? true : false,
                           }"
                           class=" text-xs md:text-sm lg:text-md xl:text-lg font-bold p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex border-[1px] main-violet-first-rounded"
                           *ngIf="question.answer_d">
                        <div [mathjax]="question.answer_d | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- D Answer-->
                    <!-- E Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_e')">
                      <div (click)="answerQuestion(questions[active_slider].id,'e')"
                           [ngClass]="{
                              'bg-[#7a5585]' :is_answered('e')? true : false,
                              'bg-white' :!is_answered('e')? true : false,
                              'text-white': is_answered('e')? true : false,
                           }"
                           class=" text-xs md:text-sm lg:text-md xl:text-lg font-bold p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex border-[1px] main-violet-first-rounded"
                           *ngIf="question.answer_e">
                        <div [mathjax]="question.answer_e | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- E Answer-->
                    <!-- F Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_f')">
                      <div (click)="answerQuestion(questions[active_slider].id,'f')"
                           [ngClass]="{
                              'bg-[#7a5585]' :is_answered('f')? true : false,
                              'bg-white' :!is_answered('f')? true : false,
                              'text-white': is_answered('f')? true : false,
                           }"
                           class=" text-xs md:text-sm lg:text-md xl:text-lg font-bold p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex border-[1px] main-violet-first-rounded"
                           *ngIf="question.answer_f">
                        <div [mathjax]="question.answer_f | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- F Answer-->
                    <!-- G Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_g')">
                      <div (click)="answerQuestion(questions[active_slider].id,'g')"
                           [ngClass]="{
                              'bg-[#7a5585]' :is_answered('g')? true : false,
                              'bg-white' :!is_answered('g')? true : false,
                              'text-white': is_answered('g')? true : false,
                           }"
                           class=" text-xs md:text-sm lg:text-md xl:text-lg font-bold p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex border-[1px] main-violet-first-rounded"
                           *ngIf="question.answer_g">
                        <div [mathjax]="question.answer_g | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- G Answer-->
                    <!-- H Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_h')">
                      <div (click)="answerQuestion(questions[active_slider].id,'h')"
                           [ngClass]="{
                                'bg-[#7a5585]' :is_answered('h')? true : false,
                                'bg-white' :!is_answered('h')? true : false,
                                'text-white': is_answered('h')? true : false,
                             }"
                           class=" text-xs md:text-sm lg:text-md xl:text-lg font-bold p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex border-[1px] main-violet-first-rounded"
                           *ngIf="question.answer_h">
                        <div [mathjax]="question.answer_h | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- H Answer-->
                  </div>
                  <!--    Answer Modal-->
                </div>
              </ngx-slick-carousel>
            </section>

          </section>

        </div>

      </div>
      <div class="col-span-12 md:col-span-2"></div>
      <!--    Question And Answer-->
    </div>
    <!--    Question Modal-->
    <!--    Prev, Answer, Next-->
    <div class="grid grid-cols-12 my-2">
      <div class="col-span-6 md:col-span-4 p-4 order-2 md:order-1 flex justify-start">
        <button type="button" class="w-full
          inline
          bg-violet-first
          text-white
          main-violet-first-rounded
          rounded-full text-sm md:text-md lg:text-lg p-3 font-bold
          max-w-[320px]
          text-center m-2
   "
                *ngIf="active_slider > 0"
                (click)="prev()"
        >
          <fa-icon [icon]="faBackwardFast" class="mx-2 text-lg"></fa-icon>
          <p class="hidden md:inline">
            {{"PREV_QUESTION"|translate}}
          </p>
        </button>
      </div>

      <div class="col-span-12 md:col-span-4 p-4 order-1 md:order-2 flex justify-center">
        <section *ngIf="!loadingAnswer">
          <button type="button" class="
            font-bold
            inline
            bg-violet-first
            text-white
            main-violet-first-rounded
            rounded-full text-sm md:text-md lg:text-lg p-3
            max-w-[320px]
            text-center m-2"
                  [ngClass]="loadingAnswer ? 'cursor-not-allowed' : 'cursor-pointer'"
                  [disabled]="loadingAnswer"
                  (click)="checkAnswer(questions[active_slider].id)"
                  *ngIf="answered_questions.hasOwnProperty(questions[active_slider].id) && !answeredResult[questions[active_slider].id]"
          >
            {{"GIVE_AN_ANSWER"|translate}}
            <fa-icon [icon]="faCheck" class="mx-2 text-lg"></fa-icon>
          </button>
        </section>
      </div>

      <div class="col-span-6 md:col-span-4 p-4 order-3 md:order-3 flex justify-end">
        <button type="button" class="w-full
          inline
          bg-violet-first
          text-white
          main-violet-first-rounded
          rounded-full text-sm md:text-md lg:text-lg p-3 font-bold
          max-w-[320px]
          text-center m-2
   "
                (click)="next()"
                *ngIf="(active_slider + 1) < questions.length"
        >
          <p class="inline hidden md:inline">
            {{"NEXT_QUESTION"|translate}}
          </p>

          <fa-icon [icon]="faForwardFast" class="mx-2 text-lg"></fa-icon>
        </button>
      </div>

    </div>
    <div class="col-span-12 flex justify-center items-center">
      <!--    Finish-->
      <button type="button" class="
            w-full md:w-1/4
            inline-block
            text-white
            rounded-full text-sm md:text-md lg:text-lg p-3 font-bold
            bg-violet-orange-first
            main-violet-first-rounded
            text-center m-2"
              (click)="finishAttempt()"
      >
        {{"FINISH_UNT"|translate}}
        <fa-icon [icon]="faPersonRunning" class="text-lg"></fa-icon>
      </button>
      <!--    Finish-->
    </div>

  </div>

  <!--  Modal Prompt -->
  <ngx-smart-modal customClass="nsm-centered unt-modal" identifier="promptModal">
    <div class="py-3 px-4 text-center">
      <div>
        <fa-icon class="inline-block text-4xl main-violet-first-color my-3" [icon]="faLightbulb"></fa-icon>
      </div>
      <p class="text-lg md:text-3xl inline-block my-2 main-violet-first-color font-bold">
        {{"PROMPT_TO_QUESTION"|translate}} {{active_slider + 1}}</p>
      <section class="main-violet-first-color" *ngIf="questions[active_slider].prompt;else no_prompt">
        <markdown katex [data]="questions[active_slider].prompt | mathjaxTransform:true"
                  *ngIf="questions[active_slider].prompt ; else no_prompt"></markdown>
      </section>
      <ng-template #no_prompt>
        <br/>
        <span>
          <fa-icon class="main-violet-first-color mr-2" [icon]="faFaceFrownOpen"></fa-icon>
          {{"UNFORTUNATELY_NO_PROMPT"|translate}}
        </span>
        <br/>
      </ng-template>
      <button (click)="closeModal('promptModal')" type="button"
              class="focus:outline-none my-4 font-bold text-white main-violet-first-rounded bg-violet-first rounded-full focus:ring-4 text-sm px-5 py-2.5 mr-2 mb-2">
        {{"UNDERSTAND"|translate}}
      </button>
    </div>
  </ngx-smart-modal>
  <!--  Modal Prompt-->
  <!--  Appeal Modal Prompt -->
  <ngx-smart-modal customClass="nsm-centered unt-modal" identifier="appealModal">
    <div class="py-3 px-4 text-center">
      <div>
        <fa-icon class="inline-block text-4xl my-3 main-violet-first-color" [icon]="faBug"></fa-icon>
      </div>
      <p
        class="text-lg md:text-3xl inline-block my-2 main-violet-first-color font-bold">{{"APPEAL_TO_QUESTION"|translate}} {{active_slider + 1}}</p>
      <div class="my-4">
        <div class="my-2">
          <select
            class="text-md md:text-lg lg:text-xl text-center rounded-full px-3 font-bold input-violet main-violet-first-rounded text-white"
            [(ngModel)]="appealRequest.type_id">
            <option *ngFor="let type of appealTypes" value="{{type.id}}">
              {{type | globalTranslate:"title": translate.currentLang}}
            </option>
          </select>
        </div>
        <div class="my-2 text-left">
          <label
            class="main-violet-first-color font-bold text-md md:text-lg lg:text-xl">{{"DESCRIBE_YOUR_PROBLEM"|translate}}</label>
          <textarea
            class="w-full rounded-2xl main-violet-first-bg p-3 input-violet main-violet-first-rounded text-white"
            [(ngModel)]="appealRequest.message" maxlength="255">

          </textarea>
        </div>

      </div>
      <button (click)="createAppeal()" type="button"
              class="focus:outline-none my-4 mx-2 font-bold text-white main-violet-first-rounded bg-violet-first rounded-full focus:ring-4 text-sm px-5 py-2.5 mr-2 mb-2">
        {{"SEND"|translate}}
      </button>
      <button (click)="closeModal('appealModal')" type="button"
              class="focus:outline-none my-4 font-bold text-white main-violet-first-rounded main-orange-bg rounded-full focus:ring-4 text-sm px-5 py-2.5 mr-2 mb-2">
        {{"CANCEL"|translate}}
      </button>
    </div>
  </ngx-smart-modal>
  <!--  Appeal Modal Prompt-->
</section>
