<section *ngIf="attempt && !loading && questions">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 py-5 my-3 main-green-bg rounded-2xl">
      <div class="col-span-12 md:col-span-12 text-center">
        <p class="md:text-5xl font-bold text-white my-2 px-1">
          {{"TESTING"|translate}}
        </p>
        <div class="md:text-5xl font-bold text-white mb-2 mt-5 px-1 flex justify-center">
          <fa-icon [icon]="faClock" class="mr-3"></fa-icon>
          <countdown (event)="handleCountDownEvent($event)" [config]="timeConfig"></countdown>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12">
      <div class="col-span-12 flex justify-center">
        <div class="w-[300px]">
          <select class="w-full rounded-2xl" (change)="changeSubject($event)">
            <option *ngFor="let subject of attempt.subject_questions" value="{{subject.attempt_subject_id}}">
              {{subject | globalTranslate:"title": translate.currentLang}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!--    Pagination-->
    <div class="grid grid-cols-12 mt-8">
      <div class="col-span-12" *ngIf="answeredResult">
        <ngx-slick-carousel class="carousel"
                            [config]="slidePaginationConfig">
          <div ngxSlickItem *ngFor="let questionNumber of question_pagination" class="slide cursor-pointer relative">
            <button
              (click)="goToSlider(questionNumber)"
              class="rounded-full w-14 h-14 flex justify-center items-center
                bg-[#9295A3]
              text-2xl text-white font-bold"
              [ngClass]="{
                  'bg-[#9BA1FF]': (answered_questions.hasOwnProperty(questions[questionNumber].id) || (answeredResult[questions[questionNumber].id])),
                  'bg-[#9295A3]': (active_slider != questionNumber),
                  'bg-[#FF7648]': (active_slider == questionNumber),
              }"
              type="button"
            >
              {{questionNumber + 1}}
            </button>

          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <!--    Pagination-->
    <!--    Question Modal-->
    <div class="grid grid-cols-12 mt-[50px] ">
      <!--    Prompt-->
      <div class="col-span-12 flex justify-center items-start">
        <div class="text-center flex py-3">
          <div class="w-1/2 md:w-1/4" *ngIf="attempt.type_id != 3">
            <button
              (click)="openModal('promptModal')"
              class="inline hover:rotate-0 rotate-180 hover:bg-yellow-200 rounded-full shadow-lg w-14 h-14 mx-4  bg-yellow-400 text-2xl text-white font-bold"
            >
              <fa-icon [icon]="faLightbulb" class="text-white text-2xl"></fa-icon>
            </button>
            <br>
            <small class="text-yellow-400 font-bold">
              {{"PROMPT"|translate}}
            </small>
          </div>
          <div class="w-1/2 md:w-1/4" *ngIf="questions[active_slider].type_id != 3">
            <section *ngIf="attempt.type_id != 3">
            <section *ngIf="!fiftyFiftyResult.hasOwnProperty(questions[active_slider].id)">
              <button
                (click)="getFiftyFifty()"
                class="inline hover:rotate-0 rotate-180 main-secondary-bg bg-yellow-400 rounded-full shadow-lg w-14 h-14 mx-4 text-2xl text-white font-bold mx-4"
                type="button">
                <fa-icon [icon]="faDice"></fa-icon>
              </button>
              <br>
              <small class="main-secondary-color font-bold">
                {{"FIFTY_FIFTY"|translate}}
              </small>
            </section>
            </section>
          </div>
          <div class="w-1/2 md:w-1/4">
            <button
              (click)="saveQuestion()"
              class="inline hover:rotate-0 rotate-180 main-green-bg rounded-full shadow-lg w-14 h-14 mx-4   text-2xl text-white font-bold"
              type="button">
              <fa-icon [icon]="faStar"></fa-icon>
            </button>
            <br>
            <small class="main-green-color font-bold">
              {{"SAVED"|translate}}
            </small>
          </div>
          <div class="w-1/2 md:w-1/4">
          <button
            (click)="openModal('appealModal')"
            class="inline hover:rotate-0 rotate-180 bg-red-500 rounded-full shadow-lg w-14 h-14 mx-4   text-2xl text-white font-bold"
            type="button">
            <fa-icon [icon]="faBug"></fa-icon>
          </button>
            <br>
          <small class="text-red-500 font-bold">
            {{"FIND_ERROR"|translate}}
          </small>
          </div>
        </div>
      </div>
      <!--    Prompt-->
      <!--    Question And Answer-->
      <div class="col-span-12 md:col-span-2"></div>
      <div class="col-span-12 md:col-span-8">
        <div>
          <section *ngFor="let questions_ones of attempt.subject_questions">
            <section *ngIf="questions_ones.attempt_subject_id == active_subject_id">
              <ngx-slick-carousel
                (afterChange)="changeSlider($event)"
                #slickModal="slick-carousel" class="carousel" [config]="questionSlider">
                <div ngxSlickItem *ngFor="let question of questions_ones.question"
                     class="slide cursor-pointer relative  rounded-2xl shadow-2xl overflow-y-scroll">
                  <div class="my-4 text-xl text-black p-4 font-bold">
                    {{"QUESTION_NUMBER"|translate}} {{active_slider + 1}} / {{questions_ones.question.length}}
                  </div>
                  <div class="p-4 text-black font-bold content-question">
                    <div [mathjax]="question.text | mathjaxTransform"></div>
                  </div>
                  <section *ngIf="question.context" class="p-4">
                    <div [mathjax]="question.context.context | mathjaxTransform"></div>
                  </section>
                  <!--    Answer Modal-->
                  <div class="w-full p-5" *ngIf="answeredResult">
                    <!-- A Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_a')">
                      <div (click)="answerQuestion(questions[active_slider].id,'a')"
                           [ngClass]="{
                            'bg-[#9BA1FF]' :is_answered('a')? true : false,
                            'text-white': is_answered('a')? true : false,
                           }"
                           class="border border-blue-400 p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex"
                           *ngIf="question.answer_a">
                        <div [mathjax]="question.answer_a | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- A Answer-->
                    <!-- B Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_b')">
                      <div (click)="answerQuestion(question.id,'b')"
                           [ngClass]="{
                                'bg-[#9BA1FF]' :is_answered('b')? true : false,
                                'text-white': is_answered('b')? true : false,
                             }"
                           class="border border-blue-400 p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex"
                           *ngIf="question.answer_b">
                        <div [mathjax]="question.answer_b | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- B Answer-->
                    <!-- C Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_c')">
                      <div (click)="answerQuestion(questions[active_slider].id,'c')"
                           [ngClass]="{
                              'bg-[#9BA1FF]' :is_answered('c')? true : false,
                              'text-white': is_answered('c')? true : false,
                           }"
                           class="border border-blue-400 p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex"
                           *ngIf="question.answer_c">
                        <div [mathjax]="question.answer_c | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- C Answer-->
                    <!-- D Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_d')">
                      <div (click)="answerQuestion(questions[active_slider].id,'d')"
                           [ngClass]="{
                              'bg-[#9BA1FF]' :is_answered('d')? true : false,
                              'text-white': is_answered('d')? true : false,
                           }"
                           class="border border-blue-400 p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex"
                           *ngIf="question.answer_d">
                        <div [mathjax]="question.answer_d | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- D Answer-->
                    <!-- E Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_e')">
                      <div (click)="answerQuestion(questions[active_slider].id,'e')"
                           [ngClass]="{
                              'bg-[#9BA1FF]' :is_answered('e')? true : false,
                              'text-white': is_answered('e')? true : false,
                           }"
                           class="border border-blue-400 p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex"
                           *ngIf="question.answer_e">
                        <div [mathjax]="question.answer_e | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- E Answer-->
                    <!-- F Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_f')">
                      <div (click)="answerQuestion(questions[active_slider].id,'f')"
                           [ngClass]="{
                              'bg-[#9BA1FF]' :is_answered('f')? true : false,
                              'text-white': is_answered('f')? true : false,
                           }"
                           class="border border-blue-400 p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex"
                           *ngIf="question.answer_f">
                        <div [mathjax]="question.answer_f | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- F Answer-->
                    <!-- G Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_g')">
                      <div (click)="answerQuestion(questions[active_slider].id,'g')"
                           [ngClass]="{
                              'bg-[#9BA1FF]' :is_answered('g')? true : false,
                              'text-white': is_answered('g')? true : false,
                           }"
                           class="border border-blue-400 p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex"
                           *ngIf="question.answer_g">
                        <div [mathjax]="question.answer_g | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- G Answer-->
                    <!-- H Answer-->
                    <section *ngIf="checkIsFiftyFifty('answer_h')">
                      <div (click)="answerQuestion(questions[active_slider].id,'h')"
                           [ngClass]="{
                                'bg-[#9BA1FF]' :is_answered('h')? true : false,
                                'text-white': is_answered('h')? true : false,
                             }"
                           class="border border-blue-400 p-4 rounded-2xl my-3 shadow-lg cursor-pointer flex"
                           *ngIf="question.answer_h">
                        <div [mathjax]="question.answer_h | mathjaxTransform"></div>
                      </div>
                    </section>
                    <!-- H Answer-->
                  </div>
                  <!--    Answer Modal-->
                </div>
              </ngx-slick-carousel>
            </section>

          </section>

        </div>

      </div>
      <div class="col-span-12 md:col-span-2"></div>
      <!--    Question And Answer-->
    </div>
    <!--    Question Modal-->

    <!--    Prev, Answer, Next-->
    <div class="grid grid-cols-12 my-2">
      <div class="col-span-6 md:col-span-4 p-4 order-2 md:order-1">
        <button type="button" class="
          w-full
          inline
          main-secondary-bg
          text-white
          focus:outline-none focus:ring-4
          focus:ring-violet-500 font-medium
          rounded-lg text-sm p-3
          text-center m-2
   "
                (click)="prev()"
        >
          <fa-icon [icon]="faBackwardFast" class="mx-2 text-lg"></fa-icon>
          <p class="inline hidden md:inline">
            {{"PREV_QUESTION"|translate}}
          </p>
        </button>
      </div>

      <div class="col-span-12 md:col-span-4 p-4 order-1 md:order-2">
        <button type="button" class="
            w-full
            text-lg
            font-bold
            inline
            main-green-bg
            text-white
            focus:outline-none focus:ring-4
            focus:ring-green-500 font-medium
            rounded-lg text-sm p-3
            text-center m-2"
                (click)="checkAnswer(questions[active_slider].id)"
                *ngIf="answered_questions.hasOwnProperty(questions[active_slider].id) && !answeredResult[questions[active_slider].id]"
        >
          {{"GIVE_AN_ANSWER"|translate}}
          <fa-icon [icon]="faCheck" class="mx-2 text-lg"></fa-icon>
        </button>
      </div>

      <div class="col-span-6 md:col-span-4 p-4 order-3 md:order-3">
        <button type="button" class="
          w-full
          inline
          main-secondary-bg
          text-white
          focus:outline-none focus:ring-4
          focus:ring-violet-500 font-medium
          rounded-lg text-sm p-3
          text-center m-2
   "
                (click)="next()">
          <p class="inline hidden md:inline">
            {{"NEXT_QUESTION"|translate}}
          </p>

          <fa-icon [icon]="faForwardFast" class="mx-2 text-lg"></fa-icon>
        </button>
      </div>

    </div>
    <!--    Prev, Answer, Next-->
    <div class="col-span-12 md:flex justify-center items-center">
      <!--    Finish-->
      <button type="button" class="
            w-full md:w-1/4
            inline-block
            bg-red-500
            text-white
            focus:outline-none focus:ring-4
            focus:ring-red-500 font-medium
            rounded-lg text-sm p-3
            text-center m-2"
              (click)="finishAttempt()"
      >
        {{"FINISH_UNT"|translate}}
        <fa-icon [icon]="faPersonRunning" class="mx-2 text-lg"></fa-icon>
      </button>
      <!--    Finish-->
    </div>

  </div>

  <!--  Modal Prompt -->
  <ngx-smart-modal customClass="nsm-centered unt-modal" identifier="promptModal">
    <div class="py-3 px-4 text-center">
      <div>
        <fa-icon class="inline-block text-4xl text-yellow-300 my-3" [icon]="faLightbulb"></fa-icon>
      </div>
      <p class="text-lg md:text-3xl inline-block my-2">
        {{"PROMPT_TO_QUESTION"|translate}} {{active_slider + 1}}</p>
      <section *ngIf="questions[active_slider].prompt;else no_prompt">
        <markdown katex [data]="questions[active_slider].prompt | mathjaxTransform:true" *ngIf="questions[active_slider].prompt ; else no_prompt"></markdown>
      </section>
      <ng-template #no_prompt>
        <br/>
        <span>
          <fa-icon class="text-yellow-300 mr-2" [icon]="faFaceFrownOpen"></fa-icon>
          {{"UNFORTUNATELY_NO_PROMPT"|translate}}
        </span>
        <br/>
      </ng-template>
      <button (click)="closeModal('promptModal')" type="button"
              class="focus:outline-none my-4 font-bold text-white bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-500">
        {{"UNDERSTAND"|translate}}
      </button>
    </div>
  </ngx-smart-modal>
  <!--  Modal Prompt-->
  <!--  Appeal Modal Prompt -->
  <ngx-smart-modal customClass="nsm-centered unt-modal" identifier="appealModal">
    <div class="py-3 px-4 text-center">
      <div>
        <fa-icon class="inline-block text-4xl text-red-700 my-3" [icon]="faBug"></fa-icon>
      </div>
      <p class="text-lg md:text-3xl inline-block my-2">{{"APPEAL_TO_QUESTION"|translate}} {{active_slider + 1}}</p>
      <div class="my-4">
        <div class="my-2">
          <select class="w-full rounded-lg my-2" [(ngModel)]="appealRequest.type_id">
            <option *ngFor="let type of appealTypes" value="{{type.id}}">
              {{type | globalTranslate:"title": translate.currentLang}}
            </option>
          </select>
        </div>
        <div class="my-2 text-left">
          <label>{{"DESCRIBE_YOUR_PROBLEM"|translate}}</label>
          <textarea class="w-full" [(ngModel)]="appealRequest.message" maxlength="255">

          </textarea>
        </div>

      </div>
      <button (click)="createAppeal()" type="button"
              class="focus:outline-none my-4 mx-2 font-bold text-white bg-red-500 focus:ring-4 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
        {{"SEND"|translate}}
      </button>
      <button (click)="closeModal('appealModal')" type="button"
              class="focus:outline-none my-4 font-bold text-white main-secondary-bg focus:ring-4 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
        {{"CANCEL"|translate}}
      </button>
    </div>
  </ngx-smart-modal>
  <!--  Appeal Modal Prompt-->
</section>
