<div class="container mx-auto">
  <div class="grid grid-cols-12 py-2 my-3 bg-violet-orange-first rounded-2xl">
    <div class="col-span-12 md:col-span-6 px-5 md:flex items-center text-center md:text-left">
      <div class="px-3 md:px-4 lg:px-5">
        <p class="text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl text-white font-bold">
          {{"BATTLE_AND_WIN" | translate}}
        </p>
        <div class="my-4">
          <div class="flex items-center my-2">
            <div class="w-8 h-8 border border-white p-2 rounded-full min-w-8 flex justify-center items-center">
              <fa-icon [icon]="faGift" class="text-sm md:text-md lg:text-lg text-white my-2 px-1"></fa-icon>
            </div>
            <p class="text-sm md:text-md lg:text-lg xl:text-xl text-white my-2 px-1">
              {{"PARTICIPATE_PRISE_AND_AWARD"|translate}}
            </p>
          </div>
          <div class="flex items-center my-2">
            <div class="w-8 h-8 border border-white p-2 rounded-full min-w-8 flex justify-center items-center">
              <fa-icon [icon]="faBook" class="text-sm md:text-md lg:text-lg text-white my-2 px-1"></fa-icon>
            </div>
            <p class="text-sm md:text-md lg:text-lg xl:text-xl text-white my-2 px-1">
              {{"SIXTEEN_SUBJECTS"|translate}}
            </p>
          </div>
          <div class="flex items-center my-2">
            <div class="w-8 h-8 border border-white p-2 rounded-full min-w-8 flex justify-center items-center">
              <fa-icon [icon]="faLanguage" class="text-sm md:text-md lg:text-lg text-white my-2 px-1"></fa-icon>
            </div>
            <p class="text-sm md:text-md lg:text-lg xl:text-xl text-white my-2 px-1">
              {{"SUPPORT_MULTI_LANGUAGE"|translate}} <br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 order-1 md:order-2">
      <div class="flex justify-center items-center">
        <img class="sm:max-w-[320px] md:max-w-[380px] lg:max-w-[460px]" src="assets/images/tournament.webp"/>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 py-2 my-3">
    <div class="col-span-12 text-center">
      <button type="button"
              class="inline
              mt-4
              text-lg
              min-w-[225px]
              font-bold
              main-violet-first-rounded
              bg-violet-first
              text-white
              lg:text-2xl
              focus:outline-none focus:ring-4
              rounded-full px-3 py-3
              text-center mr-2 mb-2"
              (click)="openDialog()"
      >
        {{"START_GAME"|translate}}
        <fa-icon [icon]="faGamepad" class="mx-2 text-lg lg:text-2xl"></fa-icon>
      </button>
    </div>
  </div>
  <div class="grid grid-cols-12 py-5 my-3 rounded-2xl">

    <div class="col-span-12 battle-list-50 rounded-xl">
      <div class="p-4">
        <!--Tabs navigation-->
        <ul
          class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0"
          role="tablist"
          data-te-nav-ref>
          <li role="presentation">
            <a
              class="cursor-pointer my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight hover:isolate focus:isolate focus:border-transparent text-white data-[te-nav-active]:border-[#b37cc4]"
              data-te-toggle="pill"
              data-te-target="#tabs-current"
              data-te-nav-active
              role="tab"
              aria-controls="tabs-current"
              aria-selected="true"
            >{{ "BATTLE_LISTS"|translate}}</a
            >
          </li>
          <li role="presentation">
            <a
              href="#tabs-profile"
              class="cursor-pointer my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight hover:isolate focus:isolate focus:border-transparent text-white data-[te-nav-active]:border-[#b37cc4]"
              data-te-toggle="pill"
              data-te-target="#tabs-participated"
              role="tab"
              aria-controls="tabs-participated"
              aria-selected="false"
            >  {{ "MY_ACTIVE_BATTLES"|translate}}</a>
          </li>
        </ul>

        <!--Tabs content-->
        <div class="mb-6">
          <div
            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-current"
            role="tabpanel"
            aria-labelledby="tabs-home-tab"
            data-te-tab-active>
            <div class="grid grid-cols-12 py-2 my-3">
              <div class="col-span-12" *ngIf="battleListData">
                <div class="battle-list-50 rounded-2xl main-violet-first-color">
                  <div class="relative overflow-x-auto" *ngIf="battleListData.data">
                    <table class="w-full text-sm text-left">
                      <thead class="text-xs text-white capitalize">
                      <tr>
                        <th scope="col" class="px-6 py-3 text">
                          {{"OWNER"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"BET"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"LOCALE"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"TIME_LEFT"|translate}}
                        </th>
                        <th scope="col" class="px-6 py-3">
                          {{"ACTION"|translate}}
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="rounded-2xl my-2" *ngFor="let battleList of battleList | paginate: { itemsPerPage: battleListData.per_page, currentPage: battleListData.current_page,totalItems:battleListData.total }">
                        <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap flex items-center justify-center">
                          <section *ngIf="battleList.owner">
                            <section class="flex justify-center items-center">
                              <div
                                [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(battleList.owner.file?.url) +')'}"
                                class="w-12 h-12 rounded-full border-2 bg-cover bg-no-repeat my-2"></div>
                            </section>
                            <p class="font-bold ml-2 inline-block text-white text-center">{{battleList.owner.name}}</p>
                          </section>
                        </th>
                        <td class="px-6 py-4">
                          <p class="font-bold text-white ml-2 inline-block">
                            {{battleList.price}}
                            <fa-icon class="ml-1 main-orange-color" [icon]="faCoins"></fa-icon>
                          </p>
                        </td>
                        <td class="px-6 py-4">
                          <div *ngIf="battleList.locale">
                            <p class="font-bold text-white ml-2 inline-block">{{battleList.locale.title}}</p>
                          </div>
                        </td>
                        <td class="px-6 py-4">
                          <div *ngIf="battleList.time_left_seconds">
                            <countdown class="font-bold main-orange-color" [config]="{leftTime:battleList.time_left_seconds}"></countdown>
                          </div>
                        </td>
                        <td class="px-6 py-4">
                          <a (click)="joinToBattle(battleList.promo_code,battleList.pass_code)" *ngIf="battleList.price < myBalance;else cantJoin" type="button"
                             class="block cursor-pointer text-white  focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2  main-violet-first-rounded bg-violet-first">
                            <fa-icon class="mr-1" [icon]="battleList.pass_code ? faLock : faLockOpen"></fa-icon>
                            {{"JOIN"|translate}}
                          </a>
                          <ng-template #cantJoin>
                            <a type="button"
                               class="block cursor-pointer text-white  focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2  main-violet-first-rounded main-orange-bg">
                              <fa-icon class="mr-1" [icon]="faLock"></fa-icon>
                              {{"YOU_CANT_JOIN"|translate}}
                            </a>
                          </ng-template>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="my-2 flex justify-center" *ngIf="battleListData.last_page > 1">
                      <pagination-controls class="rounded-full" (pageChange)="changeActiveBattlePage($event)"></pagination-controls>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-participated"
            role="tabpanel"
            aria-labelledby="tabs-profile-participated">
            <div class="col-span-12" *ngIf="myBattleList">
              <div class="rounded-2xl">
                <div class="battle-list-50 mx-3 p-4 rounded-2xl main-violet-first-color overflow-x-auto">
                  <table class="w-full text-sm text-left text-white">
                    <thead class="text-xs text-white capitalize">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-center">
                        {{"OWNER"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3">
                        {{"GUEST_BATTLE"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3">
                        {{"BET"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3">
                        {{"LOCALE"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3">
                        {{"TIME_LEFT"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3">
                        {{"ACTION"|translate}}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="rounded-2xl my-2" *ngFor="let myBattle of myBattleList">
                      <td class="px-6 py-4 font-medium text-white whitespace-nowrap flex items-center flex justify-center">
                        <section *ngIf="myBattle.owner">
                          <section class="flex justify-center items-center">
                            <div
                              [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(myBattle.owner.file?.url) +')'}"
                              class="w-12 h-12 rounded-full border-2 bg-cover bg-no-repeat my-2"></div>
                          </section>
                          <p class="font-bold ml-2 inline-block text-white text-center">{{myBattle.owner.name}}</p>
                        </section>
                      </td>
                      <td class="px-6 py-4">
                        <section *ngIf="myBattle.guest;else noGuest">
                          <div
                            [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(myBattle.guest.file?.url) +')'}"
                            class="w-12 h-12 rounded-full bg-cover bg-no-repeat my-2"></div>
                          <p class="font-bold text-white ml-2 inline-block">{{myBattle.guest.name}}</p>
                        </section>
                        <ng-template #noGuest>
                          <p class="font-bold main-orange-color ml-2 inline-block">-</p>
                        </ng-template>
                      </td>
                      <td class="px-6 py-4">
                        <p class="font-bold text-white ml-2 inline-block">
                          {{myBattle.price}}
                          <fa-icon class="ml-1 main-orange-color" [icon]="faCoins"></fa-icon>
                        </p>
                      </td>
                      <td class="px-6 py-4">
                        <div *ngIf="myBattle.locale">
                          <p class="font-bold text-white ml-2 inline-block">{{myBattle.locale.title}}</p>
                        </div>
                      </td>
                      <td class="px-6 py-4">
                        <div *ngIf="myBattle.time_left_seconds">
                          <countdown class="font-bold main-orange-color" [config]="{leftTime:myBattle.time_left_seconds}"></countdown>
                        </div>
                      </td>
                      <td class="px-6 py-4">
                        <a [routerLink]="'/'+ RoutesName.battleDetail + '/'+ myBattle.promo_code"
                           type="button"
                           class="block cursor-pointer text-white  focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2  main-violet-first-rounded bg-violet-first">
                          <fa-icon class="mr-1" [icon]="faEye"></fa-icon>
                          {{"SHOW"|translate}}
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>



  <section>
    <div  class="[direction:ltr] w-full no-scroll main-tertiary-bg">
      <ngx-smart-modal class="modalCreateGame" identifier="create-game-modal">
        <div class="flex justify-center w-full">
          <img src="assets/images/battle.webp" class="w-[80%] max-w-[350px]"/>
        </div>
        <div class="my-3 text-center">
          <p class="main-violet-first-color font-bold text-md lg:text-lg xl:text-xl">
            {{"CREATE_GAME_TITLE"|translate}}
          </p>
          <br/>
        </div>
        <div class="my-3 py-3 text-center">
          <div class="col-span-12 md:col-span-12 card md:flex items-center justify-center text-center">
            <p class="md:text-lg font-bold py-4 md:mr-2 main-violet-first-color">
              {{"CHOOSE_LANGUAGE"|translate}}
            </p>
            <ui-switch
              class="inline"
              checkedLabel="Қазақ тілі"
              defaultBgColor='#ff914d'
              (valueChange)="changeLanguage($event)"
              size="large"
              uncheckedLabel="Русский язык"
              defaultBoColor="white"
              [checked]="locale_id == 1"
              checkedTextColor="white"
              switchColor="#7a5585"
              uncheckedTextColor="white"
            ></ui-switch>
          </div>
          <div class="col-span-12 text-center">
            <p class="inline-block text-white font-bold my-3" *ngIf="myBalance">
              <span>{{myBalance}}</span>
              <fa-icon class="text-yellow-200" [icon]="faCoins"></fa-icon>
            </p>
          <form [formGroup]="createBattle" (submit)="onCreateBattle()">
            <!--Price input-->
            <app-input-field
              [formControlName]="'price'"
              [input_name]="'price'"
              [type]="'number'"
              [placeholder]="'PRICE' | translate"
              [label]="('BET' | translate) + '*'"
              [error_message]="'price_is_not_right'"
              [backErrors]="errors"
              [classOptional]="'main-violet-first-rounded text-black bg-white rounded-2xl font-bold'"
              ngDefaultControl
            />
            <!--Name input-->
            <app-input-field
              [formControlName]="'pass_code'"
              [input_name]="'pass_code'"
              [type]="'text'"
              [placeholder]="'PASS_CODE' | translate"
              [label]="'PASS_CODE' | translate"
              [error_message]="'pass_code_is_not_right'"
              [backErrors]="errors"
              [classOptional]="'main-violet-first-rounded text-black bg-white rounded-2xl font-bold'"
              ngDefaultControl
            />
            <div class="col-span-12 text-center" *ngIf="createBattle.valid">
              <button type="button"
                      (click)="onCreateBattle()"
                      class="mt-4
                      text-lg
                      min-w-[225px]
                      font-bold
                      main-violet-first-rounded
                      bg-violet-first
                      text-white
                      lg:text-2xl
                      focus:outline-none focus:ring-4
                      rounded-full px-3 py-3
                      text-center mr-2 mb-2">
                {{"START_GAME"|translate}}
                <fa-icon [icon]="faGamepad" class="mx-2 text-lg"></fa-icon>
              </button>
            </div>
          </form>
          </div>
        </div>

      </ngx-smart-modal>
    </div>
  </section>
</div>
