<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-3 w-full">
    <div class="col-span-12 md:col-span-12 lg:col-span-6 xl:col-span-6 2xl:col-span-4 shadow-2xl rounded-2xl my-2 p-3 border-solid border-2 main-violet-first-rounded cursor-pointer">
      <div class="card-unt-mode px-3 py-2 cursor-pointer"  [routerLink]="'/'+[RoutesName.passUnt]">
        <div class="ml-20 lg:ml-32 min-h-[150px] flex justify-start items-center">
          <div class="bubble-2 bubble-bottom-left-2 text-white font-bold uppercase w-full text-sm md:text-md lg:text-lg">
            {{"UNT_MODE_BE_READY_FOR_GRANT"|translate}}
          </div>
        </div>
        <div class="header-image">
          <div class="relative">
            <img src="assets/images/customizable.webp" class="h-36"/>
          </div>
        </div>
        <div class="header-title my-5">
          <p class="text-md lg:text-lg xl:text-xl font-bold uppercase text-white">
            {{"FOR_THEM_WHO_WANTS_GRANT"|translate}}
          </p>
        </div>
        <div class="header-body relative">
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
              <p>{{"FULL_UNT_TRAINER"|translate}}</p>
           </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>{{"CHOICE_OF_SIXTEEN_SUBJECTS"|translate}}</p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>{{"WORK_OVER_FAILURE"|translate}}</p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>{{"SUPPORT_MULTI_LANGUAGE"|translate}}</p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>{{"ANALYZE_WEAK_POSITION"|translate}}</p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>{{"ACTUAL_QUESTION_MILLION"|translate}}</p>
          </div>
          <div class="text-center  flex justify-center items-end">
              <a [routerLink]="'/'+[RoutesName.passUnt]" class="focus:outline-none
                   inline-block my-2
                   text-white
                   cursor-pointer
                    rounded-full
                    main-violet-first-rounded
                    bg-violet-first
                   font-bold
                   text-sm md:text-md lg:text-lg px-5 py-2.5 mb-2">
                {{"PASS_EXAM"|translate}}
             </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-12 lg:col-span-6 xl:col-span-6 2xl:col-span-4 shadow-2xl rounded-2xl my-2 p-3 border-solid border-2 main-violet-first-rounded cursor-pointer">
      <div class="card-unt-mode px-3 py-2 cursor-pointer" [routerLink]="'/'+[RoutesName.passUntSingle]">
        <div class="ml-20 lg:ml-32 min-h-[150px] flex justify-start items-center">
          <div class="bubble bubble-bottom-left text-white font-bold uppercase w-full text-sm md:text-md lg:text-lg">
            {{"I_AM_NOT_AFRAID_OF_WHO_KNOWS_UNT"|translate}}
          </div>
        </div>
        <div class="header-image">
          <div class="relative">
            <img src="assets/images/single-mode.webp" class="h-36"/>
          </div>
        </div>
        <div class="header-title my-5">
          <p class="text-md lg:text-lg xl:text-xl font-bold uppercase text-white">
            {{"PASS_UNT_ONE_OF_SIXTEEN"|translate}}
          </p>
        </div>
        <div class="header-body">
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
              <p>
                {{"PURPOSELY_TRAINING_FOR_SINGLE_SUBJECT"|translate}}
              </p>
           </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"CHOICE_OF_SIXTEEN_SUBJECTS"|translate}}
            </p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"WORK_OVER_FAILURE"|translate}}
            </p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"SUPPORT_MULTI_LANGUAGE"|translate}}
            </p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"ANALYZE_WEAK_POSITION"|translate}}
            </p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"ACTUAL_QUESTION_MILLION"|translate}}
            </p>
          </div>
          <div class="text-center  flex justify-center items-end">
              <a [routerLink]="'/'+[RoutesName.passUntSingle]" class="focus:outline-none
                   inline-block my-2
                   text-white
                   cursor-pointer
                    rounded-full
                    main-violet-first-rounded
                    bg-violet-first
                   font-bold
                   text-sm md:text-md lg:text-lg px-5 py-2.5 mb-2">
                {{"PASS_EXAM"|translate}}
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-12 lg:col-span-6 xl:col-span-6 2xl:col-span-4 shadow-2xl rounded-2xl my-2 p-3 border-solid border-2 main-violet-first-rounded cursor-pointer">
      <div class="card-unt-mode px-3 py-2 cursor-pointer" [routerLink]="'/'+[RoutesName.passCustomizableUnt]">
        <div class="ml-20 lg:ml-32 min-h-[150px] flex justify-start items-center">
          <div class="bubble-3 bubble-bottom-left-3 text-white font-bold uppercase w-full text-sm md:text-md lg:text-lg">
            {{"IT_IS_TIME_TO_BE_STRONGER"|translate}}
          </div>
        </div>
        <div class="header-image">
          <div class="relative">
            <img src="assets/images/many-mode.webp" class="h-36"/>
          </div>
        </div>
        <div class="header-title my-5">
          <p class="text-md lg:text-lg xl:text-xl font-bold uppercase text-white">
            {{"PASS_UNT_ONE_OF_SIXTEEN"|translate}}
          </p>
        </div>
        <div class="header-body">
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
              <p>
                {{"PURPOSELY_TRAINING_FOR_SINGLE_SUBJECT"|translate}}
              </p>
           </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"PASS_UNT_ONE_OF_SIXTEEN"|translate}}
            </p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"WORK_OVER_FAILURE"|translate}}
            </p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"SUPPORT_MULTI_LANGUAGE"|translate}}
            </p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"ANALYZE_WEAK_POSITION"|translate}}
            </p>
          </div>
          <div class="text-white my-3 text-sm md:text-md lg:text-lg font-bold">
            <p>
              {{"ACTUAL_QUESTION_MILLION"|translate}}
            </p>
          </div>
          <div class="text-center  flex justify-center items-end">
              <a [routerLink]="'/'+[RoutesName.passCustomizableUnt]" class="focus:outline-none
                   inline-block my-2
                   text-white
                   cursor-pointer
                    rounded-full
                    main-violet-first-rounded
                    bg-violet-first
                   font-bold
                   text-sm md:text-md lg:text-lg px-5 py-2.5 mb-2">
                {{"PASS_EXAM"|translate}}
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



