<app-breadcrumbs>
  <app-breadcrumb-item [title]="('SHOW_DETAILED_STAT'|translate)" [route]="'/'+RoutesName.untStats" [last]="true"/>
  <app-breadcrumb-item  [title]="('FULL_STATS'|translate)" [last]="false" />
</app-breadcrumbs>
<div class="container mx-auto relative">
  <div class="grid grid-cols-12 gap-3">
    <div id="filterBlock" class="col-span-12">
      <div class="main-violet-second-bg">
        <h2 class="mb-0" id="headingFilterTickets">
          <button
            class="group relative flex w-full items-center rounded-lg main-violet-second-bg px-5 py-4 text-left text-base
                            text-white transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none main-violet-first-rounded"
            type="button"
            data-te-collapse-init
            data-te-collapse-collapsed
            data-te-target="#filterTickets"
            aria-expanded="false"
            aria-controls="collapseTwo">
            {{"FILTER"|translate}}
            <span class="-mr-1 ml-auto h-5 w-5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                          </svg>
                        </span>
          </button>
        </h2>
        <div
          id="filterTickets"
          class="!visible hidden"
          data-te-collapse-item
          aria-labelledby="headingFilterTickets"
          data-te-parent="#accordionFilterTickets">
          <div class="px-5 py-4 bg-black-violet-orange-180-05">
            <div class="grid grid-cols-12 gap-3">
              <div class="col-span-12 md:col-span-12 lg:col-span-4 p-4" *ngIf="attemptTypes">
                <select
                  class="w-full flex h-full items-center form-control  main-violet-second-bg text-white main-violet-first-rounded"
                  [ngModel]="requestData.type_id"
                  (ngModelChange)="setAttemptType($event)"
                >
                  <option class="cursor-pointer" *ngFor="let attemptType of attemptTypes" value="{{attemptType.id}}">
                    {{attemptType | globalTranslate:"title": translate.currentLang}}
                  </option>
                </select>
              </div>
              <div class="col-span-12 md:col-span-12 lg:col-span-4 p-4" *ngIf="subjects">
                <select
                  class="w-full flex h-full items-center form-control main-violet-second-bg text-white main-violet-first-rounded"
                  [ngModel]="requestData.subject_id"
                  (ngModelChange)="setSubject($event)"
                >
                  <option selected class="cursor-pointer" value="{{null}}">
                    {{"ALL"|translate}}
                  </option>
                  <option class="cursor-pointer" *ngFor="let subjectItem of subjects" value="{{subjectItem.id}}">
                    {{subjectItem | globalTranslate:"title": translate.currentLang}}
                  </option>
                </select>
              </div>
              <div class="col-span-12 md:col-span-12 lg:col-span-4 p-4">
                <select
                  class="w-full flex h-full items-center form-control  main-violet-second-bg text-white main-violet-first-rounded"
                  [ngModel]="requestData.start_at"
                  (ngModelChange)="setStart($event)"
                >
                  <option selected class="cursor-pointer" value="{{null}}">
                    {{"ALL"|translate}}
                  </option>
                  <option class="cursor-pointer" value="{{moment(moment().subtract(1, 'day')).format('DD/MM/YYYY')}}">
                    {{"TODAY"|translate}}
                  </option>
                  <option class="cursor-pointer" value="{{moment(moment().subtract(7, 'day')).format('DD/MM/YYYY')}}">
                    {{"WEEK"|translate}}
                  </option>
                  <option class="cursor-pointer" value="{{moment(moment().subtract(1, 'month')).format('DD/MM/YYYY')}}">
                    {{"MONTH"|translate}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 2xl:grid-cols-10 gap-3 my-2 py-3" id="statsBlock" *ngIf="fullStatModel">
    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 2xl:col-span-2 my-3">
        <div class="card h-full p-5 min-h-[200px] shadow-xl rounded-lg border-t-[10px] border-indigo-500 main-violet-second-bg">
          <div class="card h-full-header px-[10px] py-[15px]">
            <p class="text-gray-300 text-xs md:text-md lg:text-lg font-bold">
              {{"ATTEMPTS_TOTAL"|translate}}
            </p>
          </div>
          <div class="card h-full-body px-[10px] py-[15px] flex justify-between text-2xl lg:text-2xl xl:text-4xl 2xl:text-6xl font-bold text-indigo-500">
            <p>
              {{fullStatModel.count}}
            </p>
            <fa-icon [icon]="faRectangleList"/>
          </div>
        </div>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 2xl:col-span-2 my-3">
        <div class="card h-full p-5 min-h-[200px] shadow-xl rounded-lg border-t-[10px] border-[#9BA1FF] main-violet-second-bg">
          <div class="card h-full-header px-[10px] py-[15px]">
            <p class="text-gray-300 text-xs md:text-md lg:text-lg font-bold">
              {{"AVERAGE_POINT"|translate}}
            </p>
          </div>
          <div class="card h-full-body px-[10px] py-[15px] flex justify-between text-2xl lg:text-2xl xl:text-4xl 2xl:text-6xl font-bold main-secondary-color">
            <p>
              {{fullStatModel.average ? Number(fullStatModel.average).toFixed(1) : 0}}
            </p>
            <fa-icon [icon]="faHandPeace"/>
          </div>
        </div>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 2xl:col-span-2 my-3">
        <div class="card h-full p-5 min-h-[200px] shadow-xl rounded-lg border-t-[10px] border-rose-500 bg-violet-first">
          <div class="card h-full-header px-[10px] py-[15px]">
            <p class="text-gray-300 text-xs md:text-md lg:text-lg font-bold">
              {{"MIN_POINT"|translate}}
            </p>
          </div>
          <div class="card h-full-body px-[10px] py-[15px] flex justify-between text-2xl lg:text-2xl xl:text-4xl 2xl:text-6xl font-bold text-rose-500">
            <p>
              {{fullStatModel.min ?? 0}}
            </p>
            <fa-icon [icon]="faThumbsDown"/>
          </div>
        </div>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 2xl:col-span-2 my-3">
        <div class="card h-full p-5 min-h-[200px] shadow-xl rounded-lg border-t-[10px] border-[#4DC591] main-violet-second-bg">
          <div class="card h-full-header px-[10px] py-[15px]">
            <p class="text-gray-300 text-xs md:text-md lg:text-lg font-bold">
              {{"MAX_POINT"|translate}}
            </p>
          </div>
          <div class="card h-full-body px-[10px] py-[15px] flex justify-between text-2xl lg:text-2xl xl:text-4xl 2xl:text-6xl font-bold main-green-color">
            <p>
              {{fullStatModel.max ?? 0}}
            </p>
            <fa-icon [icon]="faThumbsUp"/>
          </div>
        </div>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 2xl:col-span-2 my-3">
        <div class="card h-full p-5 min-h-[200px] shadow-xl rounded-lg border-t-[10px] border-amber-400 main-violet-second-bg">
          <div class="card h-full-header px-[10px] py-[15px]">
            <p class="text-gray-300 text-xs md:text-md lg:text-lg font-bold">
              {{"QUESTION_PASSED"|translate}}
            </p>
          </div>
          <div class="card h-full-body px-[10px] py-[15px] flex justify-between text-2xl lg:text-2xl xl:text-4xl 2xl:text-6xl font-bold text-amber-400">
            <p>
              {{fullStatModel.question_quantity}}
            </p>
            <fa-icon [icon]="faQuestionCircle"/>
          </div>
        </div>
    </div>

    <div class="col-span-12 my-[30px]" id="categoryStatsBlock" *ngFor="let subjectStat of fullStatModel.subjects | keyvalue">
      <div class="card-result-subject w-full min-h-[400px] shadow-xl">
        <div class="card-result border-2 px-[20px]" [ngStyle]="{'border-color':colors[subjectStat.key]}">
            <div class="card-result-header py-[20px]">
              <p class="text-md lg:text-lg xl:text-xl 2xl:text-2xl text-white font-bold" [ngStyle]="{'color':colors[subjectStat.key]}">
              {{getSubjectById(subjectStat.key) | globalTranslate:"title": translate.currentLang}}
              </p>
            </div>
          <div class="grid grid-cols-12 2xl:grid-cols-10 gap-3 my-2 py-3">
            <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 2xl:col-span-2 my-3" *ngFor="let resultKey of subjectStat.value | keys">
              <div class="card h-full p-5 min-h-[200px] shadow-xl rounded-lg border-t-[10px] main-violet-second-bg" *ngIf="resultKey.value"
                   [ngStyle]="{'border-color':colors[subjectStat.key]}">
                <div class="card h-full-header px-[10px] py-[15px] min-h-[80px]">
                  <p class="text-gray-400 text-xs font-bold" *ngIf="resultKey.value['sub_category'];else noSubCategory">
                    {{resultKey.value["sub_category"]["title_ru"]}}
                  </p>
                  <ng-template #noSubCategory>
                    <p class="text-gray-400 text-xs font-bold">
                      {{"NO_CATEGORY_QUESTION"|translate}}
                    </p>
                  </ng-template>
                </div>
                <div class="flex justify-between items-center">
                  <div class="w-1/2">
                    <div>
                      <p class="text-green-500 text-xs">Верно:{{resultKey.value['right']}} ({{getRightPercentage(resultKey.value['right'],resultKey.value['not_right'],0)}})</p>
                      <div class="h-5 my-2 rounded-lg main-green-bg stripped-bg" [ngStyle]="{'width':getRightPercentage(resultKey.value['right'],resultKey.value['not_right'],1) }"></div>
                    </div>
                    <div>
                      <p class="text-red-500 text-xs">Неверно:{{resultKey.value['not_right']}} ({{getRightPercentage(resultKey.value['not_right'],resultKey.value['right'],0)}})</p>
                      <div class="h-5 my-2 rounded-lg bg-red-500 stripped-bg" [ngStyle]="{'width':getRightPercentage(resultKey.value['not_right'],resultKey.value['right'],1) }"></div>
                    </div>
                  </div>
                  <div class="w-1/2">
                    <div class="text-center my-2">
                      <p class="text-lg lg:text-2xl xl:text-4xl" [ngStyle]="{'color':colors[subjectStat.key]}">
                        {{resultKey.value['right'] + resultKey.value['not_right']}}
                      </p>
                    </div>
                    <div class="my-2 text-center">
                      <p class="text-lg lg:text-2xl xl:text-4xl {{getColorPercentage(resultKey.value['right'],resultKey.value['not_right'])}}">
                        {{getRightPercentage(resultKey.value['right'],resultKey.value['not_right'],0)}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--            <div class="card-result-indicators py-2 my-3" >-->
<!--              <div class="mb-1 text-md font-bold" *ngIf="resultKey.value">-->
<!--                <p *ngIf="resultKey.value['sub_category'];else noSubCategory">-->
<!--                  {{resultKey.value["sub_category"]["title_ru"]}}-->
<!--                </p>-->
<!--                <ng-template #noSubCategory>-->
<!--                  {{"NO_CATEGORY_QUESTION"|translate}}-->
<!--                </ng-template>-->
<!--                <p>-->
<!--                  <span class="main-green-color">{{resultKey.value['right']}}</span>/<span class="text-red-500">{{resultKey.value['not_right']}}</span>-->
<!--                  ({{getRightPercentage(resultKey.value['right'],resultKey.value['not_right'])}})-->
<!--                </p>-->
<!--              </div>-->
<!--              <p>-->

<!--              </p>-->
<!--              <div class="w-full h-2 bg-red-500 rounded-full">-->
<!--                <div class="h-2 rounded-full main-green-bg" [ngStyle]="{'width':getRightPercentage(resultKey.value['right'],resultKey.value['not_right'])}"></div>-->
<!--              </div>-->
<!--              -->
<!--              -->
<!--            </div>-->
        </div>

      </div>
    </div>
  </div>

<app-information-bear [pageName]="'stat-full_'"/>
</div>
