
.section-first-page{
  background-image: url("/assets/images/new-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media screen and (min-width: 992px) {
    clip-path:ellipse(100% 60.5% at 50% 40.00%)
  }
}

.gradient-violet-button{
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #2f57ef, #b966e7, #b966e7,#2f57ef);
}
.gradient-violet-bg{
  background-size: 100% 120%;
  background-image: linear-gradient(to right, #2f57ef, #b966e7, #b966e7,#2f57ef);
}
.gradient-violet-button:hover{
  background-color: inherit;
  background-position: 102% 0;
  transition: all 0.4s ease-in-out;
}

.wiggle-img{
  animation: wiggle 4s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.bg-gradient-1{
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(239, 241, 255) 100%);
}


.team-card {
  background: #313131;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
}

.team-card-img {
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.team-card-text-box {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.team-card-text-box > .text {
  font-weight: bold;
}

.team-card-text-box > .head {
  font-size: 20px;
}

.team-card-text-box > .price {
  font-size: 17px;
}

.team-card-text-box > span {
  color: lightgrey;
}

.team-card:hover > .team-card-text-box {
  opacity: 1;
}

.team-card:hover > .team-card-img {
  height: 65%;
  filter: blur(7px);
  animation: team-card-anim 3s infinite;
}

@keyframes team-card-anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.team-card:hover {
  transform: scale(1.04) rotate(-1deg);
}

.card-service:hover{
  box-shadow: 4px 4px 8px 6px rgba(109, 40, 217, 0.2);
}
.more-info-button {
  position: absolute;
  bottom: 15%;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: white;
  background-size: 400%;
  color: black;
  border: none;
  cursor: pointer;
}

.more-info-button:hover::before {
  transform: scaleX(1);
}
.more-info-button:hover{
  color:white;
}

.more-info-button-content {
  position: relative;
  z-index: 1;
}

.more-info-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.for-active-tabs{
  background: #6d28d9!important;
  color: white!important;
  border-bottom: 1px solid #6d28d9!important;
}

.form-container{
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }

  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }

  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }

  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }

  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }

  .signin {
    text-align: center;
  }

  .signin a {
    color: royalblue;
  }

  .signin a:hover {
    text-decoration: underline royalblue;
  }

  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  .form label {
    position: relative;
  }

  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }

  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }

  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .form label .input:valid + span {
    color: green;
  }

  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
  }

  .submit:hover {
    background-color: rgb(56, 90, 194);
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }

    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
}


