<div id="front-page" class="bg-white relative">
  <!--Баннер-->
  <div class="section-first-page">
    <div class="container mx-auto max-h-[850px]">
      <div class="grid grid-cols-12 min-h-[100vh] md:min-h-[600px] lg:min-h-[800px] items-center">
        <div class="col-span-12 md:col-span-12 lg:col-span-6">
          <div class="p-3">
            <p class="text-lg md:text-2xl lg:text-4xl xl:text-6xl font-normal mb-4">
              Не парься, ты легко сдашь ЕНТ <br/>
              <b class="text-violet-700">вместе c IU</b>
            </p>
            <p class="text-sm md:text-md lg:text-lg my-3">
              Более 50 000 актуальных вопросов, видеоуроки и материалы подготовленные профессионалами
            </p>
            <a href="" class="gradient-violet-button px-10 py-3 rounded-lg text-white my-3 inline-block">
              Начать
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
          </div>
        </div>
        <div class="col-span-12 md:col-span-12 lg:col-span-3">
          <img src="assets/images/single_subject.webp" class="w-full wiggle-img max-w-[300px]"/>
        </div>
      </div>
    </div>
  </div>
  <!--Баннер-->
  <!--Сервисы-->
  <div class="section-second-page bg-white py-4 my-4 block">
    <div class="container mx-auto">
      <div class="grid grid-cols-12">
        <div class="col-span-12 text-left">
          <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
            - Наши сервисы
          </p>
          <p class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present">
            Раскройте Потенциал с <b class="text-violet-700">IU</b>
          </p>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-5 my-5">
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-6">
          <div
            class="card-service h-full bg-white rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-[#d9d9d9] relative">
            <div class="text-left w-full xl:w-2/4">
              <p class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold">
                Тренажер <b class="text-violet-700">ЕНТ</b>
              </p>
              <p class="mt-3 text-md font-regular text-gray-600">
                Наша платформа предлагает более 50 000 актуальных вопросов по 16 различным предметам, охватывая все
                ключевые темы и аспекты, необходимые для успешной сдачи ЕНТ.
              </p>
            </div>
            <button class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">Начать</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[250px]"
                 src="assets/images/icons/unt.webp"/>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-6">
          <div
            class="card-service h-full bg-white rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-[#dad2bf] relative">
            <div class="text-left w-full xl:w-2/4">
              <p class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold">
                Cистема обучения для <b class="text-violet-700">ЕНТ</b>
              </p>
              <p class="mt-3 text-md font-regular text-gray-600">
                Уникальность курса заключается в богатстве предоставляемых материалов: видеоуроков, снятыми
                профессионалами, до детально проработанных конспектов и тестов, которые помогут закрепить знания.
              </p>
            </div>
            <button class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">Начать</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[250px]"
                 src="assets/images/icons/content.webp"/>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-4">
          <div
            class="card-service h-full bg-white rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-[#dad2bf] relative">
            <div class="text-left w-full">
              <p class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold">
                Профориентационные <b class="text-violet-700">Тесты</b>
              </p>
              <p class="mt-3 text-md font-regular text-gray-600">
                В процессе прохождения тестов учащиеся могут открыть для себя новые области интересов или подтвердить
                уже существующие предположения о своем будущем карьерном пути
              </p>
            </div>
            <button class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">Начать</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[150px]"
                 src="assets/images/briefcase.webp"/>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-4">
          <div
            class="card-service h-full bg-white rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-[#363636] relative">
            <div class="text-left w-full text-white">
              <p class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold">
                Игровая <b class="text-violet-700">Механика</b>
              </p>
              <p class="mt-3 text-md font-regular">
                Учащиеся могут погрузиться в мир знаний через турниры и баттлы (battle) <br/>
                В турнирах пользователи соревнуются друг с другом Battle же позволяют участникам столкнуться в прямых
                интеллектуальных поединках
              </p>
            </div>
            <button class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">Начать</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[150px]"
                 src="assets/images/icons/gamepad.webp"/>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-4">
          <div
            class="card-service h-full bg-white rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-[#d9d9d9] relative">
            <div class="text-left w-full">
              <p class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold">
                Полноценная <b class="text-violet-700">Cтатистика</b>
              </p>
              <p class="mt-3 text-md font-regular text-gray-600">
                Учащиеся имеют доступ к детальной статистике своих достижений и прогресса. Это позволяет им отслеживать
                свои успехи, определять сильные и слабые стороны.
              </p>
            </div>
            <button class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">Начать</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[150px]"
                 src="assets/images/stats.webp"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Сервисы-->
  <!--На кого нацелены-->
  <div class="bg-white py-4 my-4 block relative">
    <div class="container mx-auto">
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-12 mb-2 text-left">
          <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
            - <b class="text-violet-700">IU</b> - Ваш Надежный Помощник в Подготовке к ЕНТ!
          </p>
          <p class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present">
            Мы помогаем школьникам преодолеть вызовы ЕНТ с <b class="text-violet-700">легкостью и уверенностью</b>
          </p>
        </div>
        <div class="col-span-12">
          <div class="">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="for-who-tab"
                data-tabs-toggle="#for-who-tab-content" role="tablist">
              <li class="mr-[0.2px] sm:me-2" role="presentation">
                <button class="inline-block
                        p-4 text-md md:text-lg lg:text-xl xl:text-2xl rounded-t-xl
                        aria-selected:bg-[#7e94dd] aria-selected:border-none aria-selected:text-white aria-selected:hover:text-white"
                        style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid"
                        id="student-tab"
                        data-tabs-target="#student"
                        type="button"
                        role="tab"
                        aria-controls="student"
                        aria-selected="false">
                  Школьникам
                </button>
              </li>
              <li class="mr-[0.2px] sm:me-2" role="presentation">
                <button class="inline-block
                         p-4 text-md md:text-lg lg:text-xl xl:text-2xl rounded-t-xl
                        aria-selected:bg-[#7e94dd] aria-selected:border-none aria-selected:text-white aria-selected:hover:text-white"
                        style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid"
                        id="school-tab"
                        data-tabs-target="#school"
                        type="button"
                        role="tab"
                        aria-controls="school"
                        aria-selected="false">
                  Школам
                </button>
              </li>
              <li class="mr-[0.2px] sm:me-2" role="presentation">
                <button class="inline-block
                         p-4 text-md md:text-lg lg:text-xl xl:text-2xl rounded-t-xl
                        aria-selected:bg-[#7e94dd] aria-selected:border-none aria-selected:text-white aria-selected:hover:text-white"
                        style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid"
                        id="parents-tab"
                        data-tabs-target="#parents"
                        type="button"
                        role="tab"
                        aria-controls="parents"
                        aria-selected="false">
                  Родителям
                </button>
              </li>
            </ul>
          </div>
          <!--Для школьников-->
          <div id="student-tab-content" class="bg-[#7e94dd] rounded-b-lg rounded-r-lg ml-[1px]">
            <div class="p-4 md:p-6 lg:p-8 xl:p-10 rounded-lg" id="student" role="tabpanel"
                 aria-labelledby="student-tab">
              <div class="grid grid-cols-12 min-h-[400px] gap-3 md:gap-5">
                <div class="col-span-12 sm:col-span-4 lg:px-2 flex justify-center items-center">
                  <div class="content-for-who ">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      Готовитесь к ЕНТ и чувствуете себя подавленными?
                    </p>
                    <p class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5 text-justify">
                      Представьте себе платформу, где знания и подготовка к экзаменам переплетаются в гармоничное целое
                      — это место, где более 50,000 вопросов ждут вашего изучения, охватывая 16 ключевых учебных
                      предметов, актуальных для подготовки к ЕНТ. Платформа предлагает три инновационных режима
                      обучения, чтобы каждый смог найти подход к эффективной учёбе.
                    </p>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4 lg:px-2 flex justify-center items-center">
                  <div class="content-for-who">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      Что вы получите:
                    </p>
                    <ul class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Всесторонняя подготовка к ЕНТ
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Профориентационные тесты
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Игровая механика и мотивация
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Интерактивное сообщество
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Полноценная статистика и обратная связь
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Персонализированный подход к обучению
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Возможность выиграть ценные призы
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4 lg:px-2">
                  <div class="content-for-who flex justify-center items-center items-center">
                    <img class="max-h-[300px] md:max-h-[450px]" src="assets/images/student.webp"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Для школьников-->
          <!--Для школ-->
          <div id="school-tab-content" class="bg-[#7e94dd] rounded-b-lg ml-[1px]">
            <div class="hidden p-4 md:p-6 lg:p-8 xl:p-10 rounded-lg" id="school" role="tabpanel"
                 aria-labelledby="school-tab">
              <div class="grid grid-cols-12 min-h-[400px] gap-3 md:gap-5">
                <div class="col-span-12 sm:col-span-4 lg:px-2 flex justify-center items-center">
                  <div class="content-for-who ">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      Наша платформа служит мощным инструментом для поддержки ваших учеников в подготовке к ЕНТ
                    </p>
                    <p class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5 text-justify">
                      Используйте наши образовательные материалы для дополнения вашего учебного плана, проводите
                      эффективные и целенаправленные тесты с помощью наших специализированных инструментов и ресурсов.
                    </p>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4 lg:px-2 flex justify-center items-center">
                  <div class="content-for-who">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      Что вы получите:
                    </p>
                    <ul class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Личные кабинеты учителей
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Создание и управление классами
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Мониторинг успеваемости учеников
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Направление учеников на тесты по предметам
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Адаптивное обучение
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Ресурсы и поддержка для учителей
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Профессиональное развитие
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4 lg:px-2">
                  <div class="content-for-who flex justify-center items-center items-center">
                    <img class="max-h-[300px] md:max-h-[450px]" src="assets/images/teacher_1.webp"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Для школ-->
          <!--Для родителей-->
          <div id="parents-tab-content" class="bg-[#7e94dd] rounded-b-lg ml-[1px]">
            <div class="hidden p-4 md:p-6 lg:p-8 xl:p-10 rounded-lg" id="parents" role="tabpanel"
                 aria-labelledby="parents-tab">
              <div class="grid grid-cols-12 min-h-[400px] gap-3 md:gap-5">
                <div class="col-span-12 sm:col-span-4 lg:px-2 flex justify-center items-center">
                  <div class="content-for-who ">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      Ищете надежный способ помочь вашему ребенку подготовиться к ЕНТ
                    </p>
                    <p class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5 text-justify">
                      Для родителей наша платформа предлагает множество преимуществ, которые способствуют более
                      активному участию в учебном процессе их детей и помогают лучше понять их образовательные
                      потребности
                      IU предлагает комплексные ресурсы для обучения, которые помогут вашему ребенку уверенно идти к
                      цели.
                    </p>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4 lg:px-2 flex justify-center items-center">
                  <div class="content-for-who">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      Что вы получите:
                    </p>
                    <ul class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Статистика успеваемости вашего ребенка
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Поддержка в профориентации
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Участие в образовательном процессе
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Рассылка об успеваемости вашего ребенка
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-green-300 font-semibold mr-2"></fa-icon>
                        Гибкость и удобство
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4 lg:px-2">
                  <div class="content-for-who flex justify-center items-center items-center">
                    <img class="max-h-[300px] md:max-h-[450px]" src="assets/images/parents.webp"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Для родителей-->
        </div>
      </div>
    </div>
  </div>
  <!--На кого нацелены-->
  <!--Стоимость-->
  <div class="bg-white py-4 my-4 block relative">
    <div class="container mx-auto">
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-12 mb-2 text-left">
          <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
            - Инвестируйте в будущее вашего ребенка без переплаты
          </p>
          <p class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present">
            <b class="text-violet-700">Гибкие подписки </b> для неограниченного доступа к обучению
          </p>
        </div>
        <div class="col-span-12" *ngIf="plans[activePlanId]">
          <div class="grid grid-cols-12 shadow-lg rounded-xl bg-white border p-4 md:p-6 lg:p-8 xl:p-12 relative overflow-hidden">
              <div class="absolute hidden sm:block right-0 top-0 h-16 w-16">
                <div
                  class="absolute transform rotate-45 bg-violet-700 text-center text-white font-semibold py-1 right-[-35px] top-[32px] w-[170px]">
                  {{plans[activePlanId].months}}
                </div>
              </div>
            <div class="col-span-12 md:col-span-3 lg:col-span-3 flex justify-center items-center my-2">
              <div class="flex justify-between md:block">
                <button
                  (click)="selectActivePlan(1)"
                  class="border-2 block text-sm m-1 sm:text-lg sm:m-2 px-2 py-2 sm:px-4 sm:py-2 border-violet-700 rounded-full bg-white text-violet-700 hover:bg-violet-700 hover:text-white duration-[250ms]"
                  [ngClass]="{'bg-violet-700 text-white':activePlanId == 1}"
                >
                  1 Месяц
                </button>
                <button
                  (click)="selectActivePlan(2)"
                  class="border-2 block text-sm m-1 sm:text-lg sm:m-2 px-2 py-2 sm:px-4 sm:py-2 border-violet-700 rounded-full bg-white text-violet-700 hover:bg-violet-700 hover:text-white duration-[250ms]"
                  [ngClass]="{'bg-violet-700 text-white':activePlanId == 2}"
                >
                  3 Месяца
                </button>
                <button
                  (click)="selectActivePlan(3)"
                  class="border-2 block text-sm m-1 sm:text-lg sm:m-2 px-2 py-2 sm:px-4 sm:py-2 border-violet-700 rounded-full bg-white text-violet-700 hover:bg-violet-700 hover:text-white duration-[250ms]"
                  [ngClass]="{'bg-violet-700 text-white':activePlanId == 3}"
                >
                  6 Месяцев
                </button>
              </div>
            </div>
            <div class="col-span-12 md:col-span-3 lg:col-span-3 my-2">
              <div class="flex h-full justify-center items-center" *ngIf="plans[activePlanId]">
                <img class="max-h-[300px] lg:max-h-[400px]" src="{{plans[activePlanId].image}}"/>
              </div>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-6 my-2">
              <b class="block text-violet-700 text-lg lg:text-xl mb-4">
                {{plans[activePlanId].title | translate}}
              </b>
              <p class="text-md lg:text-lg mb-4 text-gray-400 font-normal text-present">
                Наша ценовая политика разработана с учетом различных потребностей и возможностей, чтобы каждый ученик мог воспользоваться нашими ресурсами для подготовки к ЕНТ
              </p>
              <ul class="text-sm md:text-md lg:text-lg text-gray-500 mt-4 lg:mt-5">
                <li class="mb-2" *ngFor="let description of plans[activePlanId].description">
                  <fa-icon [icon]="faCheck" class="text-violet-400 mr-2"></fa-icon>
                  {{description|translate}}
                </li>
              </ul>
              <div class="py-5 text-right">
                <b class="block text-violet-700 text-lg lg:text-xl xl:text-2xl 2xl:text-4xl mb-4">
                  Всего за {{plans[activePlanId].price}} тенге <span *ngIf="plans[activePlanId].months_value > 1">/
                  <span class="text-md lg:text-lg xl:text-xl 2xl:text-2xl line-through text-rose-700">
                    {{plans[1].price * plans[activePlanId].months_value }} тенге
                  </span>

                </span>
                </b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Стоимость-->
  <!--О нас-->
  <div class="py-4 my-4 block relative bg-gradient-1">
    <div class="container mx-auto">
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-12 sm:col-span-6 order-2 sm:order-1 my-2">
          <div>
            <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
              - За каждым уроком, тестом и конспектом стоят наши выдающиеся педагоги
            </p>
            <p class="text-lg md:text-2xl lg:text-4xl font-normal mb-4 text-present">
              Эксперты платформы : <b class="text-violet-700">сердце и душа нашей образовательной платформы</b>
            </p>
            <div class="py-4">
              <p class="text-sm md:text-md lg:text-lg my-2 text-gray-500">
                Погрузитесь в мир образования вместе с нашей командой профессиональных учителей, которые являются
                настоящими экспертами в своих областях. Они не просто передают знания — они вдохновляют, мотивируют и
                открывают новые горизонты для наших учеников. Каждый тест, который вы проходите, каждая категория, в
                которой вы соревнуетесь, и каждый видеоурок, который вы смотрите, были тщательно разработаны нашими
                учителями. Они не только создают увлекательные и информативные материалы, но и делятся своим богатым
                опытом и уникальными методиками, чтобы сделать ваше обучение максимально эффективным. Наши учителя стоят
                за каждой успешной историей наших учеников, предоставляя им необходимые инструменты и поддержку для
                достижения их образовательных целей. Присоединяйтесь к нашей платформе и начните свой путь к успеху с
                лучшими специалистами!
              </p>
              <hr>
              <div class="grid grid-cols-2 py-3">
                <div class="col-span-1 flex">
                  <p class="text-xl md:text-2xl lg:text-4xl xl:text-6xl font-bold text-violet-700">
                    +10к
                  </p>
                  <p class="text-md lg:text-lg xl:text-xl ml-2">
                    Учеников <br/>
                    прошли обучение
                  </p>
                </div>
                <div class="col-span-1 flex">
                  <p class="text-xl md:text-2xl lg:text-4xl xl:text-6xl font-bold text-violet-700">
                    >10
                  </p>
                  <p class="text-md lg:text-lg xl:text-xl ml-2">
                    Лет<br/>
                    Опыта
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 order-1 sm:order-2 my-2 flex justify-center items-center">
          <img src="assets/images/grant_plus.png" class="max-h-[500px] rounded-2xl">
        </div>
      </div>
      <hr class="my-3"/>
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-12 sm:col-span-6 my-2 flex justify-center items-center">
          <img src="assets/images/teen_win.png" class="max-h-[500px] rounded-2xl">
        </div>
        <div class="col-span-12 sm:col-span-6 my-2">
          <div>
            <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
              - Помогаем ученикам найти свой путь в мире профессий
            </p>
            <p class="text-lg md:text-2xl lg:text-4xl font-normal mb-4 text-present">
              Наша команда профориентологов:<b class="text-violet-700">Навигаторы вашего будущего</b>
            </p>
            <div class="py-4">
              <p class="text-sm md:text-md lg:text-lg my-2 text-gray-500">
                В сердце нашей образовательной платформы находится команда опытных профориентологов, посвятивших свою
                карьеру помощи ученикам в поиске их истинного призвания. С помощью научно-обоснованных методов и
                индивидуального подхода, наши специалисты работают над созданием комплексных профориентационных тестов,
                которые помогают школьникам раскрыть свои скрытые таланты и интересы.
              </p>
            </div>
            <div class="py-2">
              <p class="text-sm md:text-md lg:text-lg text-gray-500">
                Пройдя профориентационный тест ваш ребенок получит:
              </p>
              <div class="my-2">
                <ul class="text-sm md:text-md lg:text-lg text-gray-500 mt-4 lg:mt-5">
                  <li class="mb-2">
                    <fa-icon [icon]="faShieldAlt" class="text-green-400 mr-2"></fa-icon>
                    Станет более самостоятельным и ответственным
                  </li>
                  <li class="mb-2">
                    <fa-icon [icon]="faWandMagicSparkles" class="text-violet-400 mr-2"></fa-icon>
                    Сможет определить свои сильные и слабые стороны, а также интересы
                  </li>
                  <li class="mb-2">
                    <fa-icon [icon]="faBullseye" class="text-orange-400 mr-2"></fa-icon>
                    Поймет, как лучше подготовиться к будущей карьере
                  </li>
                  <li class="mb-2">
                    <fa-icon [icon]="faUserDoctor" class="text-indigo-400 mr-2"></fa-icon>
                    Получит навыки, необходимые для успешной жизни
                  </li>
                  <li class="mb-2">
                    <fa-icon [icon]="faHeart" class="text-rose-400 mr-2"></fa-icon>
                    Получит мотивацию и поддержку
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--О нас-->

</div>
