<div id="front-page" class="bg-white relative">
  <!--Баннер-->
  <div class="section-first-page">
    <div class="container mx-auto relative">
      <div class="grid grid-cols-12 lg:min-h-[800px] items-center">
        <div class="col-span-12 md:col-span-12 lg:col-span-6 order-2 lg:order-1 pb-3">
          <div class="p-3 text-center md:text-left">
            <div class="block md:flex mb-4">
              <button class="inline px-3 py-2 bg-transparent border-[1px] text-sm md:text-md lg:text-lg my-2 text-violet-700 border-violet-700 rounded-full me-1">
                <fa-icon [icon]="faDumbbell" class="mr-1"></fa-icon> > {{"50K_QUESTIONS"|translate}}
              </button>
              <button class="px-3 py-2 bg-transparent border-[1px] text-sm md:text-md lg:text-lg my-2 text-violet-700 border-violet-700 rounded-full me-1">
                <fa-icon [icon]="faFilePen" class="mr-1"></fa-icon>{{"1K_LESSONS"|translate}}
              </button>
              <button class="px-3 py-2 bg-transparent border-[1px] text-sm md:text-md lg:text-lg my-2 text-violet-700 border-violet-700 rounded-full me-1">
                <fa-icon [icon]="faBook" class="mr-1"></fa-icon> {{"16_SUBJECTS"|translate}}
              </button>
            </div>
            <p class="text-xl sm:text-2xl lg:text-4xl xl:text-6xl font-semibold mb-4"
              [innerHTML]="'EASY_PASS_WITH_IU'|translate"
            >
            </p>
            <p class="text-sm sm:text-lg md:text-xl my-3">
              {{"EASY_PASS_WITH_IU_SUBTITLE"|translate}}
            </p>
            <ul class="text-sm md:text-md lg:text-lg text-black mt-4 lg:mt-5">
              <li class="mb-2">
                <fa-icon [icon]="faCheck" class="text-violet-400 mr-2"></fa-icon>
                  {{"THE_MOST_ACTUAL_QUESTIONS"|translate}}
              </li>
              <li class="mb-2">
                <fa-icon [icon]="faCheck" class="text-violet-400 mr-2"></fa-icon>
                {{"LEARN_WHEN_COMFORTABLE"|translate}}
              </li>
              <li class="mb-2">
                <fa-icon [icon]="faCheck" class="text-violet-400 mr-2"></fa-icon>
                  {{"IU_REPLACE_TUTOR"|translate}}
              </li>
              <li class="mb-2">
                <fa-icon [icon]="faCheck" class="text-violet-400 mr-2"></fa-icon>
                  {{"PLAY_AND_COMPETE_WITH_FRIENDS"|translate}}
              </li>
            </ul>
            <a
              routerLink="{{getRouteStart()}}" class="gradient-violet-button px-10 py-3 rounded-lg text-white my-3 inline-block">
              {{"GO_LAUNCH"|translate}}
              <fa-icon [icon]="faRocket"></fa-icon>
            </a>
          </div>
        </div>
        <div class="col-span-12 md:col-span-12 lg:col-span-6 order-1 lg:order-2 h-full flex justify-center items-center">
          <div class="rocket-league">
            <div class="planet">
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
            <div class="rocket relative">
              <img src="assets/images/single_subject.webp" class="absolute max-h-[50px] sm:max-h-[75px] md:max-h-[100px] xl:max-h-[150px] bottom-[20%] sm:bottom-[12%] md:bottom-[15%] left-[8%] sm:left-[12%] md:left-[15%] rotate-[270deg]"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Баннер-->
  <!--Сервисы-->
  <div #serviceEl data-aos-duration="1500" data-aos="zoom-in" class="section-second-page bg-white py-4 my-4 lg:my-[50px] block">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12">
        <div class="col-span-12 text-left">
          <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
            - {{"OUR_SERVICES"|translate}}
          </p>
          <p class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present"
              [innerHTML]="'REVEAL_YOUR_POTENTIAL'|translate"
          >
          </p>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-5 my-5">
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-6">
          <div
            class="card-service h-full rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-[#363636] relative">
            <div class="text-left w-full xl:w-2/4">
              <p class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold text-white"
                  [innerHTML]="'UNT_TRAINER'|translate"
              >
              </p>
              <p class="mt-3 text-md font-regular text-white">
                {{"UNT_TRAINER_TEXT"|translate}}
              </p>
            </div>
            <button routerLink="{{getRouteStart()}}" class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">{{"START"|translate}}</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>

            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[250px]"
                 src="assets/images/icons/unt.webp"/>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-6">
          <div
            class="card-service h-full rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-orange-300 relative">
            <div class="text-left w-full xl:w-2/4">
              <p
                class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold"
                [innerHTML]="'PREPARE_BY_STEP'|translate"
              >
              </p>
              <p class="mt-3 text-md font-regular text-gray-600">
                {{"PREPARE_BY_STEP_TEXT"|translate}}
              </p>
            </div>
            <button routerLink="{{getRouteStart()}}" class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">{{"START"|translate}}</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[250px]"
                 src="assets/images/icons/content.webp"/>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-4">
          <div
            class="card-service h-full rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-orange-300 relative">
            <div class="text-left w-full">
              <p
                class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold"
                [innerHTML]="'PROFORIENTATION_QUIZ'|translate"
              >
              </p>
              <p class="mt-3 text-md font-regular text-gray-600">
                {{"PROFORIENTATION_QUIZ_TEXT"|translate}}
              </p>
            </div>
            <button routerLink="{{getRouteStart()}}" class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">{{"START"|translate}}</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[150px]"
                 src="assets/images/briefcase.webp"/>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-4">
          <div
            class="card-service h-full rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-[#363636] relative">
            <div class="text-left w-full text-white">
              <p
                class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold"
                [innerHTML]="'GAME_MECHANICS'|translate"
              >
              </p>
              <p
                class="mt-3 text-md font-regular"
                [innerHTML]="'GAME_MECHANICS_TEXT'|translate"
              >

              </p>
            </div>
            <button routerLink="{{getRouteStart()}}" class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">{{"START"|translate}}</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[150px]"
                 src="assets/images/icons/gamepad.webp"/>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-6 xl:col-span-4">
          <div
            class="card-service h-full rounded-xl p-4 min-h-[400px] w-full cursor-pointer bg-orange-300 relative">
            <div class="text-left w-full">
              <p class="mt-3 mb-2 text-lg xl:text-2xl 2xl:text-4xl font-semibold"
                  [innerHTML]="'FULL_STAT'|translate"
              >
              </p>
              <p class="mt-3 text-md font-regular text-gray-600">
                {{"FULL_STAT_TEXT"|translate}}
              </p>
            </div>
            <button routerLink="{{getRouteStart()}}" class="more-info-button">
              <span class="more-info-button-content">
                <span class="hidden md:inline">{{"START"|translate}}</span>
                <fa-icon [icon]="faChevronRight" class="md:ml-1"></fa-icon></span>
            </button>
            <img class="w-full absolute bottom-2 right-2 max-w-[150px] xl:max-w-[150px]"
                 src="assets/images/stats.webp"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Сервисы-->
  <!--Бесплатный период-->
  <div data-aos-duration="1500" data-aos="zoom-in-up" class="section-second-page bg-white py-4 my-4 lg:my-[50px] block">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12 gap-5 my-5">
        <div class="col-span-12 md:col-span-6 flex items-center">
          <div>
            <div>
              <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
                - {{"ACT_NOW"|translate}}
              </p>
              <p
                [innerHTML]="'OPEN_FREE_NOW'|translate"
                class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present">
              </p>
            </div>
            <ul class="text-lg xl:text-2xl text-gray-500 mt-4 lg:mt-5">
              <li class="mb-8 flex items-center">
                {{"GET_FULL_ACCESS"|translate}}
              </li>
              <li class="mb-4 flex items-center">
                <div class="h-6 w-6 min-w-[24px] font-bold rounded-full bg-black flex justify-center items-center text-white text-sm mr-2">1</div>
                {{"REGISTER_ON_PLATFORM"|translate}}
              </li>
              <li class="mb-4 flex items-center">
                <div class="h-6 w-6 min-w-[24px] font-bold rounded-full bg-black flex justify-center items-center text-white text-sm mr-2">2</div>
                {{"CONFIRM_YOUR_ACCOUNT"|translate}}
              </li>
              <li class="mb-4 flex items-center">
                <div class="h-6 w-6 min-w-[24px] font-bold rounded-full bg-black flex justify-center items-center text-white text-sm mr-2">3</div>
                {{"GET_FULL_POWER"|translate}}
              </li>
            </ul>
            <a routerLink="{{getRouteStart()}}" class="gradient-violet-button px-10 py-3 rounded-lg text-white my-3 inline-block">
              {{"GO_LAUNCH"|translate}}
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
          </div>

        </div>
        <div class="col-span-12 md:col-span-6 flex justify-center items-center">
          <img class="max-h-[400px]" src="assets/images/screen-demo.png">
        </div>
      </div>
    </div>
  </div>
  <!--Бесплатный период-->
  <!--На кого нацелены-->
  <div data-aos-duration="1500" data-aos="zoom-in-up" class="bg-white py-4 my-4 lg:my-[50px] block relative">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-12 mb-2 text-left">
          <p
            class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase"
            [innerHTML]="'IU_YOUR_ADVISOR'|translate">
          </p>
          <p
            class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present lg:w-6/12"
            [innerHTML]="'IU_YOUR_ADVISOR_TEXT'|translate">
          </p>
        </div>
        <div class="col-span-12">
          <div class="">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="for-who-tab"
                data-tabs-toggle="#for-who-tab-content" role="tablist">
              <li class="mr-[0.2px] sm:me-2" role="presentation">
                <button class="inline-block
                        p-4 text-md md:text-lg lg:text-xl xl:text-2xl rounded-t-xl
                        aria-selected:bg-violet-700 aria-selected:border-none aria-selected:text-white aria-selected:hover:text-white"
                        style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid"
                        id="student-tab"
                        data-tabs-target="#student"
                        type="button"
                        role="tab"
                        aria-controls="student"
                        aria-selected="false">
                  {{"PUPILS"|translate}}
                </button>
              </li>
              <li class="mr-[0.2px] sm:me-2" role="presentation">
                <button class="inline-block
                         p-4 text-md md:text-lg lg:text-xl xl:text-2xl rounded-t-xl
                        aria-selected:bg-violet-700 aria-selected:border-none aria-selected:text-white aria-selected:hover:text-white"
                        style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid"
                        id="school-tab"
                        data-tabs-target="#school"
                        type="button"
                        role="tab"
                        aria-controls="school"
                        aria-selected="false">
                  {{"SCHOOLS"|translate}}
                </button>
              </li>
              <li class="mr-[0.2px] sm:me-2" role="presentation">
                <button class="inline-block
                         p-4 text-md md:text-lg lg:text-xl xl:text-2xl rounded-t-xl
                        aria-selected:bg-violet-700 aria-selected:border-none aria-selected:text-white aria-selected:hover:text-white"
                        style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid"
                        id="parents-tab"
                        data-tabs-target="#parents"
                        type="button"
                        role="tab"
                        aria-controls="parents"
                        aria-selected="false">
                  {{"PARENTS"|translate}}
                </button>
              </li>
            </ul>
          </div>
          <!--Для школьников-->
          <div id="student-tab-content" class="bg-violet-700 rounded-b-lg rounded-r-lg ml-[1px]">
            <div class="rounded-lg" id="student" role="tabpanel"
                 aria-labelledby="student-tab">
              <div class="grid grid-cols-12 min-h-[400px] gap-3 md:gap-5">
                <div class="col-span-12 sm:col-span-5 lg:px-2 p-4 md:p-6 lg:p-8 xl:p-10  flex justify-center items-start">
                  <div class="content-for-who">
                    <div class="header min-h-[80px] flex items-end">
                      <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                        {{"PUPILS_TITLE"|translate}}
                      </p>
                    </div>
                    <p class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      {{"PUPILS_SUB_TITLE"|translate}}
                    </p>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4 p-4 flex justify-center items-center">
                  <div class="content-for-who">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      {{"WHAT_DO_YOU_GET"|translate}}
                    </p>
                    <ul class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"ALL_SIDE_PREPARATION_TO_UNT"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"CAREER_QUIZZES"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"GAME_MECHANICS_AND_MOTIVATION"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"INTERACT_SOCIETY"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"FULL_ACCESS_STAT"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"PERSONAL_EDUCATION"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"OPPORTUNITY_TO_WIN_PRISE"|translate}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-3 lg:px-2">
                  <div class="content-for-who flex justify-center items-end h-full">
                    <img class="max-h-[300px] md:max-h-[450px]" src="assets/images/student.webp"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Для школьников-->
          <!--Для школ-->
          <div id="school-tab-content" class="bg-violet-700 rounded-b-lg ml-[1px]">
            <div class="hidden rounded-lg" id="school" role="tabpanel"
                 aria-labelledby="school-tab">
              <div class="grid grid-cols-12 min-h-[400px] gap-3 md:gap-5">
                <div class="col-span-12 p-4 md:p-6 lg:p-8 xl:p-10 sm:col-span-5 lg:px-2 flex justify-center items-start">
                  <div class="content-for-who ">
                    <div class="header min-h-[120px] flex items-end">
                      <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                          {{"OUR_PLATFORM_IS_TOOL"|translate}}
                      </p>
                    </div>
                    <p class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      {{"OUR_PLATFORM_IS_TOOL_TITLE"|translate}}
                    </p>
                  </div>
                </div>
                <div class="col-span-12 p-4 sm:col-span-4 lg:px-2 flex justify-center items-center">
                  <div class="content-for-who">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      {{"WHAT_DO_YOU_GET"|translate}}
                    </p>
                    <ul class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"TEACHER_CABINETS"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"CREATE_AND_CONTROL_CLASSROOMS"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"MONITOR_SUCCESS_IN_EDUCATION"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"DIRECT_PUPILS_TO_EXAM"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"ADAPT_EDUCATION"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"RESOURCE_AND_SUPPORT"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"PROFESSIONAL_DEVELOPMENT"|translate}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-3 lg:px-2">
                  <div class="content-for-who flex justify-center items-end h-full">
                    <img class="max-h-[300px] md:max-h-[450px]" src="assets/images/teacher_1.webp"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Для школ-->
          <!--Для родителей-->
          <div id="parents-tab-content" class="bg-violet-700 rounded-b-lg ml-[1px]">
            <div class="hidden rounded-lg" id="parents" role="tabpanel"
                 aria-labelledby="parents-tab">
              <div class="grid grid-cols-12 min-h-[400px] gap-3 md:gap-5">
                <div class="col-span-12 sm:col-span-5 p-4 md:p-6 lg:p-8 xl:p-10 lg:px-2 flex justify-center items-start">
                  <div class="content-for-who ">
                    <div class="header min-h-[120px] flex items-end">
                      <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                        {{"FINDING_A_WAY_TO_HELP_TO_YOUR_CHILD"|translate}}
                      </p>
                    </div>
                    <p class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      {{"PARENT_SUBTITLE"|translate}}
                    </p>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-4 p-4 flex justify-center items-center">
                  <div class="content-for-who">
                    <p class="text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-white font-semibold">
                      {{"WHAT_DO_YOU_GET"|translate}}
                    </p>
                    <ul class="text-sm md:text-md xl:text-lg text-white mt-4 lg:mt-5">
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"YOUR_CHILD_STAT"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"PROFORIENTATION_SUPPORT"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"PARTICIPATE_IN_EDUCATION"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"MESSAGE_ABOUT_STATE"|translate}}
                      </li>
                      <li class="font-semibold mb-2">
                        <fa-icon [icon]="faCheckCircle" class="text-orange-400 font-semibold mr-2"></fa-icon>
                        {{"FLEXIBILITY_AND_COMFORT"|translate}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-span-12 sm:col-span-3 lg:px-2">
                  <div class="content-for-who flex justify-center items-end h-full">
                    <img class="max-h-[300px] md:max-h-[450px]" src="assets/images/parents.webp"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Для родителей-->
        </div>
      </div>
    </div>
  </div>
  <!--На кого нацелены-->
  <!--Стоимость-->
  <div
    #priceEl
    data-aos="fade-right"
    data-aos-duration="1500"
    data-aos-easing="ease-in-sine"
    class="bg-white py-4 my-4 lg:my-[50px] block relative">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12 gap-3">
        <div class="col-span-12 mb-2 text-left">
          <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
            {{"INVEST_IN_YOUR_CHILD_WITHOUT_EXTRA_PAY"|translate}}
          </p>
          <p
            class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present lg:w-6/12"
            [innerHTML]="'PRICE_TITLE'|translate"
          >
          </p>
        </div>
        <div class="col-span-12" *ngIf="plans[activePlanId]">
          <div class="grid grid-cols-12 ticket-card-plan rounded-tr-xl rounded-xl border md:border-none bg-white relative overflow-hidden">
              <div class="absolute hidden sm:block right-0 top-0 h-16 w-16">
                <div
                  class="absolute transform rotate-45 bg-orange-400 text-center text-white font-semibold py-1 right-[-35px] top-[32px] w-[170px]">
                  {{plans[activePlanId].months}}
                </div>
              </div>
            <div class="col-span-12 md:col-span-3 lg:col-span-3 md:py-0 flex justify-center items-center bg-[#18181b] relative">
              <div class="flex justify-between md:block md:w-[80%] items-center">
                <button
                  (click)="selectActivePlan(1)"
                  class="border-2 block text-sm m-1 sm:text-lg md:text-xl xl:text-2xl md:my-4 sm:w-full sm:m-2 px-2 py-2 sm:px-4 sm:py-2 border-orange-400 rounded-full text-orange-400 hover:bg-orange-400 hover:text-white duration-[250ms]"
                  [ngClass]="{'bg-orange-400 text-white':activePlanId == 1,'bg-[#18181b]':activePlanId != 1}"
                >
                  {{"1_MONTH"|translate}}
                </button>
                <button
                  (click)="selectActivePlan(2)"
                  class="border-2 block text-sm m-1 sm:text-lg md:text-xl xl:text-2xl md:my-4 sm:w-full sm:m-2 px-2 py-2 sm:px-4 sm:py-2 border-orange-400 rounded-full text-orange-400 hover:bg-orange-400 hover:text-white duration-[250ms]"
                  [ngClass]="{'bg-orange-400 text-white':activePlanId == 2, 'bg-[#18181b]':activePlanId != 2}"
                >
                  {{"3_MONTHS"|translate}}
                </button>
                <button
                  (click)="selectActivePlan(3)"
                  class="border-2 block text-sm m-1 sm:text-lg md:text-xl xl:text-2xl md:my-4 sm:w-full sm:m-2 px-2 py-2 sm:px-4 sm:py-2 border-orange-400 rounded-full text-orange-400 hover:bg-orange-400 hover:text-white duration-[250ms]"
                  [ngClass]="{
                  'bg-orange-400 text-white':activePlanId == 3,
                  'bg-[#18181b]':activePlanId != 3
                  }"
                >
                  {{"6_MONTHS"|translate}}
                </button>
              </div>
              <div class="hidden md:block justify-between sm:left-[-35%] md:left-[-30%] lg:left-[-25%] xl:left-[-15%] absolute items-center">
                <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" class="bg-white w-20 h-20 rounded-full"></div>
              </div>
            </div>
            <div class="col-span-12 md:col-span-3 lg:col-span-3 border-tb-md md:border-solid md:border-dashed md:border-[#18181b] md:border-r-[3px] relative">
              <div class="flex h-full justify-center items-center" *ngIf="plans[activePlanId]">
                <img class="max-h-[300px] lg:max-h-[400px]" src="{{plans[activePlanId].image}}"/>
              </div>
              <div class="hidden md:block w-16 h-16 bg-orange-400 rounded-full absolute top-[-35px] right-[-35px]"></div>
              <div class="hidden md:block w-16 h-16 bg-orange-400 rounded-full absolute bottom-[-35px] right-[-35px]"></div>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-6 md:border-[#18181b] md:border-r md:border-t md:border-b md:rounded-tr-xl md:rounded-br-xl p-4 md:p-6 lg:p-8 xl:p-12">
              <b class="block text-orange-400 text-lg lg:text-xl xl:text-2xl 2xl:text-4xl mb-4">
                {{plans[activePlanId].title | translate}}
              </b>
              <p class="text-md lg:text-lg mb-4 text-gray-400 font-normal text-present">
                {{"OUR_PRICING_POLICY" | translate}}
              </p>
              <ul class="text-sm md:text-md lg:text-lg text-gray-500 mt-4 lg:mt-5">
                <li class="mb-2" *ngFor="let description of plans[activePlanId].description">
                  <fa-icon [icon]="faCheck" class="text-orange-300 mr-2"></fa-icon>
                  {{description|translate}}
                </li>
              </ul>
              <div class="py-5 text-right">
                <b class="block text-orange-400 text-xl lg:text-2xl xl:text-4xl 2xl:text-6xl mb-4">
                  {{plans[activePlanId].price}} KZT <span *ngIf="plans[activePlanId].old_price">/
                  <span class="text-md lg:text-lg xl:text-xl 2xl:text-2xl line-through text-rose-700">
                    {{plans[activePlanId].old_price}} KZT
                  </span>
                </span>
                </b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-[30px]">
      <ngx-slick-carousel class="carousel"
                          [config]="subjectCarouselConfig">
        <div ngxSlickItem *ngFor="let subject of subjects" class="slide cursor-pointer relative">
          <div class="flex justify-center items-center border rounded-full p-3 min-w-[150px] min-h-[75px] lg:min-h-[80px] h-full mx-2"
               style="border: 1px solid {{subject.color}}"
          >
            <div class="w-1/3 min-w-[50px]">
              <img class="w-8 h-8 lg:w-12 lg:h-12 rounded-full" src="{{ImageHelper.getImage(subject.url)}}"/>
            </div>
            <p class="w-2/3 text-md lg:text-lg font-bold text-center pr-2">
              {{subject | globalTranslate:'title':translate.currentLang}}
            </p>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>

  </div>
  <!--Стоимость-->
  <!--Демоверсия-->
  <div
    data-aos="fade-up"
    data-aos-duration="1500"
    class="section-second-page bg-white py-4 my-4 lg:my-[50px] block ">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12">
        <div class="col-span-12 text-left">
          <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
            {{"ALWAYS_WITH_YOU"|translate}}
          </p>
          <p
            [innerHTML]="'IU_ALWAYS_WITH_YOU'|translate"
            class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present lg:w-6/12">
          </p>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-5 my-5">
        <div class="col-span-12 flex justify-center items-center">
          <img class="w-full" src="assets/images/demo-laptop.png">
        </div>
      </div>
    </div>
  </div>
  <!--Демоверсия-->
  <!--Преимущества-->
  <div #advantageEl data-aos-duration="1500" data-aos="zoom-out-left" data-aos-offset="300" class="section-second-page bg-white py-4 my-4 lg:my-[50px] block">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12">
        <div class="col-span-12 text-left">
          <p class="text-sm md:text-md lg:text-lg my-3 text-gray-400 uppercase">
            {{"SAVE_AND_EARN_MONEY"|translate}}
          </p>
          <p
            [innerHTML]="'SAVE_AND_EARN_MONEY_SUBTITLE'|translate"
            class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present lg:w-6/12">
          </p>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-5 my-5">
        <div class="col-span-12 sm:col-span-4">
          <div class="sm:min-h-[80px] lg:min-h-[120px]">
            <p
              class="mt-3 mb-2 text-lg lg:text-xl xl:text-3xl 2xl:text-4xl font-semibold"
              [innerHTML]="'SAVE_ON_BOOK_TITLE'|translate">
            </p>
            <p class="mt-3 mb-2 text-lg lg:text-xl xl:text-2xl font-semibold">
              {{"SAVE_ON_BOOK_SUB_TITLE"|translate}}
            </p>
          </div>
          <p class="mt-5 text-md lg:text-lg font-regular text-gray-600 border-l-[4px] border-orange-400 pl-2">
            {{"SAVE_ON_BOOK_TEXT"|translate}}
          </p>
        </div>
        <div class="col-span-12 sm:col-span-4">
          <div class="sm:min-h-[80px] lg:min-h-[120px]">
            <p
              class="mt-3 mb-2 text-lg lg:text-xl xl:text-3xl 2xl:text-4xl font-semibold"
              [innerHTML]="'SAVE_ON_TUTOR_TITLE'|translate"
            >

            </p>
            <p class="mt-3 mb-2 text-lg lg:text-xl xl:text-2xl font-semibold">
              {{"SAVE_ON_TUTOR_SUB_TITLE"|translate}}
            </p>
          </div>
          <p class="mt-5 text-md lg:text-lg font-regular text-gray-600 border-l-[4px] border-orange-400 pl-2">
            {{"SAVE_ON_TUTOR_TEXT"|translate}}
          </p>
        </div>
        <div class="col-span-12 sm:col-span-4">
          <div class="sm:min-h-[80px] lg:min-h-[120px]">
            <p
              [innerHTML]="'EARN_MONEY_TITLE'|translate"
              class="mt-3 mb-2 text-lg lg:text-xl xl:text-3xl 2xl:text-4xl font-semibold">

            </p>
            <p class="mt-3 mb-2 text-lg lg:text-xl xl:text-2xl font-semibold">
              {{"EARN_MONEY_SUB_TITLE"|translate}}
            </p>
          </div>

          <p class="mt-5 text-md lg:text-lg font-regular text-gray-600 border-l-[4px] border-orange-400 pl-2">
            {{"EARN_MONEY_TEXT"|translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Преимущества-->
  <!--Партнеры-->
  <div #partnersEl data-aos-duration="1500" data-aos="zoom-out-up" class="section-second-page bg-white py-4 my-4 lg:my-[50px] block">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12 gap-5 my-5">
        <div class="col-span-12 p-4 md:p-6 lg:p-8 xl:p-12 rounded-xl bg-orange-300 text-black">
            <div class="mb-5 md:mb-10">
              <p
                [innerHTML]="'PARTNERSHIP_TITLE'|translate"
                class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present lg:w-6/12">
              </p>
            </div>
            <div class="grid grid-cols-12 gap-5 my-5">
              <div class="col-span-12 sm:col-span-6 xl:col-span-4 bg-white rounded-xl min-h-[100px] sm:min-h-[200px] md:min-h-[250px] 2xl:min-h-[350px] p-4">
                <p
                  [innerHTML]="'BECOME_PARTNER'|translate"
                  class="mt-3 mb-2 text-lg lg:text-xl xl:text-3xl 2xl:text-4xl font-semibold">
                </p>
                <p class="mt-5 text-md lg:text-lg font-regular text-gray-600 border-l-[4px] border-orange-400 pl-2">
                  {{"BECOME_PARTNER_TEXT"|translate}}
                </p>
              </div>
              <div class="col-span-12 sm:col-span-6 xl:col-span-4 bg-white rounded-xl min-h-[100px] sm:min-h-[200px] md:min-h-[250px] 2xl:min-h-[350px] p-4">
                <p
                  [innerHTML]="'DEVELOP_COMMON_PROJECT'|translate"
                  class="mt-3 mb-2 text-lg lg:text-xl xl:text-3xl 2xl:text-4xl font-semibold">
                </p>
                <p class="mt-5 text-md lg:text-lg font-regular text-gray-600 border-l-[4px] border-orange-400 pl-2">
                    {{"DEVELOP_COMMON_PROJECT_TEXT"|translate}}
                </p>
              </div>
              <div class="col-span-12 sm:col-span-6 xl:col-span-4 bg-white rounded-xl min-h-[100px] sm:min-h-[200px] md:min-h-[250px] 2xl:min-h-[350px] p-4">
                <p
                  [innerHTML]="'EXTEND_OPPORTUNITY'|translate"
                  class="mt-3 mb-2 text-lg lg:text-xl xl:text-3xl 2xl:text-4xl font-semibold">
                </p>
                <p class="mt-5 text-md lg:text-lg font-regular text-gray-600 border-l-[4px] border-orange-400 pl-2">
                  {{"EXTEND_OPPORTUNITY_TEXT"|translate}}
                </p>
              </div>
            </div>
          <div class="grid grid-cols-12 justify-center  gap-5 my-5 py-2">
            <div
              *ngFor="let partner of partners"
              class="col-span-4 sm:col-span-3 hover:scale-110 md:col-span-3 lg:col-span-2 bg-white rounded-xl min-h-[75px] sm:min-h-[100px] md:min-h-[150px]  2xl:min-h-[200px] flex justify-center items-center p-4 cursor-pointer"
              style="transition: transform 0.4s ease;"
            >
              <img class="max-w-full" src="{{partner}}"/>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
  <!--Партнеры-->
  <!--Контакты-->
  <div #contactEl data-aos-duration="1500" data-aos="zoom-out-right" class="section-second-page bg-white py-4 my-4 lg:my-[50px] block">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12 gap-5 my-5">
        <div class="col-span-12 lg:col-span-4 lg:px-2 flex justify-center items-center">
          <div>
            <p class="text-lg md:text-2xl lg:text-4xl text-orange-400 mb-4 text-present font-bold">
              {{"HAVE_A_QUESTION"|translate}}
            </p>
            <p class="text-md md:text-xl lg:text-2xl mb-4 text-present">
              {{"HAVE_A_QUESTION_TEXT"|translate}}
            </p>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-4 lg:px-2 flex justify-center items-center">
          <div>
            <img class="w-full" src="assets/images/tech-support.gif"/>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-4 lg:px-2 flex justify-center items-center form-container">
          <form class="form shadow-lg">
            <p class="title text-lg lg:text-xl xl:text-2xl text-violet-700">{{"SEND_MESSAGE_TO_US"|translate}}</p>
            <p class="message">
              {{"OUR_MANAGER_CALL_YOU"|translate}}
            </p>
            <label>
              <input required placeholder="" type="text" class="input">
              <span>{{"NAME"|translate}}</span>
            </label>
            <label>
              <input required placeholder="" type="email" class="input">
              <span>Email</span>
            </label>
            <label>
              <input required placeholder="" type="text" class="input">
              <span>{{"PHONE"|translate}}</span>
            </label>
            <label>
              <textarea required placeholder="" type="text" class="input"></textarea>
              <span>
                {{"YOUR_MESSAGE"|translate}}
              </span>
            </label>
            <button class="submit">{{"SEND_BUTTON"|translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Контакты-->
  <!--Сервисы-->
  <div data-aos-duration="1500" data-aos="zoom-out-left" class="section-second-page bg-white py-4 lg:mt-[50px] block">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12 mb-10">
        <div class="col-span-12 text-left">
          <p class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold mb-4 text-present">
             <b class="text-orange-400">F.A.Q</b>
          </p>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-5 my-10">
        <div class="col-span-12">
          <div id="accordion-open" data-accordion="open">
            <h2 id="accordion-open-heading-1">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-orange-400 border border-b-0 border-orange-400 rounded-t-xl" data-accordion-target="#accordion-open-body-1" aria-expanded="true" aria-controls="accordion-open-body-1">
                <span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                  {{"QUESTION_1"|translate}}
                </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-open-body-1" class="hidden" aria-labelledby="accordion-open-heading-1">
              <div class="p-5 border border-b-0 border-orange-400">
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                  {{"ANSWER_1"|translate}}
                </p>
              </div>
            </div>
            <h2 id="accordion-open-heading-2">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-orange-400 border border-b-0 border-orange-400 gap-3" data-accordion-target="#accordion-open-body-2" aria-expanded="false" aria-controls="accordion-open-body-2">
                <span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                  {{"QUESTION_2"|translate}}
                </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-open-body-2" class="hidden" aria-labelledby="accordion-open-heading-2">
              <div class="p-5 border border-b-0 border-orange-400">
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                  {{"ANSWER_2"|translate}}
                </p>
              </div>
            </div>
            <h2 id="accordion-open-heading-3">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-orange-400 border border-orange-400" data-accordion-target="#accordion-open-body-3" aria-expanded="false" aria-controls="accordion-open-body-3">
                <span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                  {{"QUESTION_3"|translate}}
                </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-open-body-3" class="hidden" aria-labelledby="accordion-open-heading-3">
              <div class="p-5 border border-t-0 border-orange-400">
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                  {{"ANSWER_3"|translate}}
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!--Сервисы-->
  <div class="right-[15px] bottom-[100px] fixed">
    <div
      [routerLink]="'/dashboard/index'"
      class="rounded-full cursor-pointer neon-border
         h-24 w-24 lg:w-22 lg:h-22 2xl:w-24 2xl:h-24 bg-violet-first-50 main-violet-first-rounded flex justify-center items-center
         hover:bg-orange-400
      ">
      <div class="text-center">
        <img class="max-w-[40%] inline-block" src="assets/images/single_subject.webp"/>
        <p class="text-xs font-bold main-orange-color">{{"GET_A_GRANT"|translate}}</p>
      </div>
    </div>
  </div>
  <div class="scroll-to-top" [ngClass]="{'hidden':!showToUp}">
    <button type="button" class="w-12 h-12 rounded-full bg-orange-400 text-white" data-toggle="button" (click)="scrollToTop()">
      <fa-icon [icon]="faChevronUp"></fa-icon>
    </button>
  </div>
<!--  <app-modal-tournament-banner/>-->

</div>

