
.section-first-page{
  background-image: url("/assets/images/new-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  clip-path:ellipse(100% 65.5% at 50% 40.00%)
}

.gradient-violet-button{
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #2f57ef, #b966e7, #b966e7,#2f57ef);
}
.gradient-violet-button:hover{
  background-color: inherit;
  background-position: 102% 0;
  transition: all 0.4s ease-in-out;
}

.wiggle-img{
  animation: wiggle 4s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

