<div class="container mx-auto">

  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-12 lg:col-span-6 p-3 h-full">
      <div class="bg-white rounded-2xl shadow-2xl p-3 border-green-300 h-full min-h-[150px] px-3">
        <!--Email input-->
        <div class="relative mb-3">
          <input
            type="email"
            class="peer m-0 block h-[58px] w-full rounded border border-solid border-gray-400 bg-transparent bg-clip-padding px-3 py-4 text-base font-normal transition duration-200 ease-linear placeholder:text-transparent focus:pb-[0.625rem] focus:pt-[1.625rem]  [&:not(:placeholder-shown)]:pb-[0.625rem] [&:not(:placeholder-shown)]:pt-[1.625rem]"
            id="email"
            placeholder="Search user by email" />
          <label
            for="email"
            class="pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent px-3 py-4 text-gray-500 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-focus:text-primary peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
            >Search User By Email</label
          >
          <div class="py-3 text-right">
            <a  type="button" class="cursor-pointer text-white main-secondary-bg  focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
              Найти
            </a>
          </div>

          <div class="find-user my-4">
            <div class="flex items-center gap-4">
              <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2">
              <img class="w-10 h-10 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="">
              <div class="font-medium dark:text-white">
                <div class="text-black">Jese Leos</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">email@gmail.com</div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-span-12 lg:col-span-6 p-3">
      <div class="bg-white rounded-2xl shadow-2xl p-3 border-green-300 h-full min-h-[150px]">
        <!--Email input-->
        <div class="relative mb-3">
          <div class="find-user my-4">
            <div class="flex items-center gap-4">
              <img class="w-10 h-10 rounded-full" src="/assets/images/coin.png" alt="">
              <div class="font-medium">
                <div class="text-xl text-black">Кошелек IU COINS, доступно:</div>
                <div class="text-lg xl:text-2xl 2xl:text-3xl main-green-color font-bold">12500</div>
              </div>
            </div>
          </div>
          <div class="my-2">
            <input
              type="number"
              class="peer m-0 block h-[58px] w-full rounded border border-solid border-gray-400 bg-transparent bg-clip-padding px-3 py-4 text-base font-normal transition duration-200 ease-linear placeholder:text-transparent focus:pb-[0.625rem] focus:pt-[1.625rem]  [&:not(:placeholder-shown)]:pb-[0.625rem] [&:not(:placeholder-shown)]:pt-[1.625rem]"
              id="coins"
              placeholder="IU COINS" />

            <div class="py-3 text-right">
              <a  type="button" class="cursor-pointer text-white main-green-bg  focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                Перевести
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>





  </div>




</div>
