<div class="container mx-auto">

  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-12 lg:col-span-6 p-3 h-full">
      <div class="bg-white rounded-2xl shadow-2xl p-3 border-green-300 h-full min-h-[150px] px-3">
        <!--Email input-->
        <div class="relative mb-3">
          <form [formGroup]="findUserForm">
            <app-input-field
              [formControlName]="'email'"
              [input_name]="'email'"
              [type]="'email'"
              [placeholder]="'EMAIL' | translate"
              [label]="'EMAIL' | translate"
              [error_message]="'email_is_not_right'"
              [backErrors]="errors"
              ngDefaultControl
            />
          <div class="py-3 text-right">
            <a *ngIf="findUserForm.valid" (click)="findUserByEmail()"  type="button" class="cursor-pointer text-white main-secondary-bg  focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
              {{"SEARCH"|translate}}
            </a>
          </div>
          </form>

          <div class="find-user my-4" *ngIf="toUser">
            <div class="flex items-center gap-4">
              <input id="default-checkbox"
                     [ngModel]="toUser.id"
                     (ngModelChange)="selectUser(toUser.id)"
                     type="checkbox"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2">
              <div class="rounded-full w-10 h-10 bg-center bg-no-repeat bg-cover" [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(toUser.file?.url) +')'}"></div>
              <div class="font-medium dark:text-white">
                <div class="text-black">{{toUser.name}}</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">{{toUser.email}}</div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-span-12 lg:col-span-6 p-3" *ngIf="toUserId && toUser">
      <div class="bg-white rounded-2xl shadow-2xl p-3 border-green-300 h-full min-h-[150px]">
        <!--Email input-->
        <div class="relative mb-3">
          <div class="find-user my-4">
            <div class="flex items-center gap-4">
              <img class="w-10 h-10 rounded-full" src="/assets/images/coin.webp" alt="">
              <div class="font-medium" *ngIf="balance">
                <div class="text-xl text-black">{{"AVAILABLE_ON_WALLET"|translate}}</div>
                <div class="text-lg xl:text-2xl 2xl:text-3xl main-green-color font-bold">{{balance}}</div>
              </div>
            </div>
          </div>
          <div class="my-2">
            <form [formGroup]="walletTransferGroup">
              <app-input-field
                [formControlName]="'amount'"
                [input_name]="'amount'"
                [type]="'number'"
                [placeholder]="'IU COINS' | translate"
                [label]="'IU COINS' | translate"
                [error_message]="'amount_is_not_right'"
                [backErrors]="errors"
                ngDefaultControl
              />
              <div class="py-3 text-right" *ngIf="walletTransferGroup.valid">
                <a (click)="showModal()" type="button" class="cursor-pointer text-white main-green-bg  focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                  {{"TRANSFER_ACTION"|translate}}
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12 bg-white gap-3" *ngIf="openModal && toUserId && walletTransferGroup.valid && toUser">
    <div class="col-span-12 lg:col-span-6 xl:col-span-5">
      <div class="bg-white rounded-2xl shadow-2xl p-5 border-green-300 h-full min-h-[150px] flex items-center justify-center">
        <div class="p-3">
          <img class="w-16 h-16 rounded-full" src="/assets/images/coin.webp" alt="">
        </div>
        <div class="p-3">
          <div class="transfer-header text-md lg:text-lg font-bold body-text my-2">
            {{"YOU_TRANSFER"|translate}}
          </div>
          <div class="text-lg xl:text-2xl 2xl:text-3xl main-green-color font-bold">
            {{walletTransferGroup.controls["amount"].getRawValue()}} IU COINS
          </div>
        </div>
      </div>
    </div>
    <div class="hidden xl:block xl:col-span-2">
      <div class="bg-white rounded-2xl shadow-2xl p-3 border-green-300 h-full min-h-[150px] px-3 text-center flex items-center justify-center">
        <fa-icon [icon]="faArrowsRotate" class="main-green-color text-xl lg:text-2xl xl:text-4xl 2xl:text-6xl font-bold"></fa-icon>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-5">
      <div class="bg-white rounded-2xl shadow-2xl p-5 border-green-300 h-full min-h-[150px] flex items-center justify-center">
        <div class="p-3">
          <div class="rounded-full w-16 h-16 bg-center bg-no-repeat bg-cover" [ngStyle]="{'background-image':'url('+ ImageHelper.getImage(toUser.file?.url) +')'}"></div>
        </div>
        <div class="p-3">
          <div class="transfer-header text-md lg:text-lg font-bold body-text my-2">
            {{"TRANSFER_TO_USER"|translate}}
          </div>
          <div class="text-lg xl:text-2xl 2xl:text-3xl main-green-color font-bold">
            <div class="text-black">{{toUser.name}}</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">{{toUser.email}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 text-center p-3">
      <a (click)="walletTransfer()" type="button" class="shadow-2xl cursor-pointer text-white main-green-bg  focus:outline-none focus:ring-4 font-bold rounded-full text-lg px-10 py-4 text-center">
        {{"TRANSFER_ACTION"|translate}}
      </a>
    </div>

  </div>




</div>
