<div class="container mx-auto">
  <div class="grid grid-cols-12 py-2 my-3 bg-violet-orange-first rounded-2xl">
    <div class="col-span-12 md:col-span-6 px-5 md:flex items-center text-center md:text-left">
      <div class="px-3 md:px-4 lg:px-5">
        <p class="text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl text-white font-bold">
          {{"PARTICIPATE_AND_WIN"|translate}}
        </p>
        <div class="my-4">
          <div class="flex items-center my-2">
            <div class="w-8 h-8 border border-white p-2 rounded-full min-w-8 flex justify-center items-center">
              <fa-icon [icon]="faLanguage" class="text-sm md:text-md lg:text-lg text-white my-2 px-1"></fa-icon>
            </div>
            <p class="text-sm md:text-md lg:text-lg xl:text-xl text-white my-2 px-1">
              {{"SUPPORT_MULTI_LANGUAGE"|translate}}
            </p>
          </div>
          <div class="flex items-center my-2">
            <div class="w-8 h-8 border border-white p-2 rounded-full min-w-8 flex justify-center items-center">
              <fa-icon [icon]="faBook" class="text-sm md:text-md lg:text-lg text-white my-2 px-1"></fa-icon>
            </div>
            <p class="text-sm md:text-md lg:text-lg xl:text-xl text-white my-2 px-1">
              {{"TOURNAMENT_SIXTEEN_SUBJECTS"|translate}}
            </p>
          </div>
          <div class="flex items-center my-2">
            <div class="w-8 h-8 border border-white p-2 rounded-full min-w-8 flex justify-center items-center">
              <fa-icon [icon]="faUsers" class="text-sm md:text-md lg:text-lg text-white my-2 px-1"></fa-icon>
            </div>
            <p class="text-sm md:text-md lg:text-lg xl:text-xl text-white my-2 px-1">
              {{"PARTICIPANTS_LIMIT"|translate}}
            </p>
          </div>
          <div class="flex items-center my-2">
            <div class="w-8 h-8 border border-white p-2 rounded-full min-w-8 flex justify-center items-center">
              <fa-icon [icon]="faGift" class="text-sm md:text-md lg:text-lg text-white my-2 px-1"></fa-icon>
            </div>
            <p class="text-sm md:text-md lg:text-lg xl:text-xl text-white my-2 px-1">
              {{"TOURNAMENT_PRISE_AND_AWARD"|translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 order-1 md:order-2">
      <div class="flex justify-center items-center">
        <img class="sm:max-w-[320px] md:max-w-[380px] lg:max-w-[460px]" src="assets/images/tournament.webp"/>
      </div>
    </div>

  </div>

  <div class="grid grid-cols-12 py-5 my-3 rounded-2xl">

    <div class="col-span-12 tournament-list-50 rounded-xl shadow-lg">
      <div class="p-4">
        <!--Tabs navigation-->
        <ul
          class="mb-5 flex list-none flex-row flex-wrap border-b-0 pl-0"
          role="tablist"
          data-te-nav-ref>
          <li role="presentation">
            <a
              class="cursor-pointer my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight hover:isolate focus:isolate focus:border-transparent text-white data-[te-nav-active]:border-[#b37cc4]"
              data-te-toggle="pill"
              data-te-target="#tabs-current"
              data-te-nav-active
              role="tab"
              aria-controls="tabs-current"
              aria-selected="true"
            >{{ "CURRENT"|translate}}</a>
          </li>
          <li role="presentation">
            <a
              href="#tabs-profile"
              class="cursor-pointer my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight hover:isolate focus:isolate focus:border-transparent text-white data-[te-nav-active]:border-[#b37cc4]"
              data-te-toggle="pill"
              data-te-target="#tabs-participated"
              role="tab"
              aria-controls="tabs-participated"
              aria-selected="false">
              {{ "PARTICIPATED"|translate}}
            </a>
          </li>
        </ul>

        <!--Tabs content-->
        <div class="mb-6" *ngIf="tournaments">
          <div
            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-current"
            role="tabpanel"
            aria-labelledby="tabs-home-tab"
            data-te-tab-active>
            <div class="grid grid-cols-12 p-3 gap-2"  *ngIf="tournaments.open">
              <div class="col-span-12 md:col-span-4" *ngFor="let open_tournament of tournaments.open">
                <div class="card min-h-[300px]  rounded-2xl main-violet-first-rounded relative shadow-2xl cursor-pointer" [routerLink]="['/'+RoutesName.tournamentDetail + '/' + open_tournament.id ]">
                    <div class="absolute rounded-2xl z-10  h-full brightness-50 w-full bg-cover bg-center bg-no-repeat" [ngStyle]="{'background-image':'url(' + ImageHelper.getImage(open_tournament!.file!.url) + ')'}"></div>
                    <div class="text-center md:text-left z-20 absolute left-3 bottom-4 font-bold w-full">
                      <p class="text-white text-lg  my-2 px-1">{{open_tournament.title_ru}}</p>
                      <p class="text-white text-sm  my-2 px-1">
                        <fa-icon [icon]="faBook" class="ml-2"></fa-icon>
                        {{open_tournament.subject|globalTranslate:'title':translate.currentLang}}
                      </p>
                      <p class="text-sm text-white my-2 px-1">
                        <fa-icon [icon]="faClock" class="ml-2"></fa-icon> {{moment(open_tournament.start_at).format('DD/MM/YYYY HH:mm')}} - {{moment(open_tournament.end_at).format('DD/MM/YYYY HH:mm')}}
                      </p>
                      <p class="text-white text-sm  my-2 px-1">
                        <fa-icon [icon]="faMoneyBill" class="ml-2"></fa-icon>
                        {{open_tournament.price}}{{open_tournament.currency}}
                      </p>
                      <div class="text-right w-full px-3">
                        <a [routerLink]="['/'+RoutesName.tournamentDetail + '/' + open_tournament.id ]" type="button" class="uppercase font-bold main-violet-first-rounded bg-violet-first inline-block cursor-pointer text-white  focus:outline-none focus:ring-4 rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                          {{"MORE_INFO"|translate}}
                        </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            </div>
          <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-participated"
            role="tabpanel"
            aria-labelledby="tabs-profile-participated">
            <div class="grid grid-cols-12 p-3 gap-2"  *ngIf="tournaments.participated">
              <div class="col-span-12 md:col-span-4" *ngFor="let participated_tournament of tournaments.participated">
                <div class="card min-h-[300px]  rounded-2xl main-violet-first-rounded relative shadow-2xl cursor-pointer" [routerLink]="['/'+RoutesName.tournamentDetail + '/' + participated_tournament.id ]">
                  <div class="absolute rounded-xl z-10  h-full brightness-50 w-full bg-cover bg-center bg-no-repeat" [ngStyle]="{'background-image':'url(' + ImageHelper.getImage(participated_tournament.file!.url) + ')'}"></div>
                  <div class="text-center md:text-left z-20 absolute left-3 bottom-4 font-bold w-full">
                    <p class="text-white text-lg  my-2 px-1">{{participated_tournament.title_ru}}</p>
                    <p class="text-white text-sm  my-2 px-1">
                      <fa-icon [icon]="faBook" class="ml-2"></fa-icon>
                      {{participated_tournament.subject|globalTranslate:'title':translate.currentLang}}
                    </p>
                    <p class="text-sm text-white my-2 px-1">
                      <fa-icon [icon]="faClock" class="ml-2"></fa-icon> {{moment(participated_tournament.start_at).format('DD/MM/YYYY HH:mm')}} - {{moment(participated_tournament.end_at).format('DD/MM/YYYY HH:mm')}}
                    </p>
                    <p class="text-white text-sm  my-2 px-1">
                      <fa-icon [icon]="faMoneyBill" class="ml-2"></fa-icon>
                      {{participated_tournament.price}}{{participated_tournament.currency}}
                    </p>
                    <div class="text-right w-full px-3">
                      <a [routerLink]="['/'+RoutesName.tournamentDetail + '/' + participated_tournament.id ]" type="button" class="uppercase font-bold main-violet-first-rounded bg-violet-first inline-block cursor-pointer text-white  focus:outline-none focus:ring-4 rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        {{"MORE_INFO"|translate}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>
