/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';
@import "@fortawesome/fontawesome-free/css/all.css";
@import '@angular/cdk/overlay-prebuilt.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
body.dialog-open{overflow:hidden}.nsm-dialog-btn-close{border:0;background:none;position:absolute;top:8px;right:8px;font-size:1.2em;cursor:pointer}.overlay{position:fixed;top:0;bottom:0;left:0;right:0;overflow-x:hidden;overflow-y:auto;transition:background-color 500ms;background-color:rgba(0,0,0,0);z-index:99999}.overlay.nsm-overlay-open{background-color:rgba(0,0,0,.5)}.overlay.transparent{background-color:rgba(0,0,0,0)}.nsm-dialog{position:relative;opacity:1;visibility:visible;min-height:200px;width:100%;max-width:700px;margin:0 auto;pointer-events:none;outline:none}.nsm-dialog.nsm-dialog-close{opacity:0}.nsm-dialog.nsm-centered{display:flex;align-items:center;min-height:calc(100% - 3.5rem)}.nsm-content{position:relative;display:flex;flex-direction:column;pointer-events:auto;background-clip:padding-box;background-color:#fff;border-radius:2px;padding:2rem;margin-top:1.75rem;margin-bottom:1.75rem;margin-left:1.75rem;margin-right:1.75rem;box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);outline:0;transform:translate3d(0, 0, 0)}.nsm-body{position:relative;flex:1 1 auto}.nsm-dialog[class*=nsm-dialog-animation-]{transition:transform 500ms ease-in-out,opacity 500ms}.nsm-dialog-animation-ltr{transform:translate3d(-50%, 0, 0)}.nsm-dialog-animation-ltr.nsm-dialog-open{transform:translate3d(0, 0, 0)}.nsm-dialog-animation-ltr.nsm-dialog-close{transform:translate3d(-50%, 0, 0)}.nsm-dialog-animation-rtl{transform:translate3d(50%, 0, 0)}.nsm-dialog-animation-rtl.nsm-dialog-open{transform:translate3d(0, 0, 0)}.nsm-dialog-animation-rtl.nsm-dialog-close{transform:translate3d(50%, 0, 0)}.nsm-dialog-animation-ttb{transform:translate3d(0, -50%, 0)}.nsm-dialog-animation-ttb.nsm-dialog-open{transform:translate3d(0, 0, 0)}.nsm-dialog-animation-ttb.nsm-dialog-close{transform:translate3d(0, -50%, 0)}.nsm-dialog-animation-btt{transform:translate3d(0, 50%, 0)}.nsm-dialog-animation-btt.nsm-dialog-open{transform:translate3d(0, 0, 0)}.nsm-dialog-animation-btt.nsm-dialog-close{transform:translate3d(0, 50%, 0)}
$main_green : #4DC591;
$main_secondary : #9BA1FF;
$main_tertiary : #FF7648;
$Main_Text : #191B32;
$Body_Text : #9295A3;

// Hide Scrollbar
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: var($main_green) var($main_secondary);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight:normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight:bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight:300;
  font-style: italic;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  background-image: url("assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.main-green-bg{
  background:$main_green;
}

.main-green-color{
  color:$main_green;
}
.main-secondary-bg{
  background:$main_secondary;
}

.main-secondary-color{
  color:$main_secondary;
}

.main-tertiary-bg{
  background:$main_tertiary;
}

.main-tertiary-color{
  color:$main_tertiary;
}

.main-text{
  color: $Main_Text;
}

.main-darken-blue-bg{
  background-color: $Main_Text;
}
.main-darken-blue-color{
  color: $Main_Text;
}

.body-text{
  color: $Body_Text;
}

.content-question {
  img {
    padding: 20px;
    margin:0 auto;
    display: block;
    max-width: 500px;
  }
  font-size: 14px;
}

.unt-modal{
  .nsm-content{
    border-radius: 25px!important;
  }
  .nsm-dialog-btn-close{
    top:20px;
    right: 20px;
  }
}

.ngx-pagination .current {
  background: #4DC591!important;
}
.slick-slide{
  img {
    display: block;
    margin: auto;
  }
}
.large-modal {
  max-width: calc(100vw * 0.9)!important;
}

.dp-calendar-weekday{
  font-size: 10px;
  border: none!important;
  color: $Body_Text;
  font-weight: bold;
}
.dp-calendar-day {
  border: none!important;
  font-weight: bold;
}
.dp-selected{
  background: $main_green!important;
  border-radius: 5px;
  font-weight: bold;
}
.dp-calendar-nav-container{
  border: none!important;
  background: $main_green!important;
  font-weight: bold;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dp-day-calendar-container {
  background: transparent!important;
  border-radius: 10px;
}

.dp-calendar-wrapper {
  box-sizing: border-box;
  border: 2px solid #4DC591!important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}
.cal-month-view .cal-header {
  background-color: #4DC591!important;
  color: white;
  @media only screen and (max-width: 640px) {
    font-size: 6px!important;
  }
}
.cal-month-view .cal-day-cell {
  @media only screen and (max-width: 640px) {
    min-height: 40px!important;
    font-size: 8px!important;
  }
}
.storyModal {
  .nsm-content {
    padding: 0 !important;
    margin: 0 !important;
    background: transparent!important;
  }
  .nsm-dialog-btn-close{
    padding-top:8px;
    padding-right: 8px;
    color: white;
    font-size: 8px;
    font-weight: bold;
  }
  .slick-prev {
    z-index: 40;
    left: 25px;
  }
  .slick-next {
    z-index: 40;
    right: 25px;
  }
  .slick-track{
    display: flex!important;
    width: 100%!important;
  }
}
.storyModal {
  .overlay.nsm-overlay-open {
    background-color: rgba(0, 0, 0, 1)!important;
  }
}
.announcement-carousel{
  .slick-list> div {
    margin-left:0; }
}
.owl-stage {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.modalBuyUNTTrainer{
  .overlay.nsm-overlay-open {
    background-color: rgba(0, 0, 0, 0.7)!important;
  }
  .nsm-content{
    border-radius: 15px;
    background-color: rgb(254 240 138);
    border: 2px solid rgb(248 113 113);
  }
  .nsm-dialog-btn-close{
    right: 12px;
    top: 12px;
    color: white;
    border-radius: 10px;
    background: rgb(248 113 113);
    padding: 8px;
  }
}
.modalBuyContentForUNT{
  .overlay.nsm-overlay-open {
    background-color: rgba(0, 0, 0, 0.7)!important;
  }
  .nsm-content{
    border-radius: 15px;
    border: 2px solid rgb(248 113 113);
  }
  .nsm-dialog-btn-close{
    right: 12px;
    top: 12px;
    color: white;
    border-radius: 10px;
    background: rgb(248 113 113);
    padding: 8px;
  }
}
