/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$main_green : #4DC591;
$main_secondary : #9BA1FF;
$main_tertiary : #FF7648;
$Main_Text : #191B32;
$Body_Text : #9295A3;




@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight:normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight:bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight:300;
  font-style: italic;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}


.main-green-bg{
  background:$main_green;
}

.main-green-color{
  color:$main_green;
}
.main-secondary-bg{
  background:$main_secondary;
}

.main-secondary-color{
  color:$main_secondary;
}

.main-tertiary-bg{
  background:$main_tertiary;
}

.main-tertiary-color{
  color:$main_tertiary;
}

.main-text{
  color: $Main_Text;
}

.body-text{
  color: $Body_Text;
}
