<div class="min-h-full w-full bg-white py-5">
  <div class="container mx-auto">
    <div class="grid grid-cols-12">
      <div class="col-md-2 hidden md:block"></div>
      <div class="col-span-12 col-md-8">
        <app-static-life-hack
          [title]="'LIFEHACK_TITLE_5'|translate"
          [image]="'assets/images/lifehacks/lifehack_5.webp'"
          [createdAt]="'11:39 09.04.2024'"
          [description]="'LIFEHACK_TEXT_5'|translate"
        ></app-static-life-hack>
      </div>
      <div class="col-md-2 hidden md:block"></div>
    </div>
  </div>
</div>
