@media screen and (min-width: 320px) {
  .round-table {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }

  .round {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-flex: 4 0 auto;
    -ms-flex: 4 0 auto;
    flex: 4 0 auto;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }

  .round-table ul {
    margin: 0;
    padding: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    //-webkit-flex: 8 0 auto;
    //-ms-flex: 8 0 auto;
    //flex: 8 0 auto;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }

  .round::before {
    content: '';
    display: inline-block;
    width: 10px;
    border-top: 2px solid;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    color: #7a5585;
  }

  .round::after {
    content: '';
    display: inline-block;
    width: 10px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    background-image: linear-gradient(rgb(55,33,62), rgb(55,33,62)), linear-gradient(rgb(55,33,62),rgb(55,33,62)), linear-gradient(rgb(55,33,62), rgb(55,33,62));
    background-size: 100% 2px, 100% 2px, 2px 50%;
    background-position: 0 25%, 0 75%, 100% 50%;
    background-repeat: no-repeat;
  }

  .round-table p {
    border: 2px solid;
    margin: .5em 0;
    padding: 5px;
    background: linear-gradient(90deg, rgba(215,116,53,0.5) 0%, rgba(47,28,51,0.5) 50%);
    border: 2px solid #7a5585;
    border-radius: 9999px;
    color: white;
    -webkit-flex: 3 0 auto;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    font-size: 12px;
  }
}

@media screen and (min-width: 800px) {
  .round-table p {
    padding: 1rem;
    font-size: 16px;
  }
  .round-table ul {
    //flex: 8 0 auto
  }
  .round-table {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .round-table > ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background: linear-gradient(rgb(55,33,62),rgb(55,33,62)) 50% 0 no-repeat;
    background-size: 2px 50%;
  }
  .round-table > ul > .round:first-child {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .round-table > ul > .round:last-child, .round-table > ul > .round:last-child li {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .round-table > ul > .round:last-child::after, .round-table > ul > .round:last-child .round::after {
    background-position: 0 25%, 0 75%, 0% 50%;
  }
  .round-table::before, .round-table::after {
    content: none;
  }
  .round-table > ul::after {
    content: '';
    display: inline-block;
    width: 30px;
    border-top: 2px solid;
    background-image: linear-gradient(rgb(55,33,62), rgb(55,33,62)), linear-gradient(rgb(55,33,62),rgb(55,33,62)), linear-gradient(rgb(55,33,62), rgb(55,33,62));
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .round-table > p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  .round-table li {
    margin-left: -20px;
  }
  .round-table {
    margin-left: 80px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
}

@media screen and (min-width: 1600px) {
  .round-table ul {
    flex: 8 0 auto
  }
  .round-table > ul::after {
    -webkit-flex: 8 0 auto;
    -ms-flex: 8 0 auto;
    flex: 8 0 auto;
    color: #7a5585;
  }
}

.card-violet-bg{
  background: rgb(52,22,56);
  background: linear-gradient(90deg, rgba(52,22,56,0.5) 30%, rgba(55,23,68,0.5) 66%, rgba(89,58,93,0.5) 100%);
}

.card-violet-button-bg{
  background: rgb(52,22,56);
  background: linear-gradient(90deg, rgba(52,22,56,0.5) 30%, rgba(55,23,68,0.5) 66%, rgba(89,58,93,0.5) 100%);
}
.tournament-list-50{
  background: rgb(215,116,53);
  background: linear-gradient(90deg, rgba(215,116,53,0.5) 0%, rgba(47,28,51,0.5) 50%);
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
  random($width)-$width / 2 + px
  random($height)-$height / 1.2 + px
  hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay ($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration ($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation ($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform ($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}



.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}

@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}


