<section class="px-3 mobile:px-0 sm:px-0 ">
  <div class="lg:container mx-auto relative">
    <div class="grid grid-cols-12 gap-3 m-2 mobile:mx-0 sm:mx-0" id="tournamentDetail" *ngIf="tournamentDetails">
      <div class="col-span-12 md:col-span-4 min-h-[300px] max-h-[450px] relative card-violet-bg rounded-xl">
        <div class="absolute rounded-xl z-10  h-full w-full bg-cover bg-center bg-no-repeat main-violet-first-rounded"
             [ngStyle]="{'background-image':'url(' + ImageHelper.getImage(tournamentDetails.file!.url) + ')'}">
        </div>
      </div>
      <div
        class="col-span-12 md:col-span-8 min-h-[300px] shadow-2xl card-violet-bg rounded-2xl main-violet-first-rounded">
        <div class="py-4 px-2">
          <span
            class="font-bold text-white text-md md:text-lg lg:text-xl my-2 px-4 uppercase">
            {{tournamentDetails|globalTranslate:'title':translate.currentLang}}
          </span>
          <div class="m-3">
            <div class="mb-4">
              <div class="flex items-center my-3">
                <fa-icon [icon]="faBook" class="ml-2 text-white mr-2"></fa-icon>
                <div>
                  <p class="text-white font-bold text-md md:text-lg px-1">
                    {{"SUBJECT"|translate}}:
                  </p>
                  <p class="text-white font-bold text-md md:text-lg px-1 uppercase">
                    {{tournamentDetails.subject|globalTranslate:'title':translate.currentLang}}
                  </p>
                </div>
              </div>
              <div class="flex items-center my-3">
                <fa-icon [icon]="faMoneyBill" class="ml-2 text-white mr-2"></fa-icon>
                <div>
                  <p class="text-white font-bold text-md md:text-lg px-1">
                    {{"PARTICIPATION_PRICE"|translate}}:
                  </p>
                  <p class="text-white font-bold text-md md:text-lg px-1 uppercase">
                    {{tournamentDetails.price}} {{tournamentDetails.currency}}
                  </p>
                </div>
              </div>
              <div class="flex items-center my-3">
                <fa-icon [icon]="faLanguage" class="ml-2 text-white mr-2"></fa-icon>
                <div>
                  <p class="text-white font-bold text-md md:text-lg px-1">
                    {{"AVAILABLE_LANGUAGE"|translate}}:
                  </p>
                  <p class="text-white font-bold text-md md:text-lg px-1 uppercase"
                     *ngFor="let locale of tournamentDetails.locales">
                    {{locale.title}}
                  </p>
                </div>
              </div>
            </div>
            <a
              class="text-white px-4 py-2 uppercase rounded-full main-violet-first-rounded bg-violet-first font-bold text-md md:text-lg my-4 cursor-pointer"
              (click)="dialog.getModal('more').open()">
              {{"MORE_INFO"|translate}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 m-2 mobile:mx-0 sm:mx-0" id="tournamentInfo">
      <div
        class="col-span-12 bg-violet-orange-first p-5 shadow-xl rounded-full my-3 main-violet-first-rounded text-white md:text-lg uppercase"
        *ngIf="currentSubTournament">
        <section>
          <div class="text-center pyro font-bold" *ngIf="winner_tournament; else winner">
            {{'WINNER'|translate}}: {{winner_tournament.name ? winner_tournament.name : ''}}
            <div class="before"></div>
            <div class="after"></div>
          </div>
          <ng-template #winner>
            <div class="text-center"
                 *ngIf="currentSubTournament.is_current && !currentSubTournament.is_finished;else passed2">
              <div *ngIf="moment(currentSubTournament.start_at) > moment(); else notStarted">
                <p *ngIf="startCountdown != ''"
                   class="main-orange-color text-xl lg:text-2xl font-bold inline-block">
                  {{'START_STEP'|translate}}: {{startCountdown}}
                </p>
              </div>
              <ng-template #notStarted>
                <div class="text-center" *ngIf="!isJoin; else participated">
                  {{'YOU_ARE_NOT_ALLOWED'|translate}}
                </div>
                <ng-template #participated>
                  <div class="text-center"
                       *ngIf="moment(currentSubTournament.start_at) < moment() && moment(currentSubTournament.end_at) > moment();else currentPassed2">
                    <p *ngIf="countdown != ''"
                       class="main-orange-color text-xl lg:text-2xl font-bold inline-block">
                      {{'END_STEP'|translate}}: {{countdown}}
                    </p>
                    <div class="text-center">
                      <div class="text-center font-bold main-orange-color"
                           *ngIf="currentSubTournament.sub_tournament_results?.length; else notResult">
                        {{'YOU_ARE_PASSED'|translate}}
                      </div>
                      <ng-template #notResult>
                        <div class="text-center font-bold main-orange-color" *ngIf="!checkAccess; else access">
                          {{'YOU_ARE_NOT_ALLOWED'|translate}}
                        </div>
                        <ng-template #access>
                          <div class="text-center">
                            <a
                              (click)="createTournamentAttempt()"
                              type="button"
                              class="inline-block my-2 main-violet-first-rounded bg-gradient-to-r from-[#d87435] to-[#371744]  border-0 rounded-full px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out  cursor-pointer text-white focus:outline-none focus:ring-0"
                              data-te-ripple-init>
                              {{"PASS"|translate}}
                            </a>
                          </div>
                        </ng-template>
                      </ng-template>
                    </div>
                  </div>
                  <ng-template #currentPassed2>
                    <div class="text-center">
                      {{'YOU_ARE_NOT_ALLOWED'|translate}}
                    </div>
                  </ng-template>
                </ng-template>
              </ng-template>
            </div>
            <ng-template #passed2>
            <span
              class="text-danger text-xl md:text-2xl xl:text-4xl font-bold inline-block text-center w-full m-3">
              <fa-icon [icon]="faSadTear"></fa-icon>
                <p>
                  {{"YOU_ARE_NOT_ALLOWED"|translate}}
                </p>
            </span>
            </ng-template>
          </ng-template>
        </section>

      </div>
      <div
        class="col-span-12 bg-violet-orange-first p-2 shadow-xl rounded-full my-3 main-violet-first-rounded text-white md:text-lg uppercase"
        *ngIf="!winner_tournament">
        <div>
          <section *ngIf="firstSubTournament">
            <div class="text-center"
                 *ngIf="firstSubTournament.is_current && !firstSubTournament.is_finished && moment() > moment(firstSubTournament.start_at) && moment() < moment(firstSubTournament.end_at);else passed">
              <div *ngIf="!isReg">
                <a
                  (click)="participateTournament()"
                  type="button"
                  class="inline-block main-violet-first-rounded bg-gradient-to-r from-[#d87435] to-[#371744] border-0 rounded-full px-3 lg:px-4 py-2 lg:py-3 text-md font-bold uppercase leading-normal transition duration-150 ease-in-out  cursor-pointer text-white focus:outline-none focus:ring-0 my-2"
                  data-te-ripple-init>
                  {{"WANT_TO_PARTICIPATE"|translate}}
                </a>
              </div>
            </div>
            <ng-template #passed>
              <div *ngIf="moment() < moment(firstSubTournament.start_at)">
                <span
                  class="main-orange-color text-xl md:text-2xl font-bold inline-block text-center w-full m-3">
                  <fa-icon [icon]="faSadTear"></fa-icon>
                    <p>
                      {{'WAIT_REGISTER_TIME'|translate}}
                    </p>
                </span>
              </div>
              <div *ngIf="moment() > moment(firstSubTournament.end_at)">
                <span
                  class="main-orange-color text-xl md:text-2xl font-bold inline-block text-center w-full m-3">
                  <fa-icon [icon]="faSadTear"></fa-icon>
                    <p>
                      {{"UNFORTUNATELY_DATE_REGISTER_EXPIRED"|translate}}
                    </p>
                </span>
              </div>

            </ng-template>
          </section>
          <section *ngIf="currentSubTournament">
            <div class="text-center font-bold">
              {{"CURRENT_STEP"|translate}}
              : {{currentSubTournament.tournament_step | globalTranslate : "title" : translate.currentLang}}
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 m-3 mobile:mx-0 sm:mx-0 gap-2" id="tournamentStep">
      <div class="col-span-12">
        <div class="md:flex justify-center">
          <!--Pills navigation-->
          <ul
            class="mb-5 flex list-none flex-col flex-wrap pl-0 md:flex-row"
            id="pills-tab"
            role="tablist"
            data-te-nav-ref>
            <li role="presentation">
              <a
                href="#pills-users"
                class="my-2 block uppercase font-bold rounded-full bg-violet-first main-violet-first-rounded px-7 pb-3.5 pt-4 text-xs lg:text-md leading-tight text-white data-[te-nav-active]:bg-gradient-to-r from-[#d87435] to-[#371744] md:mr-4"
                id="pills-users-tab"
                data-te-toggle="pill"
                data-te-target="#pills-users"
                data-te-nav-active
                role="tab"
                aria-controls="pills-users"
                aria-selected="true"
              >
                {{"TOURNAMENT_PARTICIPANTS"|translate}}
              </a>
            </li>
            <li role="presentation">
              <a
                href="#pills-participants"
                (click)="firstStep(getSubTournament(1))"
                class="my-2 block uppercase font-bold rounded-full bg-violet-first main-violet-first-rounded px-7 pb-3.5 pt-4 text-xs lg:text-md leading-tight text-white data-[te-nav-active]:bg-gradient-to-r from-[#d87435] to-[#371744] md:mr-4"
                id="pills-participants-tab"
                data-te-toggle="pill"
                data-te-target="#pills-participants"
                role="tab"
                aria-controls="pills-participants"
                aria-selected="false"
              >
                {{"TOURNAMENT_PLAYOFF"|translate}}
              </a
              >
            </li>
            <li role="presentation">
              <a
                (click)="thirdStep(getSubTournament(2))"
                href="#pills-results"
                class="my-2 block uppercase font-bold rounded-full bg-violet-first main-violet-first-rounded px-7 pb-3.5 pt-4 text-xs lg:text-md leading-tight text-white data-[te-nav-active]:bg-gradient-to-r from-[#d87435] to-[#371744] md:mr-4"
                id="pills-results-tab"
                data-te-toggle="pill"
                data-te-target="#pills-results"
                role="tab"
                aria-controls="pills-results"
                aria-selected="false"
              >
                1/4
              </a
              >
            </li>
            <li role="presentation">
              <a
                (click)="fourthStep(getSubTournament(3))"
                href="#pills-prefinal"
                class="my-2 block uppercase font-bold rounded-full bg-violet-first main-violet-first-rounded px-7 pb-3.5 pt-4 text-xs lg:text-md leading-tight text-white data-[te-nav-active]:bg-gradient-to-r from-[#d87435] to-[#371744] md:mr-4"
                id="pills-prefinal-tab"
                data-te-toggle="pill"
                data-te-target="#pills-prefinal"
                role="tab"
                aria-controls="pills-prefinal"
                aria-selected="false"
              >
                1/2
              </a
              >
            </li>
            <li role="presentation">
              <a
                (click)="fifthStep(getSubTournament(4))"
                href="#pills-winners"
                class="my-2 block uppercase font-bold rounded-full bg-violet-first main-violet-first-rounded px-7 pb-3.5 pt-4 text-xs lg:text-md leading-tight text-white data-[te-nav-active]:bg-gradient-to-r from-[#d87435] to-[#371744] md:mr-4"
                id="pills-winners-tab"
                data-te-toggle="pill"
                data-te-target="#pills-winners"
                role="tab"
                aria-controls="pills-winners"
                aria-selected="false"
              >
                {{"TOURNAMENT_FINAL"|translate}}
              </a>
            </li>
            <li role="presentation">
              <a
                (click)="getAwards()"
                href="#pills-awards"
                class="my-2 block uppercase font-bold rounded-full bg-violet-first main-violet-first-rounded px-7 pb-3.5 pt-4 text-xs lg:text-md leading-tight text-white data-[te-nav-active]:bg-gradient-to-r from-[#d87435] to-[#371744] md:mr-4"
                id="pills-award-tab"
                data-te-toggle="pill"
                data-te-target="#pills-awards"
                role="tab"
                aria-controls="pills-awards"
                aria-selected="false"
              >
                {{"TOURNAMENT_AWARDS"|translate}}
              </a>
            </li>
          </ul>
        </div>

        <!--Pills content-->
        <div class="mb-6">
          <!--Users-->
          <div
            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="pills-users"
            role="tabpanel"
            aria-labelledby="pills-users-tab"
            data-te-tab-active>
            <div class="lg:mx-3 md:mx-1 mobile:mx-1 sm:mx-1 p-4 mobile:px-0 sm:px-0" *ngIf="participants">
              <div
                class="main-violet-first-rounded mx-3 mobile:mx-0 sm:mx-0 p-4 mobile:px-0 sm:px-0 rounded-2xl shadow-2xl tournament-list-50">
                <div class="relative overflow-x-auto" *ngIf="participants.data">
                  <table class="w-full text-sm text-left text-white">
                    <thead class="text-xs text-white capitalize">
                    <tr>
                      <th scope="col" class="px-6 py-3 mobile:px-1 mobile:py-1 text-center">
                        №
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-1 mobile:py-1">
                        {{"NAME"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-2 mobile:hidden">
                        {{"NICKNAME"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-2 mobile:hidden">
                        Email
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-1 mobile:py-1">
                        {{"PARTICIPATED_DATE"|translate}}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="rounded-2xl my-2"
                        *ngFor="let participant of participants.data | paginate: { itemsPerPage: participants.per_page, currentPage: participants.current_page,totalItems:participants.total } | keys">
                      <th scope="row"
                          class="mobile:px-2 px-6 py-4 mobile:py-2 font-medium text-white whitespace-nowrap flex justify-center items-center">
                        <p class="font-bold text-white ml-2 inline-block">{{parseInt(participant.key) + 1}} </p>
                      </th>
                      <td class="px-6 py-4 mobile:py-2 mobile:px-2">
                        <p class="text-white ml-2 italic">{{participant.value.user?.name}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:px-2 mobile:hidden ">
                        <p class="text-white ml-2 italic">{{participant.value.user?.username}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:px-2 mobile:hidden ">
                        <p class="text-white ml-2 italic">{{participant.value.user?.email}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:py-2 mobile:px-2">
                        <p
                          class="text-white ml-2">{{moment(participant.value.updated_at ?? participant.value.created_at).format('DD/MM/YYYY HH:mm')}}</p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="my-2 flex justify-center" *ngIf="participants.total > participants.per_page">
                    <pagination-controls [previousLabel]="'PREVIOUS_PAGINATION' | translate"
                                         [nextLabel]="'NEXT_PAGINATION' | translate"
                                         [responsive]="true" class="rounded-full"
                                         (pageChange)="participantPageChanged($event)"></pagination-controls>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--Users-->
          <!--ResultsFirstStep-->
          <div
            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="pills-participants"
            role="tabpanel"
            aria-labelledby="pills-participants-tab"
          >
            <div class="mx-3 mobile:mx-0 sm:mx-0 p-4 mobile:px-0 sm:px-0" *ngIf="sub_tournament_results">
              <div
                class="bg-transparent main-violet-first-rounded lg:mx-3 md:mx-1 mobile:mx-1 sm:mx-1 md:p-3 mobile:px-0 sm:px-0 rounded-2xl shadow-2xl"
                *ngIf="sub_tournament_results.data">
                <div class="relative overflow-x-auto result-table">
                  <table class="w-full text-sm text-left text-white border-separate border-spacing-y-1">
                    <thead class="text-xs text-white capitalize">
                    <tr>
                      <th scope="col" class="px-6 py-3 mobile:px-2 mobile:py-1 mobile:text-center">
                        №
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-2 mobile:py-1 mobile:text-center">
                        {{"NAME"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:hidden">
                        {{"NICKNAME"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:hidden">
                        Email
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-2 mobile:py-1 mobile:text-center">
                        {{"POINTS"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-2 mobile:py-1 mobile:text-center">
                        {{"TIME"|translate}}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                      [ngClass]="(parseInt(result.key)+1) <= 8 ? 'tournament-list-50 main-violet-first-rounded ' : 'bg-transparent main-violet-first-rounded '"
                      class="rounded-2xl my-2"
                      *ngFor="let result of sub_tournament_results.data | paginate: { itemsPerPage: sub_tournament_results.per_page, currentPage: sub_tournament_results.current_page,totalItems:sub_tournament_results.total } | keys">
                      <th scope="row" class="px-6 py-4 mobile:px-2 mobile:py-2 mobile:text-center flex">
                        <p class="font-bold text-white ml-2 inline-block">{{parseInt(result.key) + 1}}</p>
                      </th>
                      <td class="px-6 py-4 mobile:px-2 mobile:py-2 mobile:text-center">
                        <p class="text-white ml-2 font-bold">{{result.value.user?.name}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:hidden">
                        <p class="text-white ml-2 font-bold">{{result.value.user?.username}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:hidden">
                        <p class="text-white ml-2 font-bold">{{result.value.user?.email}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:px-2 mobile:py-2 mobile:text-center">
                        <p class="text-white ml-2">{{result.value.point}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:px-2 mobile:py-2 mobile:text-center">
                        <p *ngIf="sub_tournament" class="text-white ml-2"
                           [innerHTML]="StrHelper.getTimeForTournament(sub_tournament.time, result.value.time)"></p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="my-2 flex justify-center"
                       *ngIf="sub_tournament_results.total > sub_tournament_results.per_page">
                    <pagination-controls [previousLabel]="'PREVIOUS_PAGINATION' | translate"
                                         [nextLabel]="'NEXT_PAGINATION' | translate"
                                         [responsive]="true" class="rounded-full"
                                         (pageChange)="resultPageChanged($event)"></pagination-controls>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--ResultsFirstStep-->
          <!--1/4-->
          <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="pills-results"
            role="tabpanel"
            aria-labelledby="pills-results-tab">
            <div class="mx-3 mobile:mx-0 sm:mx-0 p-4 mobile:px-0 sm:px-0" *ngIf="sub_tournament_rivals">
              <div
                class="main-violet-first-rounded bg-transparent  lg:mx-3 md:mx-1 mobile:mx-1 sm:mx-1 md:p-3 mobile:px-0 sm:px-0 rounded-2xl shadow-2xl my-3 py-3"
                *ngIf="sub_tournament_rivals.length">
                <div class="round-table round">
                  <ul>
                    <li class="round">
                      <ul>
                        <li class="round" *ngIf="sub_tournament_rivals[0]">
                          <ul>
                            <li>
                              <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                                {{sub_tournament_rivals[0].rival_one_user?.name}}
                                <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[0].point_one}} балл (<span
                                  [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[0].sub_tournament.time, sub_tournament_rivals[0].time_one)"></span>)
                                </span>
                              </p>
                            </li>
                            <li>
                              <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                                {{sub_tournament_rivals[0].rival_two_user?.name}}
                                <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[0].point_two}} балл (<span
                                  [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[0].sub_tournament.time, sub_tournament_rivals[0].time_two)"></span>)
                                </span>
                              </p>
                            </li>
                          </ul>
                          <p>{{sub_tournament_rivals[0].winner_user?.name}}</p>
                        </li>
                        <li class="round" *ngIf="sub_tournament_rivals[1]">
                          <ul>
                            <li>
                              <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                                {{sub_tournament_rivals[1].rival_one_user?.name}}
                                <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[1].point_one}} балл (<span
                                  [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[1].sub_tournament.time, sub_tournament_rivals[1].time_one)"></span>)
                                </span>
                              </p>
                            </li>
                            <li>
                              <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                                {{sub_tournament_rivals[1].rival_two_user?.name}}
                                <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[1].point_two}} балл (<span
                                  [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[1].sub_tournament.time, sub_tournament_rivals[1].time_two)"></span>)
                                </span>
                              </p>
                            </li>
                          </ul>
                          <p>{{sub_tournament_rivals[1].winner_user?.name}}</p>
                        </li>
                      </ul>
                      <p>-</p>
                    </li>
                    <li class="round">
                      <ul>
                        <li class="round" *ngIf="sub_tournament_rivals[2]">
                          <ul>
                            <li>
                              <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                                {{sub_tournament_rivals[2].rival_one_user?.name}}
                                <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[2].point_one}} балл (<span
                                  [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[2].sub_tournament.time, sub_tournament_rivals[2].time_one)"></span>)
                                </span>
                              </p>
                            </li>
                            <li>
                              <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                                {{sub_tournament_rivals[2].rival_two_user?.name}}
                                <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[2].point_two}} балл (<span
                                  [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[2].sub_tournament.time, sub_tournament_rivals[2].time_two)"></span>)
                                </span>
                              </p>
                            </li>
                          </ul>
                          <p>{{sub_tournament_rivals[2].winner_user?.name}}</p>
                        </li>
                        <li class="round" *ngIf="sub_tournament_rivals[3]">
                          <ul>
                            <li>
                              <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                                {{sub_tournament_rivals[3].rival_one_user?.name}}
                                <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[3].point_one}} балл (<span
                                  [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[3].sub_tournament.time, sub_tournament_rivals[3].time_one)"></span>)
                                </span>
                              </p>
                            </li>
                            <li>
                              <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                                {{sub_tournament_rivals[3].rival_two_user?.name}}
                                <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[3].point_two}} балл (<span
                                  [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[3].sub_tournament.time, sub_tournament_rivals[3].time_two)"></span>)
                                </span>
                              </p>
                            </li>
                          </ul>
                          <p>{{sub_tournament_rivals[3].winner_user?.name}}</p>
                        </li>
                      </ul>
                      <p>-</p>
                    </li>
                  </ul>
                  <p>-</p>
                </div>
              </div>
            </div>
          </div>
          <!--1/2-->
          <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="pills-prefinal"
            role="tabpanel"
            aria-labelledby="pills-prefinal-tab">
            <div class="mx-3 mobile:mx-0 sm:mx-0 p-4 mobile:px-0 sm:px-0" *ngIf="sub_tournament_rivals">
              <div
                class="main-violet-first-rounded bg-transparent  lg:mx-3 md:mx-1 mobile:mx-1 sm:mx-1 md:p-3 mobile:px-0 sm:px-0 rounded-2xl shadow-2xl my-3 py-3"
                *ngIf="sub_tournament_rivals.length">
                <div class="round-table round">
                  <ul>
                    <li class="round" *ngIf="sub_tournament_rivals[0]">
                      <ul>
                        <li>
                          <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                            {{sub_tournament_rivals[0].rival_one_user?.name}}
                            <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[0].point_one}} балл (<span
                              [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[0].sub_tournament.time, sub_tournament_rivals[0].time_one)"></span>)
                                </span>
                          </p>
                        </li>
                        <li>
                          <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                            {{sub_tournament_rivals[0].rival_two_user?.name}}
                            <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[0].point_two}} балл (<span
                              [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[0].sub_tournament.time, sub_tournament_rivals[0].time_two)"></span>)
                                </span>
                          </p>
                        </li>
                      </ul>
                      <p>{{sub_tournament_rivals[0].winner_user?.name}}</p>
                    </li>
                    <li class="round" *ngIf="sub_tournament_rivals[1]">
                      <ul>
                        <li>
                          <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                            {{sub_tournament_rivals[1].rival_one_user?.name}}
                            <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[1].point_one}} балл (<span
                              [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[1].sub_tournament.time, sub_tournament_rivals[1].time_one)"></span>)
                                </span>
                          </p>
                        </li>
                        <li>
                          <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                            {{sub_tournament_rivals[1].rival_two_user?.name}}
                            <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[1].point_two}} балл (<span
                              [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[1].sub_tournament.time, sub_tournament_rivals[1].time_two)"></span>)
                                </span>
                          </p>
                        </li>
                      </ul>
                      <p>{{sub_tournament_rivals[1].winner_user?.name}}</p>
                    </li>
                  </ul>
                  <p>-</p>
                </div>
              </div>
            </div>
          </div>
          <!--final-->
          <div
            class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="pills-winners"
            role="tabpanel"
            aria-labelledby="pills-winners-tab">
            <!--Winners-->
            <div class="mx-3 mobile:mx-0 sm:mx-0 p-4 mobile:px-0 sm:px-0" *ngIf="sub_tournament_rivals">
              <div
                class="main-violet-first-rounded bg-transparent  lg:mx-3 md:mx-1 mobile:mx-1 sm:mx-1 md:p-3 mobile:px-0 sm:px-0 rounded-2xl shadow-2xl my-3 py-3"
                *ngIf="sub_tournament_rivals.length">
                <div class="round-table round">
                  <ul>
                    <li class="round" *ngIf="sub_tournament_rivals[0]">
                      <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                        {{sub_tournament_rivals[0].rival_one_user?.name}}
                        <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[0].point_one}} балл (<span
                          [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[0].sub_tournament.time, sub_tournament_rivals[0].time_one)"></span>)
                                </span>
                      </p>
                    </li>
                    <li class="round" *ngIf="sub_tournament_rivals[0]">
                      <p class="2xl:flex mobile:inline-block sm:inline-block justify-between items-center">
                        {{sub_tournament_rivals[0].rival_two_user?.name}}
                        <span class="mobile:flex md:block mobile:text-xs sm:text-xs ml-2">
                                  {{sub_tournament_rivals[0].point_two}} балл (<span
                          [innerHTML]="StrHelper.getTimeForTournament(sub_tournament_rivals[0].sub_tournament.time, sub_tournament_rivals[0].time_two)"></span>)
                                </span>
                      </p>
                    </li>
                  </ul>
                  <p>{{sub_tournament_rivals[0].winner_user?.name}}</p>
                </div>
              </div>
            </div>
            <!--Winners-->
          </div>
          <!--Awards-->
          <div
            class="hidden opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="pills-awards"
            role="tabpanel"
            aria-labelledby="pills-awards-tab"
            data-te-tab-active>
            <div class="lg:mx-3 md:mx-1 mobile:mx-1 sm:mx-1 p-4 mobile:px-0 sm:px-0" *ngIf="tournamentAwards">
              <div class="main-violet-first-rounded mx-3 mobile:mx-0 sm:mx-0 p-4 mobile:px-0 sm:px-0 rounded-2xl shadow-2xl tournament-list-50">
                <div class="relative overflow-x-auto" *ngIf="tournamentAwards.data">
                  <table class="w-full text-sm text-left text-white">
                    <thead class="text-xs text-white capitalize">
                    <tr>
                      <th scope="col" class="px-6 py-3 mobile:px-1 mobile:py-1 text-center">
                        {{"ORDER_NUMBER"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-1 mobile:py-1">
                        {{"NAME"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-1 mobile:py-1">
                        {{"EMAIL"|translate}}
                      </th>
                      <th scope="col" class="px-6 py-3 mobile:px-2 mobile:hidden">
                        {{"PRIZE"|translate}}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="rounded-2xl my-2"
                        *ngFor="let itemAward of tournamentAwards.data | paginate: { itemsPerPage: tournamentAwards.per_page, currentPage: tournamentAwards.current_page,totalItems:tournamentAwards.total }">
                      <td class="px-6 py-4 mobile:py-2 mobile:px-2 text-center">
                        <p class="text-white ml-2 italic">{{itemAward.order}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:px-2 mobile:hidden ">
                        <p class="text-white ml-2 italic">{{itemAward.user?.name}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:px-2 mobile:hidden ">
                        <p class="text-white ml-2 italic">{{itemAward.user?.email}}</p>
                      </td>
                      <td class="px-6 py-4 mobile:px-2 mobile:hidden ">
                        <p class="text-white ml-2 italic">{{itemAward | globalTranslate:"title":translate.currentLang}}</p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="my-2 flex justify-center" *ngIf="tournamentAwards.total > tournamentAwards.per_page">
                    <pagination-controls [previousLabel]="'PREVIOUS_PAGINATION' | translate"
                                         [nextLabel]="'NEXT_PAGINATION' | translate"
                                         [responsive]="true" class="rounded-full"
                                         (pageChange)="awardsPageChanged($event)"></pagination-controls>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <app-information-bear [pageName]="'tournament_detail_'"/>

    <ngx-smart-modal identifier="more">
      <p class="main-orange-color font-bold text-md md:text-lg my-2 px-1">
        {{"RULES"|translate}}
      </p>
      <div class="px-5 py-4" *ngIf="tournamentDetails">
        <div [innerHTML]="tournamentDetails|globalTranslate:'rule':translate.currentLang"></div>
      </div>
      <p class="main-orange-color font-bold text-md md:text-lg my-2 px-1">
        {{"DESCRIPTION"|translate}}
      </p>
      <div class="px-5 py-4" *ngIf="tournamentDetails">
        <div [innerHTML]="tournamentDetails|globalTranslate:'description':translate.currentLang"></div>
      </div>
    </ngx-smart-modal>
  </div>
</section>
