<div class="container mx-auto">
  <div class="grid grid-cols-12 py-5 my-3 gap-4 bg-black-violet-orange-180-05 rounded-2xl main-violet-first-rounded p-3">
    <div class="col-span-12 md:col-span-12 lg:col-span-6 xl:col-span-6">
      <label class="text-md lg:text-lg font-bold my-2 block text-white" for="from_data_input">   {{"TRANSACTION_FROM"|translate}}</label>
      <input (ngModelChange)="changeFromDate($event)" [ngModel]="from_date" [dpDayPicker]="from_config" id="from_data_input"
             class="block border w-full rounded-full text-white bg-violet-first-50 main-violet-first-rounded placeholder-white font-normal p-2 focus:outline-none" />
    </div>
    <div class="col-span-12 md:col-span-12 lg:col-span-6 xl:col-span-6 text-white">
      <label class="text-md lg:text-lg font-bold my-2 block text-white" for="to_data_input">{{"TRANSACTION_TO"|translate}}</label>
      <input (ngModelChange)="changeToDate($event)"  [ngModel]="to_date" [dpDayPicker]="to_config" id="to_data_input"
             class="block border w-full rounded-full text-white bg-violet-first-50 main-violet-first-rounded placeholder-white font-normal p-2 focus:outline-none" />
    </div>
  </div>
  <div class="grid grid-cols-12 py-5 my-3 gap-4" *ngIf="wallet">
    <div class="col-span-12 md:col-span-12 lg:col-span-8 xl:col-span-7 2xl:col-span-7">
      <div class="mx-3 p-4 rounded-2xl shadow-2xl bg-black-violet-orange-180-05 main-violet-first-rounded">
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left text-white">
            <thead class="text-xs text-white capitalize">
            <tr>
              <th scope="col" class="px-6 py-3 text-center">
                {{"AMOUNT"|translate}}
              </th>
              <th scope="col" class="px-6 py-3 text-center">
                {{"IS_CONFIRMED"|translate}}
              </th>
              <th scope="col" class="px-6 py-3 text-center">
                {{"OWNER_CARD"|translate}}
              </th>
              <th scope="col" class="px-6 py-3 text-center">
                {{"TRANSACTION_DATE"|translate}}
              </th>
              <th scope="col" class="px-6 py-3 text-center">
                {{"TRANSACTION_ID"|translate}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr class="rounded-2xl my-2" *ngFor="let transaction of wallet.week_transaction">
              <td class="px-6 py-4 text-center">
                <p class="text-white ml-2 font-bold" [ngClass]="{'text-red-400': transaction.amount < 0, 'text-green-400':transaction.amount > 0}">{{transaction.amount}}</p>
              </td>
              <td class="px-6 py-4 text-center">
                <fa-icon [icon]="faCheckCircle" class="text-xl main-violet-first-color" *ngIf="transaction.confirmed"></fa-icon>
                <fa-icon [icon]="faWindowClose" class="text-xl main-orange-color" *ngIf="!transaction.confirmed"></fa-icon>
              </td>
              <td class="px-6 py-4 text-center" *ngIf="transaction.wallet">
                <p class="text-white ml-2 font-bold" *ngIf="transaction.wallet.holder">{{transaction.wallet.holder.name}}</p>
              </td>
              <td class="px-6 py-4 text-center">
                <p class="text-white ml-2 font-bold">{{moment(transaction.created_at).format("HH:mm DD/MM/YYYY")}}</p>
              </td>
              <td class="px-6 py-4 text-center" *ngIf="transaction.uuid">
                <small>
                  {{transaction.uuid}}
                </small>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="col-span-12 md:col-span-12 lg:col-span-4 xl:col-span-5 2xl:col-span-5" *ngIf="wallet.week_transaction_stats">
      <canvas
        baseChart
        class="chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
      >
      </canvas>
    </div>
  </div>
</div>
