<div class="container mx-auto py-8 px-3 bg-[rgba(255,255,255,0.7)] my-5 rounded-[20px] main-violet-first-rounded" *ngIf="translate.currentLang == 'ru'">
  <h1 class="mb-4 text-xl font-extrabold text-black text-center leading-none tracking-tight md:text-2xl lg:text-3xl">
    Договор публичной оферты
  </h1>
  <p class="my-4 text-lg font-extrabold text-black text-center leading-none tracking-tight md:text-xl lg:text-2xl">
    Договор о предоставлении услуг в сети Интернет посредством Информационной системы WWW.IUTEST.KZ
  </p>
  <div class="mt-[30px] text-black">
    <p class="indent-1.5 text-justify">
      Товарищество с ограниченной ответственностью «I-UNION», именуемое в дальнейшем «Исполнитель», использующий Информационную систему (ИС) в сети Интернет www.iutest.kz, публикует настоящий «Договор о предоставлении услуг в сети Интернет посредством ИС www.iutest.kz»,  являющийся публичной Офертой в адрес Абонентов, где Абонент – любое физическое или юридическое лицо, пользующееся услугами ИС www.iutest.kz. Исполнитель и Абонент далее совместно и по отдельности именуются «Стороны» или «Сторона» соответственно.
    </p>
    <p class="indent-1.5 text-justify">
      Факт регистрации Абонента в ИС Исполнителя www.iutest.kz в качестве пользователя услуг является полным и безоговорочным принятием условий настоящей Оферты, то есть Абонент, зарегистрировавшийся в ИС www.iutest.kz, в соответствии с Гражданским кодексом Республики Казахстан является лицом, вступившим с Исполнителем в договорные отношения. Порядок регистрации Абонента указан в ИС Исполнителя по адресу www.iutest.kz.
    </p>
    <p class="indent-1.5 text-justify">
      При несогласии с отдельными нижеизложенными условиями настоящего Договора Абонент вправе отказаться от получения услуги. Справки и ответы на вопросы, связанные с настоящей Офертой предоставляются уполномоченными представителями ИС www.iutest.kz в рамках раздела «Служба поддержки» в ИС Исполнителя.
    </p>
    <p class="text-center text-lg my-3 font-bold">
      1. Предмет договора
    </p>
    <p class="indent-1.5 text-justify">
      1.1.	Исполнитель предоставляет Абоненту в рамках настоящего Договора следующие услуги:
    </p>
    <p class="indent-2 text-justify">
      - Услуги по тестированию Абонента на www.iutest.kz в онлайн-режиме;
    </p>
    <p class="indent-2 text-justify">
      - Иные услуги в соответствии с прейскурантом.
    </p>
    <p class="indent-1.5 text-justify">
      1.2.	Абонент самостоятельно приобретает Услуги в рамках настоящего Договора в ИС Исполнителя www.iutest.kz путем подачи заявки на Услугу, в личном кабинете Абонента. При оформлении заявки Абонент автоматически извещается о стоимости Услуги, тарифных планах и порядке оказания Услуги, при этом без согласия Абонента с вышеуказанной информацией, оказание Услуг невозможно.
    </p>

    <p class="text-center text-lg my-3 font-bold">
      2. Права и обязанности сторон
    </p>
    <p class="indent-2 text-justify font-bold">2.1. Исполнитель обязуется:</p>
    <p class="indent-2 text-justify">2.1.1. Предоставить Абоненту возможность ежедневного получения Услуг за исключением времени проведения необходимых технических ремонтных и профилактических работ, которые будут планироваться на время, когда это может нанести наименьший ущерб Абоненту.</p>
    <p class="indent-2 text-justify">2.1.2. Осуществлять информационную поддержку Абонента путем предоставления консультаций по телефону 3506 с 09.00 часов по 18.00 часов (кроме воскресения). Объем консультаций ограничивается конкретными вопросами, связанными с предоставлением Услуг и вопросами, касающимися настройки предоставленной в рамках Услуги ИС.</p>
    <p class="indent-2 text-justify">2.1.3. Предпринимать общепринятые в сети технические и организационные меры для обеспечения конфиденциальности информации, получаемой или отправляемой Абонентом. Доступ третьим лицам к информации, получаемой или отправляемой Абонентом, обеспечивается исключительно в соответствии с законодательством Республики Казахстан.</p>
    <p class="indent-2 text-justify">2.1.4. Публиковать на ИС www.iutest.kz Исполнителя официальные сообщения, связанные с обслуживанием Абонентов и изменением условий настоящего Договора.</p>
    <p class="indent-2 text-justify font-bold">2.2. Абонент обязуется:</p>
    <p class="indent-2 text-justify">2.2.1. Выполнять все требования, изложенные в настоящем Договоре и его приложениях, являющихся неотъемлемой частью настоящего Договора.</p>
    <p class="indent-2 text-justify">2.2.2. Самостоятельно поддерживать положительный баланс в личном кабинете, своевременно производя необходимые авансовые платежи в соответствии с настоящим Договором.</p>
    <p class="indent-2 text-justify">2.2.3. Сохранять выданные Исполнителем финансовые документы, подтверждающие произведенную оплату Услуг. Платежные документы Абонент получает в автоматическом режиме, на специальной странице ИС Исполнителя.</p>

    <p class="text-center text-lg my-3 font-bold">
      3. Стоимость услуг и порядок расчетов
    </p>
    <p class="indent-2 text-justify">3.1. Стоимость Услуг определяется в прейскуранте, утвержденным Исполнителем, и доступным в ИС Исполнителя по адресу www.iutest.kz.</p>
    <p class="indent-2 text-justify">3.2. Цены на предоставляемые Услуги устанавливаются в тенге. Оплата производится в тенге.</p>
    <p class="indent-2 text-justify">3.3. Оплата услуг может быть произведена Абонентом с применением «электронных платежей» таких как банковские карты.</p>
    <p class="indent-2 text-justify">3.4. Первоначальный платеж в рамках настоящего Договора делается Абонентом после его регистрации в ИС Исполнителя. Сумма первоначального платежа не ограничена и может составлять любую положительную величину.</p>
    <p class="indent-2 text-justify">3.5. Абонент самостоятельно несет ответственность за правильность производимых им платежей. При изменении банковских реквизитов Исполнителя, с момента опубликования новых реквизитов в ИС Исполнителя, Абонент самостоятельно несет ответственность за платежи, произведенные по устаревшим реквизитам.</p>
    <p class="indent-2 text-justify">3.6 Факт оплаты Услуги считается подтвержденным, а счет Абонента открытым после поступления сведений из банка о зачислении денежных средств на счет Исполнителя;</p>
    <p class="indent-2 text-justify">3.7. Для пользования услугой Абоненту необходимо поддерживать положительный баланс в своем личном кабинете. Абонент обязан своевременно оплачивать Услуги Исполнителя.</p>
    <p class="indent-2 text-justify">3.8 Если в течение текущего года Абонент не воспользовался Услугой, то в конце года Исполнитель имеет право списать денежные средства в свою пользу со счета в личном кабинете Абонента в полном объеме.</p>
    <p class="indent-2 text-justify">3.9. Информация по имеющемуся остатку средств, в том числе по отрицательному, и причитающимся платежам применительно к Абоненту отражается в личном кабинете Абонента. Абонент самостоятельно регулярно проверяет состояние своего счета для своевременного получения текущей информации.</p>
    <p class="indent-2 text-justify">3.10. Исполнитель вправе в одностороннем порядке пересматривать цены на Услуги и вводить новый тарифный план (изменения и дополнения в прейскурант цен). Если после вступления в силу изменений Абонент продолжит использование Услуги, этим фактом он подтверждает свое согласие с внесенными изменениями.</p>
    <p class="indent-2 text-justify">3.11. При прекращении доступа как к Услугам в целом, так и к любой их части в порядке, установленном пп. 4.1 и 4.2 настоящего Договора, средства, списанные со счета Абонента денежные средства (абонентское обслуживание) с момента прекращения доступа и до момента расторжения настоящего Договора, в рамках оказания Услуг Абоненту не возвращаются и не компенсируются.</p>

    <p class="text-center text-lg my-3 font-bold">
      4. Прекращение доступа к услуге, прекращение договора
    </p>
    <p class="indent-2 text-justify">4.1. Исполнитель может в одностороннем порядке приостановить на срок до 30 дней доступ Абонента как к Услугам в целом, так и к любой их части (до получения мотивированного ответа Абонента) в случае, если Абонент вовлечен или совершает действия, которые Исполнитель обоснованно считает нарушающими правила и нормы пользования Услугами, а именно:</p>
    <p class="indent-2 text-justify">
      - Действия, направленные на ограничение или препятствование в доступе других абонентов к Услугам, а также осуществления попыток несанкционированного доступа к ИС Исполнителя;
    </p>
    <p class="indent-2 text-justify">
    - Рассылка через сеть любой информации, которая противоречит требованиям законодательства Республики Казахстан или нормам международного права;
    </p>
    <p class="indent-2 text-justify">
    - Опубликование или передача любой информации или программного обеспечения, которое содержит в себе компьютерные вирусы или другие компоненты, приравненные к ним;
    </p>
    <p class="indent-2 text-justify">
      - Действия, направленные на то, чтобы посылать, публиковать, передавать, воспроизводить, предоставлять или в любом виде использовать в любых целях информацию, программное обеспечение или другие материалы, полностью или частично, полученные посредством Услуг, без разрешения Исполнителя.
    </p>
    <p class="indent-2 text-justify">
    - Направления электронных сообщений коммерческого и иного характера, несогласованной (не запрошенной) предварительно с ее получателем («СПАМ»).
    </p>
    <p class="indent-2 text-justify">4.2. Исполнитель вправе в одностороннем порядке прекратить договорные отношения с Абонентом, с одновременной отправкой письменного уведомления Абоненту, при нарушении Абонентом условий, указанных в п.4.1 настоящего Договора.</p>
    <p class="indent-2 text-justify">4.3. В процессе предоставления Услуг денежные средства автоматически списываются с лицевого счета Абонента в соответствии с текущими тарифами на используемую Услугу. Списание денежных сумм может производиться в режиме реального времени. В случае исчерпания средств на лицевом счете, доступ к Услугам автоматически прекращается.</p>

    <p class="text-center text-lg my-3 font-bold">
      5. Ответственность сторон
    </p>
    <p class="indent-2 text-justify">5.1. Абонент полностью ответственен за сохранность своей учетной записи и убытки, которые могут возникнуть по причине несанкционированного ее использования. Исполнитель не несет ответственности и не возмещает убытки, возникшие по причине несанкционированного доступа третьих лиц к информации о лицевом счете Абонента.</p>
    <p class="indent-2 text-justify">5.2. Абонент полностью ответственен за неразглашение, правильность ввода и сохранность своей учетной записи, логина и пароля, указанного при регистрации учетной записи, служащей для идентификации Абонента. Абонент обязуется оплачивать все счета, вызванные действиями лиц, использовавших его учетную запись при доступе к Услугам.</p>
    <p class="indent-2 text-justify">5.3. Исполнитель не несет ответственность за невозможность предоставления Услуг в следствии сбоев в работе технического оборудования (серверов, сетей и т.п.) не принадлежащих Исполнителю, но связанных с оказанием Услуги в рамках настоящего Договора, равно как и за сбои в сети передачи данных и\или линиях связи с использованием которых предоставляется Услуга.</p>
    <p class="indent-2 text-justify">5.4. Ни при каких обстоятельствах Исполнитель не будет нести ответственности за прямой или косвенный ущерб, причиненный Абоненту в результате использования или невозможности использования Услуги.</p>
    <p class="indent-2 text-justify">5.5. Стороны освобождаются от ответственности за частичное или полное неисполнение своих обязательств по настоящему Договору, если такое невыполнение вызвано действием чрезвычайных и непредотвратимых обстоятельств (непреодолимая сила). К таким обстоятельствам, в частности, относятся: наводнение, пожар, землетрясение, военные действия, а также установление на основании закона Республики Казахстан отсрочки исполнения обязательств (мораторий).</p>
    <p class="indent-2 text-justify">5.6. Исполнитель не несет ответственности за последсвтия оказания Услуг, над которым Исполнитель не имеет общего или эффективного контроля.</p>
    <p class="indent-2 text-justify">5.7. Все споры и разногласия, которые могут возникнуть между Сторонами по вопросам, не нашедшим своего разрешения в тексте настоящего Договора, будут разрешаться путем переговоров на основе действующего законодательства и обычаев делового оборота. При не достижении согласия в процессе переговоров, спор

    <p class="text-center text-lg my-3 font-bold">
        6. Заключительные положения
    </p>
    <p class="indent-2 text-justify">6.1. Настоящий Договор действует с момента его заключения (момента регистрации Абонента) до 31 декабря текущего календарного года. Договор автоматически продлевается на каждый следующий календарный год в случае отсутствия претензий с обеих сторон.</p>
    <p class="indent-2 text-justify">6.2. Настоящий Договор и прейскурант цен являются официальными документами Исполнителя. Действующая версия каждого из этих документов размещена в ИС Исполнителя www.iutest.kz.</p>
    <p class="indent-2 text-justify">6.3. Исполнитель может периодически изменять условия настоящего Договора и его приложений, корректировать действующие тарифы, вводить новые приложения к настоящему Договору, публикуя уведомления об изменениях в ИС www.iutest.kz. Изменения вступают в силу по истечении семи дней с момента их опубликования в ИС Исполнителя.</p>
    <p class="indent-2 text-justify">6.4. В случае, если какой-либо пункт настоящего Договора окажется не подлежащим буквальному исполнению, он толкуется в соответствии с действующим законодательством с учетом первоначальных интересов Сторон, при этом оставшаяся часть настоящего Договора продолжает действовать в полной мере.</p>
    <p class="indent-2 text-justify">6.5. По всем вопросам, неурегулированным в тексте настоящего Договора, стороны руководствуются действующим законодательством РК.</p>
    <p class="indent-2 text-justify">6.6. Все виды тестирования, которые предоставлены на сайте, получены из официальных источников, и подкреплены соответствующими договорами. Тесты являются конфиденциальной информацией и собственностью Исполнителя. Незаконное пользование информацией (пункт 4.1), имеет последствия и преследуется по законодательству Республики Казахстан.</p>


    <p class="text-center text-lg my-3 font-bold">
      Адреса и реквизиты Правообладателя
    </p>
    <p class="indent-2 text-justify font-bold">Правообладатель:</p>
    <p class="indent-2 text-justify font-bold">ТОО «I-UNION»</p>
    <p class="indent-2 text-justify font-bold">БИН 220640051457</p>
    <p class="indent-2 text-justify font-bold">Почтовый индекс: 160000</p>
    <p class="indent-2 text-justify font-bold">Адрес: Республика Казахстан, г. Шымкент, Аль-Фарабийский район, улица Ахмет Байтурсынов, дом15а, кв.3</p>
    <p class="indent-2 text-justify font-bold">ИИК KZ93914122203KZ0057L</p>
    <p class="indent-2 text-justify font-bold">Наименование банка АО "Bereke Bank"</p>
    <p class="indent-2 text-justify font-bold">БИК BRKEKZKA</p>
    <p class="indent-2 text-justify font-bold">КБЕ 14</p>
    <p class="indent-2 text-justify font-bold">Валюта KZT</p>
    <p class="indent-2 text-justify font-bold">Директор Жунисова Карина</p>

  </div>
</div>
<div class="container mx-auto py-8 px-3" *ngIf="translate.currentLang == 'kk'">
  <h1 class="mb-4 text-xl font-extrabold text-black text-center leading-none tracking-tight md:text-2xl lg:text-3xl">
    Жария оферта шарты
  </h1>
  <p class="my-4 text-lg font-extrabold text-black text-center leading-none tracking-tight md:text-xl lg:text-2xl">
    Ақпараттық жүйе арқылы Интернет желісінде қызмет көрсету туралы шарт WWW.IUTEST.KZ
  </p>
  <div class="mt-[30px] text-black">
    <p class="indent-1.5 text-justify">
      Болашақта Интернет желісінде ақпараттық жүйені (АЖ) пайдаланатын" Орындаушы " деп аталатын "I-UNION" жауапкершілігі шектеулі серіктестігі www.iutest.kz, осы "Интернет желісінде АЖ арқылы қызмет көрсету туралы шартты "жариялайды www.iutest.kz", абоненттің атына жария оферта болып табылатын, онда Абонент – пайдаланушының кез келген жеке немесе заңды тұлғасы АЖ қызметтерімен www.iutest.kz. Орындаушы мен Абонент бұдан әрі бірлесіп және жеке-жеке "Тараптар" немесе "Тарап" деп аталады.
    </p>
    <p class="indent-1.5 text-justify">
      Абонентті Орындаушының АЖ тіркеу фактісі www.iutest.kz қызметтерді пайдаланушы ретінде осы офертаның шарттарын, яғни АЖ-да тіркелген абонентті толық және сөзсіз қабылдау болып табылады www.iutest.kz. Қазақстан Республикасының Азаматтық кодексіне сәйкес орындаушымен шарттық қатынастарға түскен тұлға болып табылады. Абонентті тіркеу тәртібі Орындаушының АЖ мекенжайы бойынша көрсетілген www.iutest.kz.
    </p>
    <p class="indent-1.5 text-justify">
      Осы Шарттың Төменде баяндалған жекелеген талаптарымен келіспеген жағдайда Абонент қызметті алудан бас тартуға құқылы. Осы Офертаға байланысты анықтамалар мен сұрақтарға жауаптарды АЖ уәкілетті өкілдері ұсынады www.iutest.kz Орындаушының АЖ-дағы "қолдау қызметі" бөлімі шеңберінде.
    </p>
    <p class="text-center text-lg my-3 font-bold">
      1. Шарттың мәні
    </p>
    <p class="indent-1.5 text-justify">
      1.1.	Орындаушы абонентке осы Шарт шеңберінде мынадай қызметтерді ұсынады:
    </p>
    <p class="indent-2 text-justify">
      - Абонентті тестілеу бойынша қызметтер www.iutest.kz онлайн режимінде;
    </p>
    <p class="indent-2 text-justify">
      - Прейскурантқа сәйкес өзге де қызметтер.
    </p>
    <p class="indent-1.5 text-justify">
      1.2.	Абонент осы Шарт шеңберінде қызметтерді Орындаушының АЖ-да дербес сатып алады www.iutest.kz Абоненттің Жеке кабинетінде қызметке өтінім беру арқылы. Өтінімді ресімдеу кезінде Абонент көрсетілетін қызметтің құны, тарифтік жоспарлары және қызмет көрсету тәртібі туралы автоматты түрде хабардар етіледі, бұл ретте абоненттің жоғарыда көрсетілген ақпаратпен келісімінсіз қызметтер көрсету мүмкін емес.
    </p>

    <p class="text-center text-lg my-3 font-bold">
      2. Тараптардың құқықтары мен міндеттері
    </p>
    <p class="indent-2 text-justify font-bold">2.1. Орындаушы міндеттенеді:</p>
    <p class="indent-2 text-justify">2.1.1. Абонентке қажетті техникалық жөндеу және профилактикалық жұмыстарды жүргізу уақытын қоспағанда, қызметтерді күнделікті алу мүмкіндігін беру, ол абонентке ең аз зиян келтіруі мүмкін уақытқа жоспарланатын болады.</p>
    <p class="indent-2 text-justify">2.1.2. 3506 телефоны бойынша сағат 09.00-ден 18.00-ге дейін (жексенбіден басқа) кеңес беру арқылы абонентке ақпараттық қолдау көрсету. Консультациялар көлемі қызметтерді ұсынуға байланысты нақты мәселелермен және қызмет шеңберінде ұсынылған АЖ-ны баптауға қатысты мәселелермен шектеледі.</p>
    <p class="indent-2 text-justify">2.1.3. Абонент алатын немесе жіберетін ақпараттың құпиялылығын қамтамасыз ету үшін желіде жалпы қабылданған техникалық және ұйымдастырушылық шараларды қабылдау. Абонент алатын немесе жіберетін ақпаратқа үшінші тұлғалардың қолжетімділігі Қазақстан Республикасының заңнамасына сәйкес ғана қамтамасыз етіледі.</p>
    <p class="indent-2 text-justify">2.1.4. АЖ-да жариялау www.iutest.kz абоненттерге қызмет көрсетуге және осы Шарттың талаптарын өзгертуге байланысты ресми хабарламалар.</p>
    <p class="indent-2 text-justify font-bold">2.2. Абонент міндеттенеді:</p>
    <p class="indent-2 text-justify">2.2.1. Осы Шартта және оның қосымшаларында баяндалған, осы Шарттың ажырамас бөлігі болып табылатын барлық талаптарды орындау.</p>
    <p class="indent-2 text-justify">2.2.2. Осы Шартқа сәйкес қажетті аванстық төлемдерді уақтылы жүргізе отырып, Жеке кабинетте оң теңгерімді өз бетінше ұстап тұру.</p>
    <p class="indent-2 text-justify">2.2.3. Орындаушы берген қызметтерге ақы төленгенін растайтын қаржылық құжаттарды сақтау. Абонент төлем құжаттарын автоматты режимде, Орындаушының АЖ арнайы бетінде алады.</p>
    <p class="text-center text-lg my-3 font-bold">
      3. Қызметтердің құны және есеп айырысу тәртібі
    </p>
    <p class="indent-2 text-justify">3.1. Қызметтердің құны Орындаушы бекіткен және Орындаушының АЖ мекенжайы бойынша қолжетімді прейскурантта айқындалады www.iutest.kz.</p>
    <p class="indent-2 text-justify">3.2. Көрсетілетін қызметтердің бағасы теңгемен белгіленеді. Төлем теңгемен жүргізіледі.</p>
    <p class="indent-2 text-justify">3.3. Қызметтерге ақы төлеуді абонент Банктік карталар сияқты "электрондық төлемдерді" қолдана отырып жүргізе алады.</p>
    <p class="indent-2 text-justify">3.4. Осы Шарт шеңберіндегі бастапқы төлемді абонент Орындаушының АЖ-да тіркелгеннен кейін жасайды. Бастапқы төлем сомасы шектелмеген және кез келген оң мәнді құрауы мүмкін.</p>
    <p class="indent-2 text-justify">3.5. Абонент өзі жасаған төлемдердің дұрыстығына дербес жауапты болады. Орындаушының банктік деректемелері өзгерген кезде, Орындаушының АЖ-да жаңа деректемелер жарияланған сәттен бастап Абонент ескірген деректемелер бойынша жүргізілген төлемдер үшін дербес жауапты болады.</p>
    <p class= "indent-2 text-justify" >3.6 қызметке ақы төлеу фактісі расталды, ал абоненттің шоты банктен Орындаушының шотына ақша қаражатының аударылғаны туралы мәліметтер келіп түскеннен кейін ашық деп есептеледі;</p>
    <p class="indent-2 text-justify">3.7. Қызметті пайдалану үшін Абонент өзінің жеке кабинетінде оң теңгерімді сақтауы қажет. Абонент Орындаушының қызметтерін уақтылы төлеуге міндетті.</p>
    <p class="indent-2 text-justify" >3.8 егер ағымдағы жылдың ішінде Абонент қызметті пайдаланбаған болса, онда жыл соңында Орындаушы Абоненттің Жеке кабинетіндегі шоттан өз пайдасына ақшалай қаражатты толық көлемде есептен шығаруға құқылы.</p>
    <p class="indent-2 text-justify">3.9. Қолда бар қаражат қалдығы бойынша, оның ішінде теріс және абонентке қатысты тиесілі төлемдер бойынша ақпарат Абоненттің Жеке кабинетінде көрсетіледі. Абонент ағымдағы ақпаратты уақтылы алу үшін өз шотының жай-күйін үнемі тексеріп отырады.</p>
    <p class="indent-2 text-justify">3.10. Орындаушы қызметтердің бағаларын біржақты тәртіппен қайта қарауға және жаңа тарифтік жоспарды (бағалар Прейскурантына өзгерістер мен толықтырулар) енгізуге құқылы. Егер өзгерістер күшіне енгеннен кейін Абонент қызметті пайдалануды жалғастырса, осы фактімен ол енгізілген өзгерістермен өзінің келісімін растайды.</p>
    <p class="indent-2 text-justify">3.11. Жалпы қызметтерге де, олардың кез-келген бөлігіне де қол жетімділік тоқтатылған кезде, пп-да белгіленген тәртіппен. Осы Шарттың 4.1 және 4.2. абоненттің шотынан есептен шығарылған қаражат қол жеткізу тоқтатылған сәттен бастап және осы Шарт бұзылған сәтке дейін абонентке қызметтер көрсету шеңберінде қайтарылмайды және өтелмейді.</p>
    <p class="text-center text-lg my-3 font-bold">
      4. Қызметке қол жеткізуді тоқтату, шартты тоқтату
    </p>
    <p class="indent-2 text-justify">4.1. Егер Абонент қатысса немесе Орындаушы Қызметтерді пайдалану ережелері мен нормаларын негізді түрде бұзады деп санайтын әрекеттерді жасаса, Орындаушы біржақты тәртіппен абоненттің жалпы қызметтерге де, олардың кез келген бөлігіне де (абоненттің дәлелді жауабын алғанға дейін) қолжетімділігін біржақты тәртіппен 30 күнге дейінгі мерзімге тоқтата тұра алады, атап айтқанда:</p>
    <p class="indent-2 text-justify">
      - Басқа абоненттердің қызметтерге қол жеткізуін шектеуге немесе кедергі келтіруге, сондай-ақ Орындаушының АЖ-не рұқсатсыз қол жеткізу әрекеттерін жүзеге асыруға бағытталған іс-әрекеттер;
    </p>
    <p class="indent-2 text-justify">
      - Қазақстан Республикасы заңнамасының талаптарына немесе халықаралық құқық нормаларына қайшы келетін кез келген ақпаратты желі арқылы тарату;
    </p>
    <p class="indent-2 text-justify">
      - Компьютерлік вирустарды немесе оларға теңестірілген басқа компоненттерді қамтитын кез келген ақпаратты немесе бағдарламалық жасақтаманы жариялау немесе беру;
    </p>
    <p class="indent-2 text-justify">
      - Орындаушының рұқсатынсыз Қызметтер арқылы толық немесе ішінара алынған ақпаратты, бағдарламалық қамтамасыз етуді немесе басқа материалдарды кез келген мақсатта жіберуге, жариялауға, беруге, жаңғыртуға, беруге немесе кез келген түрде пайдалануға бағытталған іс-әрекеттер.
    </p>
    <p class="indent-2 text-justify">
      - Алушымен алдын ала келісілмеген (сұратылмаған) коммерциялық және өзге сипаттағы электрондық хабарламаларды жіберу ("СПАМ").
    </p>
    <p class="indent-2 text-justify">4.2. Абонент осы Шарттың 4.1-тармағында көрсетілген талаптарды бұзған кезде Орындаушы абонентпен шарттық қатынастарды біржақты тәртіппен абонентке жазбаша хабарлама жібере отырып тоқтатуға құқылы.</p>
    <p class="indent-2 text-justify">4.3. Қызметтерді ұсыну процесінде ақшалай қаражат абоненттің жеке шотынан пайдаланылатын қызметке ағымдағы тарифтерге сәйкес автоматты түрде есептен шығарылады. Ақша сомаларын есептен шығару нақты уақыт режимінде жүргізілуі мүмкін. Дербес шоттағы қаражат таусылған жағдайда қызметтерге қол жеткізу автоматты түрде тоқтатылады.</p>
    <p class="text-center text-lg my-3 font-bold">
      5. Тараптардың жауапкершілігі
    </p>
    <p class="indent-2 text-justify">5.1. Абонент өзінің есептік жазбасының сақталуына және оны рұқсатсыз пайдалану себебінен туындауы мүмкін шығындарға толығымен жауапты. Орындаушы абоненттің дербес шоты туралы ақпаратқа үшінші тұлғалардың рұқсатсыз қол жеткізуі себебінен туындаған залалдарды жауапты етпейді және өтемейді.</p>
    <p class="indent-2 text-justify">5.2. Абонент өзінің есептік жазбасын, абонентті сәйкестендіруге қызмет ететін есептік жазбаны тіркеу кезінде көрсетілген логин мен парольді жария етпеуге, дұрыс енгізуге және сақтауға толық жауапты. Абонент қызметтерге қол жеткізу кезінде оның есептік жазбасын пайдаланған тұлғалардың әрекеттерінен туындаған барлық шоттарды төлеуге міндеттенеді.</p>
    <p class="indent-2 text-justify">5.3. Орындаушы Орындаушыға тиесілі емес, бірақ осы Шарт шеңберінде қызмет көрсетуге байланысты техникалық жабдықтардың (серверлердің, желілердің және т.б.) жұмысындағы іркілістер салдарынан, сондай-ақ деректерді беру желісіндегі және\немесе қызмет көрсетілетін байланыс желілеріндегі іркілістер үшін қызмет көрсетудің мүмкін ответственностьстігі үшін жауапты болмайды.</p>
    <p class="indent-2 text-justify">5.4. Ешбір жағдайда Орындаушы абонентке қызметті пайдалану немесе пайдалану мүмкін результатестігі нәтижесінде келтірілген тікелей немесе жанама залал үшін жауапты болмайды.</p>
    <p class="indent-2 text-justify">5.5. Егер мұндай орындамау Төтенше және алдын алуға болмайтын мән-жайлардың (еңсерілмейтін күш) әсерінен туындаса, Тараптар осы Шарт бойынша өз міндеттемелерін ішінара немесе толық орындамағаны үшін жауапкершіліктен босатылады. Мұндай мән-жайларға, атап айтқанда: су тасқыны, өрт, жер сілкінісі, әскери іс-қимылдар, сондай-ақ Қазақстан Республикасының Заңы негізінде міндеттемелерді орындауды кейінге қалдыру (мораторий) белгілеу жатады.</p>
    <p class="indent-2 text-justify">5.6. Орындаушы Орындаушының жалпы немесе тиімді бақылауы жоқ қызметтер көрсетудің кейінгі нәтижелері үшін жауапты болмайды.</p>
    <p class="indent-2 text-justify">5.7. Осы шарттың мәтінінде өз шешімін таппаған мәселелер бойынша Тараптар арасында туындауы мүмкін барлық даулар мен келіспеушіліктер қолданыстағы заңнама мен іскерлік айналым әдет-ғұрыптары негізінде келіссөздер арқылы шешілетін болады. Келіссөздер процесінде келісімге қол жеткізілмеген жағдайда, дау
    <p class="text-center text-lg my-3 font-bold">
      6. Қорытынды ережелер
    </p>
    <p class="indent-2 text-justify">6.1. Осы Шарт ол жасалған сәттен бастап (абонент тіркелген сәттен бастап) ағымдағы күнтізбелік жылдың 31 желтоқсанына дейін қолданылады. Шарт екі тараптан да шағымдар болмаған жағдайда әрбір келесі күнтізбелік жылға автоматты түрде ұзартылады.</p>
    <p class="indent-2 text-justify">6.2. Осы Шарт пен баға прейскуранты Орындаушының ресми құжаттары болып табылады. Осы құжаттардың әрқайсысының қолданыстағы нұсқасы Орындаушының АЖ де орналастырылған www.iutest.kz.</p>
    <p class="indent-2 text-justify">6.3. Орындаушы осы Шарттың және оның Қосымшаларының талаптарын кезең-кезеңімен өзгерте алады, қолданыстағы тарифтерді түзете алады, АЖ-дағы өзгерістер туралы хабарламалар жариялай отырып, осы Шартқа жаңа қосымшалар енгізе алады www.iutest.kz. өзгерістер Орындаушының АЖ-да жарияланған сәттен бастап жеті күн өткен соң күшіне енеді.</p>
    <p class="indent-2 text-justify">6.4. Егер осы Шарттың қандай да бір тармағы сөзбе-сөз орындалуға жатпайтын болып табылған жағдайда, ол қолданыстағы заңнамаға сәйкес Тараптардың бастапқы мүдделерін ескере отырып түсіндіріледі, бұл ретте осы Шарттың қалған бөлігі толық көлемде қолданылуын жалғастырады.</p>
    <p class="indent-2 text-justify">6.5. Осы шарттың мәтінінде реттелмеген барлық мәселелер бойынша Тараптар ҚР қолданыстағы заңнамасын басшылыққа алады.</p>
    <p class="indent-2 text-justify">6.6. Сайтта ұсынылған тестілеудің барлық түрлері ресми көздерден алынған және тиісті шарттармен расталған. Тесттер Құпия Ақпарат және Орындаушының меншігі болып табылады. Ақпаратты заңсыз пайдалану (4.1-тармақ) салдары бар және Қазақстан Республикасының заңнамасы бойынша қудаланады.</p>

    <p class="text-center text-lg my-3 font-bold">
      Құқық иеленушінің мекенжайлары мен деректемелері
    </p>
    <p class="indent-2 text-justify font-bold" >құқық иесі:</p>
    <p class="indent-2 text-justify font-bold">"I-UNION"ЖШС</p>
    <p class="opent-2 text-justify font-bold">bin 220640051457</p>
    <p class= "opent-2 text-justify font-bold">пошта индексі: 160000</p>
    <p class="indent-2 text-justify font-bold">Мекен-жайы: Қазақстан Республикасы, Шымкент қ., Әл-Фараби ауданы, Ахмет Байтұрсынов көшесі, 15а үй, 3 пәтер < /p>
    <p class="indent-2 text-justify font-bold">ЖСК KZ93914122203KZ0057L</p>
    <p class= "indent-2 text-justify font-bold">"Bereke Bank"АҚ банкінің атауы</p>
    <p class= "indent-2 text-justify font-bold">BIC brkekzka</p>
    <p class= "indent-2 text-justify font-bold">KBE 14</p>
    <p class="indent-2 text-justify font-bold" >KZT валютасы</p>
    <p class="indent-2 text-justify font-bold">Директор Денисова Карина </p>
  </div>
</div>
